$pie-size-big: 60px;
$pie-size-md: 40px;
$pie-size-xs: 35px;
$login-page: #2e69a1;
$panels-head: #3387c8;
$panels-hover: #ffff99;
$label: #54A6E6;
$buttonsAdd: #86bfea;
$sidebar-color: #34495E;
$sidebar-scroll-bar: #b0b0b0;
$menu-color-icon: #888;
$menu-color-hover: #eee;
$main-color-font: #555;
$content: #d0d3d9;
$content-border: #888;
$panels-head-border: 1px solid #3387c8;
$panels-content: #f7fafd;
$panels-border: 1px solid #dedede;
$panels-border-color: #dedede;
$color-shadow1: rgba(0,0,0,.2);
$color-shadow2: rgba(0,0,0,.14);
$color-shadow3: rgba(0,0,0,.12);
$color-black: #000;

$panels-shadow: 0 1px 3px 0 $color-shadow1,0 1px 1px 0 $color-shadow2,0 2px 1px -1px $color-shadow3, 0 -1px 1px 0 $color-shadow3;

$sidebar-max: 400px;
$sidebar-md: 350px;

$right-panels-shadow: 0 2px 2px 0 $color-shadow2, 0px 3px 1px -2px $color-shadow1, 0px 1px 5px 0px $color-shadow3;

$button-width: 70px;

$xs-panel-height: 40px;

@mixin font-size ($font-size){
  font-size: $font-size;
}

@mixin height-background ($height, $background){
  min-height: $height;
  background-color: $background;
}

@mixin back-color($background, $color, $overflow){
  background-color: $background;
  color: $color;
  overflow: $overflow;
}

@mixin font($font-weight, $line-height){
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin border-top-bottom($border){
  border-top: $border;
  border-bottom: $border;
}

@mixin border-top-bottom-left($border) {
  border-right: $border;
  border-bottom: $border;
  border-left: $border;
}

@mixin border-right($color, $size){
  border-right: $color;
  border-top-right-radius: $size;
  border-bottom-right-radius: $size;
  transition-property: border-bottom-right-radius;
  transition-duration:1s;
}

@mixin border-left($size){
  border-top-left-radius: $size;
  border-bottom-left-radius: $size;
  transition-property: border-bottom-left-radius;
  transition-duration:1s;
}

@mixin panel-heading($content, $position, $right, $top, $font, $transition, $transform){
  content: $content;
  position: $position;
  right: $right;
  top: $top;
  font-size: $font ;
  transition: $transition;
  transform: $transform;
}

@mixin padding-left-right($left, $right){
  padding-left: $left;
  padding-right:  $right;
}

@mixin margin-left-right($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

@mixin tr-size($th1,$th2, $th3, $th4, $th5){
  th:nth-child(1){
    width: $th1;
  }
  th:nth-child(2){
    width: $th2;
  }
  th:nth-child(3){
    width: $th3;
  }
  th:nth-child(4){
    width: $th4;
  }
  th:nth-child(5){
    width: $th5;
  }
}

@mixin td-size($td1,$td2, $td3, $td4, $td5) {
  td:nth-child(1) {
    width: $td1;
  }
  td:nth-child(2){
    width: $td2;
  }
  td:nth-child(3){
    width: $td3;
  }
  td:nth-child(4){
    width: $td4;
  }
  td:nth-child(5){
    width: $td5;
  }
}

@mixin tr-td-size($t1,$t2, $t3, $td4){
  th:nth-child(1){
    width: $t1;
  }
  th:nth-child(2){
    width: $t2;
  }
  th:nth-child(3){
    width: $t3;
  }
  th:nth-child(4){
    width: $td4;
  }
  td:nth-child(1){
    width: $t1;
  }
  td:nth-child(2){
    width: $t2;
  }
  td:nth-child(3){
    width: $t3;
  }
  td:nth-child(4){
    width: $td4;
  }
}

@mixin tr-size-flex($th1,$th2, $th3, $th4, $th5) {
  th:nth-child(1) {
    flex-basis: $th1;
  }
  th:nth-child(2) {
    flex-basis: $th2;
  }
  th:nth-child(3) {
    flex-basis: $th3;
  }
  th:nth-child(4) {
    flex-basis: $th4;
  }
  th:nth-child(5) {
    flex-basis: $th5;
  }
}

@mixin td-size-flex($td1,$td2, $td3, $td4, $td5) {
  td:nth-child(1) {
    flex-basis: $td1;
  }
  td:nth-child(2) {
    flex-basis: $td2;
  }
  td:nth-child(3) {
    flex-basis: $td3;
  }
  td:nth-child(4) {
    flex-basis: $td4;
  }
  td:nth-child(5) {
    flex-basis: $td5;
  }
}

@mixin vendor-prefixes($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  @include vendor-prefixes(border-radius, $radius);
}

@mixin background-border($background,$px, $border){
  background-color: $background;
  border: $px solid $border;
}

@mixin transition(){
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin width-height($width, $height){
  width: $width;
  height: $height;
}

@mixin color-back-border($color,$background, $border){
  color: $color;
  background-color: $background;
  border-color: $border;
}

@mixin make-sm-column-plus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-sm-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) + 12px);
  }
}

@mixin make-md-column-plus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) + 12px);
  }
}

@mixin make-lg-column-plus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-lg-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) + 14px);
  }
}

@mixin make-xl-column-plus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-xl-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) + 12px);
  }
}

@mixin make-sm-column-minus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-sm-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) - 12px);
  }
}

@mixin make-md-column-minus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) - 12px);
  }
}

@mixin make-lg-column-minus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-lg-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) - 14px);
  }
}

@mixin make-xl-column-minus($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-xl-min) {
    float: left;
    --widthA: percentage(($columns / $grid-columns));
    width: calc(var(--widthA) - 12px);
  }
}
