$pie-size-big: 60px;
$pie-size-md: 40px;
$pie-size-sx: 30px;
//$panels-color: #2d689f;
//$panels-head: #1A6D9C;
//$sidebar-color: #002132;
//$content: #D1D4D5;
//$panels-content: #f5f8ff;

//$panels-head: #497EB1;
$panels-head: #3387c8;
$label: #FFFFEE;
//$label: #F8C957;
//$sidebar-color: #2E3440;
$sidebar-color: #34495E;
$content: #D0D3D9;
$panels-content: #F7FAFD;
$panels-border: 1px solid #dedede;
$panels-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12), 0 -1px 1px 0 rgba(0,0,0,.12);
$sidebar-max: 400px;
$sidebar-md: 350px;
$color-black: #000;


@mixin back-color($background, $color, $overflow){
  background: $background;
  color: $color;
  overflow: $overflow;
}

@mixin font($font-weight, $line-height){
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin pie-svg ($height, $width){
  height: $height;
  width: $width;
}

@mixin border-top-bottom($border){
  border-top: $border;
  border-bottom: $border;
}

//$panels-head: #007BA9;
//$sidebar-color: #001F2B;
//$content: #D1D1D1;
//$panels-content: #F7FAFD;
