@import "mixins";

h4, h3 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: sans-serif !important;
}

h5 {
  @include font(400, 1);
  font-size: 13px;
  font-family: sans-serif !important;
}

p,
label,
a,
.form-control,
table {
  font-size: 13px;
  font-family: sans-serif !important;
}

#main-page {
  padding: 0;
}

footer {
  padding: 0 15px;
  background: $panels-head;
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 2000;
  //position: absolute;
  ////bottom: 0;
  width: 100%;
}

#removeAssessAlert, #saveAssessAlert {
  margin: 10px;
}

#filter-panel {
  .panel {
    margin-bottom: 0;
    border: {
      radius: 0;
      left: 0;
      right: 0;
    }

    .form-inline {
      > .row {
        > div:nth-child(2), > div:nth-child(3) {
          margin-top: 10px;
        }
      }

      .form-group {
        padding: 0;
        p{
          margin-top: 10px;
        }
        .checkbox {
          margin-top:5px;
        }
      }
    }


    button {
      background-color: #fff;
      border-color: $content;
      &:hover {
        color: #000;
        background-color: $content;
      }
    }

    .input-group-btn.search-panel {
      width: 1%;
    }
    .checkbox {
      margin-left: 10px;
      margin-right: 10px;
    }

    span.number-of-results {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.allPanels .title h4 span,.allPanels .title h5 span {
  text-decoration:underline;
  background-color:yellow;
}

span.caret {
  margin-left: 5px !important;
}

#modalEvidence {
  #textareaNameEvid {
    height: 100% !important;
  }
}

//All textarea
.addedCom, .editable_text,textarea {
  border: 1px solid rgb(185, 185, 185);
  min-height: 50px;
  padding: 2px;
  margin-bottom: 5px;
  font-size: 1.4em;
}

.icon {
  background-image: url(../images/ikony.svg);
  //background-size: 68px 65px;
  height: 65px;
  margin: 1rem 0 2rem;
  width: 68px;
}
