@import "mixins";

/***** Fonts *****/
h4, h3 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: sans-serif !important;
}

h5 {
  @include font(400, 1);
  font-size: 13px;
  font-family: sans-serif !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

p,
label,
.form-control,
table {
  font-size: 13px;
  font-family: sans-serif !important;
}

a, a:hover, a:focus {
  text-decoration: none !important;
}

p {
  margin-top: 10px;
}

/***** Buttons *****/
.btn {
  background-color: $panels-head;
  border-color: $panels-head;
  color: #fff;
}

.btn-open {
  padding: 5px 8px;
  float: right;
  margin: 5px 0 5px 0;
}

.btn-edit {
  padding: 5px 10px;
  float: right;
  margin: auto 0 5px 0;
}

.btn-add {
  border-color: $buttonsAdd;
  background-color: $buttonsAdd;
  margin: 0 3px 0 4px;
  padding: 4px 10px;
}

.btn-expand {
  padding: 4px 9px;
  float: right;
}

.btn-up, .btn-arrow {
  padding: 5px 12px
}

.btn-up {
  margin: 4px 0 3px auto;
  display: block !important;
  min-width: $button-width;
}

.btn-arrow {
  float: right;
  margin-left: 4px;
}

.btn-arrow--disabled {
  background-color: rgb(175, 175, 175);
  border-color: rgb(152, 152, 152);
}

.btn-expand-panel {
  float: right;
  margin: 3px;
  padding: 5px 13px;
  min-width: $button-width;
}

.btn {
  &:hover,
  &-add:hover,
  &-arrow:hover,
  &-edit:hover,
  &-expand:hover,
  &-expand-panel:hover,
  &-open:hover,
  &:focus,
  &-add:focus,
  &-arrow:focus,
  &-edit:focus,
  &-expand:focus,
  &-expand-panel:focus,
  &-open:focus {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  &-add:hover {
    background-color: #7fb9e5;
    border-color: #7FB9E5;
  }
}

.btn-panel-search {
  &:focus, &:hover {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
  }
  &__caret {
    margin-left: 5px !important;
  }
}

.btn {
  &-toggle,
  &-toggle-2 {
    @include width-height(40px, 40px);
    @include padding-left-right (13px, 13px);
    color: #fff;
    font-size: 18px;

    &:focus,
    &:hover {
      @include background-border($menu-color-hover, 1px, $menu-color-hover);
    }
    &:focus {
      span {
        color: $menu-color-icon;
      }
    }
  }
  &-toggle {
    float: none;
  }
}

.btn-search {
  padding: 7px 14px 5px 10px;
  position: absolute;
  top: 0;
  right: 60px;
  margin: 8px 7px 10px 0;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 18px;
  &:focus {
    @include background-border($menu-color-hover, 1px, $menu-color-hover);
    outline: none;
    span {
      color: $menu-color-icon;
    }
  }
  &:hover {
    @include background-border($menu-color-hover, 1px, $menu-color-hover);
    outline: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    &:focus {
      @include background-border($menu-color-hover, 1px, $menu-color-hover);
      outline: none;
    }
  }
}

.btn-main-menu {
  @include background-border(transparent, 1px, #fff);
  @include padding-left-right (8px, 8px);
  @include width-height(40px, 40px);
  .icon-bar {
    background-color: #fff;
  }
  &:hover, &:focus {
    @include background-border($menu-color-hover, 1px, $menu-color-hover);
  }
  &:focus {
    .icon-bar {
      background-color: $menu-color-icon;
    }
  }
}

/***** Content *****/

#main-page {
  padding: 0;
}

//
//.allPanels .title h4 span,.allPanels .title h5 span {
//  text-decoration:underline;
//  background-color:yellow;
//}

/***** Footer *****/
footer {
  padding: 0 15px;
  background: #dfe2e8;
  border-top: 1px solid #d0d3d9;
  color: $main-color-font;
  position: fixed;
  bottom: 0;
  z-index: 2000;
  width: 100%;
}
