@import "mixins";
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.search-form {
  @include make-row();

  &-input {
    @include make-xs-column(12);
    @include make-sm-column(7);
    @include make-md-column(8);
    @include make-lg-column(4);
  }

  &-buttons {
    @include make-xs-column(12);
    @include make-sm-column(5);
    @include make-md-column(3);
    @include make-lg-column(2);
  }

  &-checkboxes {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    @include make-lg-column(6);
    @include make-xl-column(5);
  }
}

.modal-table-row {
  @include make-row();

  .modal-table {
    @include make-xs-column(12);
  }
}

.login-page-row {
  @include make-row();

  .login-page-block {
    @include make-sm-column(8);
    @include make-md-column(6);
    @include make-lg-column(4);
    @include make-sm-column-offset(4);
    @include make-md-column-offset(4);
  }
}

.panels-list {
  @include make-row();
  @include make-xs-column(12);
  @include make-lg-column(9);
}

.panel-header {
  @include make-row();

  &__title {
    @include make-xs-column(12);
    @include make-sm-column(5);
    @include make-lg-column(6);
  }

  &__assessment{
    @include make-xs-column(2);
    @include make-sm-column(1);
  }

  &__bar-slider {
    @include make-xs-column(4);
    @include make-sm-column(3);
    @include make-lg-column(2);
  }

  &__filter{
    @include make-xs-column(4);
    @include make-sm-column(2);
  }
}

.panel-block, .panel-title {
  @include make-row();

  &__number {
    @include make-xs-column(2);
    @include make-sm-column(1);
    @include make-md-column(1.2);
    @include make-lg-column(1);
    @include make-xl-column(0.8);
      }
  &__title {
    @include make-xs-column(10);
    @include make-sm-column(4);
    @include make-md-column(4);
    @include make-lg-column(5);
    @include make-xl-column(5.2);
  }
  &__assessment {
    @include make-xs-column(4);
    @include make-sm-column(2.6);
    @include make-md-column(2.2);
    @include make-lg-column(2);
    @include make-xl-column(2);
  }
  &__bar-slider {
    @include make-xs-column(5);
    @include make-sm-column(2.8);
    @include make-md-column(3);
    @include make-lg-column(2.6);
    @include make-xl-column(2.8);
  }
  &__button-expand {
    @include make-xs-column(3);
    @include make-sm-column(1.6);
    @include make-md-column(1.6);
    @include make-lg-column(1.4);
    @include make-xl-column(1.2);
  }
  &__button-expand-three {
    @include make-xs-column(3);
    @include make-sm-column(1.6);
    @include make-md-column(1.6);
    @include make-lg-column(1.4);
    @include make-xl-column(1.2);
  }

  &__assess-icon {
    @include make-xs-column(7);
    @include make-sm-column(6);
  }

  &__assess-value {
    @include make-xs-column(5);
    @include make-sm-column(6);
  }
  &__assess-body {
    @include make-xs-column(6);
  }
  &__evidences-details {
    @include make-xs-column(12)
  }
}

.right-panel-heading__row {
  @include make-row();
}

.right-panel-heading__icon {
  @include make-row();
  @include make-xs-column(2);
}

.right-panel-heading__title {
  @include make-row();
  @include make-xs-column(10);
}

.right-panel-body__buttons {
  @include make-row();
  @include make-md-column(12);
}

.right-panel-body__label {
  @include make-row();
  @include make-xs-column(3);
  @include make-lg-column(4);
  @include make-xl-column(4);
}

.right-panel-body__title {
  @include make-row();
  @include make-xs-column(9);
  @include make-lg-column(8);
  @include make-xl-column(8);
}
