@import "mixins";
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.container-fluid {
  padding-left: 0;

  .panels {
    @include make-row();

    @media (max-width: $screen-xs-max) {
      .col-xs-5-2 {
        @include make-xs-column( 5.2 );
        padding-left: 15px;
        padding-right: 10px;
      }
      .col-xs-2-8 {
        @include make-xs-column( 2.8 );
      }
    }

    @media (min-width: $screen-sm-min) and  (max-width: $screen-sm-max) {
      .col-sm-1-2 {
        @include make-sm-column( 1.2 );
      }
      .col-sm-1-4 {
        @include make-sm-column( 1.4 );
      }
      .col-sm-1-6 {
        @include make-sm-column( 1.6 );
      }
      .col-sm-2-4 {
        @include make-sm-column( 2.4 );
      }
      .col-sm-2-6 {
        @include make-sm-column( 2.6 );
      }
      .col-sm-2-8 {
        @include make-sm-column( 2.8 );
      }
      .col-sm-10-4 {
        @include make-sm-column( 10.4 );
      }
    }

    @media (min-width: $screen-md-min) and  (max-width: $screen-md-max) {
      .col-md-1-2 {
        @include make-md-column( 1.2 );
        .navbar-btn {
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
      .col-md-1-6 {
        @include make-md-column( 1.6 );
      }
      .col-md-2-8 {
        @include make-md-column( 2.8 );
      }
      .col-md-2-2 {
        @include make-md-column( 2.2 );
      }
      .col-md-5-2 {
        @include make-md-column(5.2);
      }
    }
  }

  @media (min-width: $screen-lg-min) and  (max-width: $screen-lg-max){
    .col-lg-0-8{
      @include make-lg-column( 0.8 );
    }
    .col-lg-1-2 {
      @include make-lg-column( 1.2 );
    }
    .col-lg-1-4 {
      @include make-lg-column( 1.4 );
    }
    .col-lg-2-6 {
      @include make-lg-column( 2.6 );
    }
    .col-lg-2-8 {
      @include make-lg-column( 2.8 );
    }
    .col-lg-5-2 {
      @include make-lg-column(5.2);
    }
  }

  @media (min-width: $screen-xl-min){
    .col-xl-0-8{
      @include make-xl-column( 0.8 );
    }
    .col-xl-1-2 {
      @include make-xl-column( 1.2 );
    }
    .col-xl-1-5{
      @include make-xl-column( 1.5 );
    }
    .col-xl-2-5{
      @include make-xl-column( 2.5 );
    }
    .col-xl-2-8 {
      @include make-xl-column( 2.8 );
    }
    .col-xl-5-2 {
      @include make-xl-column(5.2);
    }
  }
  padding-right: 0;
}
