@import "mixins";
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@-ms-viewport {
  width: auto !important;
}

.search-form {
  @include make-row();

  &-input {
    @include make-xs-column(12);
    @include make-sm-column(7);
    @include make-md-column(7);
    @include make-lg-column(4);
  }

  &-checkboxes {
    @include make-xs-column(7);
    @include make-sm-column(8);
    @include make-md-column(7);
    @include make-lg-column(6);
    @include make-xl-column(5);
  }

  &-buttons {
    @include make-xs-column(5);
    @include make-sm-column(3);
    @include make-md-column(3);
    @include make-lg-column(2);
    @include make-xl-column(3);
  }
}

.checkboxes-group {
  &-row {
    @include make-row();
  }

  &-label {
    @include make-xs-column(3);
    @include make-md-column(3);
  }

  &-all, &-no-assess, &-assess {
    @include make-xs-column(9);
    @include make-sm-column(3);
  }

  &-assess {
    @include make-sm-column-offset(0);
    @include make-xs-column-offset(3);
  }

}

.modal-table-row {
  @include make-row();

  .modal-table {
    @include make-xs-column(12);
  }
}

.login-page-row {
  @include make-row();

  .login-page-block {
    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-md-column(6);
    @include make-lg-column(6);
    @include make-xl-column(5);
    @include make-sm-column-offset(2);
    @include make-md-column-offset(4);
    @include make-xl-column-offset(3.5);
  }
}

.content-main-panel, .content-panels {
  @include make-row();
}


.panels {
  @include make-row();
  @include make-xs-column(12);
  @include make-lg-column(9);
}

.panel-header {
  @include make-row();

  &-title {
    @include make-xs-column(12);
    @include make-sm-column(5);
    @include make-lg-column(6);
  }

  &-assessment-icon {
    @include make-xs-column(2);
    @include make-sm-column(1);
  }

  &-assessment-text {
    @include make-xs-column(2);
    @include make-sm-column(1);
  }

  &-bar-slider {
    @include make-xs-column(4);
    @include make-sm-column(3);
    @include make-lg-column(2);
  }

  &-filter {
    @include make-xs-column(4);
    @include make-sm-column(2);
  }
}

.assessment-rating {
  .panel-block, .panel-title {
    @include make-row();

    &-number {
      @include make-xs-column(2);
      @include make-sm-column(1);
      @include make-md-column(1.2);
      @include make-lg-column(1);
      @include make-xl-column(0.8);
    }
    &-title {
      @include make-xs-column(10);
      @include make-sm-column(4);
      @include make-md-column(4);
      @include make-lg-column(5);
      @include make-xl-column(5.2);
    }
    &-assessment-icon {
      @include make-xs-column(2);
      @include make-sm-column(1);
      @include make-md-column(1);
      @include make-lg-column(1);
      @include make-xl-column(1);
    }

    &-assessment-text {
      @include make-xs-column(2.2);
      @include make-sm-column(1.6);
      @include make-md-column(1.2);
      @include make-lg-column(1);
      @include make-xl-column(1);
    }

    &-bar-slider {
      @include make-xs-column(4.6);
      @include make-sm-column(2.8);
      @include make-md-column(3);
      @include make-lg-column(2.6);
      @include make-xl-column(2.8);

      &--xs {
        @include make-xs-column(5.6);
        @include make-sm-column(2.8);
        @include make-md-column(3);
        @include make-lg-column(2.6);
        @include make-xl-column(2.8);
      }
    }

    &-buttons {
      @include make-xs-column(3.2);
      @include make-sm-column(1.6);
      @include make-md-column(1.6);
      @include make-lg-column(1.4);
      @include make-xl-column(1.2);

      &-row {
        @include make-row();
      }

      &--xs {
        @include make-xs-column(2.2);
        @include make-sm-column(1.6);
        @include make-md-column(1.6);
        @include make-lg-column(1.4);
        @include make-xl-column(1.2);
      }
    }

    &__button-expand-three {
      @include make-xs-column(3);
      @include make-sm-column(1.6);
      @include make-md-column(1.6);
      @include make-lg-column(1.4);
      @include make-xl-column(1.2);
    }

    .panel-details {
      @include make-xs-column(12)
    }
  }
}

.assessment-rating {
  .panel-title {
    &-number {
      @include make-xs-column(2);
      @include make-sm-column-number(1);
      @include make-md-column-number(1.2);
      @include make-lg-column-number(1);
      @include make-xl-column-number(0.8);
    }
    &-assessment-text {
      @include make-xs-column(2.2);
      @include make-sm-column-assessment-text(1.6);
      @include make-md-column-assessment-text(1.2);
      @include make-lg-column-assessment-text(1);
      @include make-xl-column-assessment-text(1);
    }
  }
}

.assessment-spice {
  .panel-block, .panel-title {
    @include make-row();

    &-assessment-icon {
      @include make-xs-column(2);
      @include make-sm-column(1);
      @include make-md-column(1);
      @include make-lg-column(1);
      @include make-xl-column(1);
    }

    &-assessment-text {
      @include make-xs-column(3);
      @include make-sm-column(1.6);
      @include make-md-column(1.2);
      @include make-lg-column(1);
      @include make-xl-column(1);
    }

    &-bar-slider {
      @include make-xs-column(3.8);
      @include make-sm-column(2.8);
      @include make-md-column(3);
      @include make-lg-column(2.6);
      @include make-xl-column(2.8);

      &--xs {
        @include make-xs-column(4.8);
        @include make-sm-column(2.8);
        @include make-md-column(3);
        @include make-lg-column(2.6);
        @include make-xl-column(2.8);
      }
    }
  }
}

.assessment-dampster-shafer {
  .panel-block, .panel-title {
    @include make-row();

    &-number {
      @include make-xs-column(2);
      @include make-sm-column(1);
      @include make-md-column(1.2);
      @include make-lg-column(1);
      @include make-xl-column(0.8);
    }
    &-title {
      @include make-xs-column(8);
      @include make-sm-column(3.4);
      @include make-md-column(4);
      @include make-lg-column(4.2);
      @include make-xl-column(4.4);
    }
    &-assessment-icon {
      @include make-xs-column(2);
      @include make-sm-column(0.8);
      @include make-md-column(0.6);
      @include make-lg-column(0.6);
      @include make-xl-column(0.6);
    }

    &-assessment-text {
      @include make-xs-column(4);
      @include make-sm-column(1.6);
      @include make-md-column(1.6);
      @include make-lg-column(1.6);
    }

    &-bar-slider {
      @include make-xs-column(5);
      @include make-sm-column(2.4);
      @include make-md-column(2.4);
      @include make-lg-column(2.4);
      @include make-xl-column(2.4);
    }

    &-triangle {
      @include make-xs-column(3);
      @include make-sm-column(1.2);
      @include make-md-column(1);
      @include make-lg-column(1);
      @include make-xl-column(1.2);
    }

    &-buttons {
      @include make-xs-column(12);
      @include make-sm-column(1.6);
      @include make-md-column(1.2);
      @include make-lg-column(1.2);
      @include make-xl-column(1);

      &-row {
        @include make-row();
      }
    }
    &__button-expand-three {
      @include make-xs-column(3);
      @include make-sm-column(1.6);
      @include make-md-column(1.6);
      @include make-lg-column(1.2);
      @include make-xl-column(1);

      &-row {
        @include make-row();
      }
    }

    .panel-details {
      @include make-xs-column(12)
    }
  }
}

.content-folders {
  @include make-row();

  .folders-list {
    @include make-xs-column(12);
    @include make-lg-column(8);
  }
}

.right-panel {
  @include make-lg-column(3);

  &-heading {
    &-row {
      @include make-row();
    }
    &-icon {
      @include make-row();
      @include make-xs-column(2);
    }
    &-title {
      @include make-row();
      @include make-xs-column(10);
    }
  }

  &-body {
    &-buttons {
      @include make-row();
      @include make-md-column(12);
    }
    &-label {
      @include make-row();
      //@include make-xs-column(3);
      //@include make-lg-column(4);
      //@include make-xl-column(4);
    }
    &-title {
      @include make-row();
      @include make-xs-column(10);
      @include make-lg-column(9);
      @include make-xl-column(10);
    }
  }
}

.right-panel--project-list {
  @include make-lg-column(4);
}

