@import "mixins";

.login-page {
  background-color: $login-page;
  overflow: hidden;

  &-cont-fluid {
    flex-wrap: wrap;
    align-items: center;
  }
  &-cont {
    margin-top: 110px;
    background-color: $login-page;
    flex-basis:40%;
  }
  &-section {
    margin-top: 60px;

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
    }

    .login-page-form {
      color: $main-color-font;
      background: $menu-color-hover;
      padding: 26px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;

      &__img {
        display: block;
        margin: 0 auto 35px;
      }

      &__control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;

        &:focus {
          z-index: 2;
        }
      }

      &__control, &__button {
        font-size: 18px;
        margin: 16px 0;
      }
      &-links {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 50px;

        &__link {
          color: #fff;
        }
      }

      &-password {
        text-align: center;
      }

      &-help {
        &__checkbox {
          margin-bottom: 10px;
          padding-left: 20px;
          font-weight: normal;
        }
        &__need-help {
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}



