$icon-font-path: '../fonts/';
//@icon-font-path: "../bower_components/asset/bootstrap/fonts/";

// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//@import "bower_components/font-awesome/scss/font-awesome.scss";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
// endbower

@import "mixins";
@import "panels.scss";
@import "right-panels.scss";
@import "sidebar.scss";
@import "slider.scss";
@import "media-sidebar";
@import "modals";
@import "login-site";


#logo {
  padding-top: 10px;

  img {
    height: 30px;
  }
}

.container-fluid {
  min-height: 1000px;
  padding-top: 15px;
}

#main-page {
  padding: 0;
}

#content{
  background-color: $content;
  padding-right: 0;
  padding-left: 0;
  border-top: 1px solid #9b9b9b;
}

#panel-content {
  height: 100%;
  background-color: #fcfcfc;
  margin-top: 80px;
}

.footer {
  padding-bottom: 15px;
  padding-left: 20px !important;
  background-color: #f8f8f8;
  padding-right: 15px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


//
//
//@-moz-document url-prefix() {
//  select.form-control {
//    padding-right: 25px;
//    background-image: url("data:image/svg+xml,\
//      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='10px'\
//           height='10px' viewBox='0 0 1200 1000' fill='rgb(85,85,85)'>\
//        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
//      </svg>");
//    background-repeat: no-repeat;
//    background-position: calc(100% - 7px) 50%;
//    -moz-appearance: none;
//    appearance: none;
//  }
//}
