$icon-font-path: '../fonts/';
//@icon-font-path: "../bower_components/asset/bootstrap/fonts/";

// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//@import "bower_components/font-awesome/scss/font-awesome.scss";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
// endbower

@import "projects-list";
@import "mixins";
@import "panels.scss";
@import "right-panels.scss";
@import "sidebar.scss";
@import "slider.scss";
@import "media-sidebar";
@import "modals";
@import "login-site";



#logo {
  padding-top: 10px;

  img {
    height: 30px;
  }
}

.container-fluid {
  min-height: 1000px;
  padding-top: 15px;
}

#main-page {
  padding: 0;
}

#content{
  background-color: $content;
  padding-right: 0;
  padding-left: 0;
  border-top: 1px solid #9b9b9b;
}

#panel-content {
  height: 100%;
  background-color: #fcfcfc;
  margin-top: 80px;
}

.footer {
  padding-bottom: 15px;
  padding-left: 20px !important;
  background-color: #f8f8f8;
  padding-right: 15px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#removeAssessAlert, #saveAssessAlert {
  margin: 10px;
}

button[name='search'] {
  margin: 10px 7px 10px 0;
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  width: 40px;
  height: 40px;
}

button[name='search']:focus {
  @include background-border(#ddd,1px,#ddd);
  outline: none;
  span {
    color: #888;
  }
}

#collapseSearch {
  input.search {
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    width: 100%;
    //border-radius: 4px;
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    &:focus {
      border: none;
    }
  }
}

#filter-panel {
  .panel {
    margin-bottom: 0;
    border: {
      radius: 0;
      left: 0;
      right: 0;
    }
    button {
      background-color: #fff;
      border-color: #ccc;
      &:hover {
        color: #333;
        background-color: #d4d4d4;
      }
    }
  }
  .input-group-btn.search-panel {
    width: 1%;
  }
  .checkbox {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.allPanels .title h4 span,.allPanels .title h5 span {
  text-decoration:underline;
  background-color:yellow;
}

span.caret {
  margin-left: 5px !important;
}
//
//
//@-moz-document url-prefix() {
//  select.form-control {
//    padding-right: 25px;
//    background-image: url("data:image/svg+xml,\
//      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='10px'\
//           height='10px' viewBox='0 0 1200 1000' fill='rgb(85,85,85)'>\
//        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
//      </svg>");
//    background-repeat: no-repeat;
//    background-position: calc(100% - 7px) 50%;
//    -moz-appearance: none;
//    appearance: none;
//  }
//}
