$icon-font-path: '../fonts/';
//@icon-font-path: "../bower_components/asset/bootstrap/fonts/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
// endbower

@import "mixins";
@import "panels.scss";
@import "right-panels.scss";
@import "sidebar.scss";
@import "slider.scss";


.container-fluid {
  padding-left: 0;
  .panels {
    @include make-row();

    @media (max-width: $screen-xs-max){

    }

    @media (min-width: $screen-sm-min) and  (max-width: $screen-sm-max) {
      .col-sm-1-2 {
        @include make-sm-column( 1.2 );
      }
      .col-sm-1-4 {
        @include make-sm-column( 1.4 );
      }
      .col-sm-1-6 {
        @include make-sm-column( 1.6 );
      }
      .col-sm-2-4 {
        @include make-sm-column( 2.4 );
      }
      .col-sm-2-6 {
        @include make-sm-column( 2.6 );
      }
      .col-sm-2-8 {
        @include make-sm-column( 2.8 );
      }
      .col-sm-10-4 {
        @include make-sm-column( 10.4 );
      }
    }

    @media (min-width: $screen-md-min) and  (max-width: $screen-md-max) {
      .col-md-1-2 {
         @include make-md-column( 1.2 );
         .navbar-btn {
           margin-top: 0;
           margin-bottom: 6px;
         }
       }
      .col-md-1-6 {
        @include make-md-column( 1.6 );
      }
      .col-md-2-8 {
        @include make-md-column( 2.8 );
      }
      .col-md-2-2 {
        @include make-md-column( 2.2 );
      }
      .col-md-5-2 {
        @include make-md-column(5.2);
      }
    }
  }

  @media (min-width: $screen-lg-min) and  (max-width: $screen-lg-max){
    .col-lg-0-8{
      @include make-lg-column( 0.8 );
    }
    .col-lg-1-2 {
      @include make-lg-column( 1.2 );
    }
    .col-lg-1-4 {
      @include make-lg-column( 1.4 );
    }
    .col-lg-2-6 {
      @include make-lg-column( 2.6 );
    }
    .col-lg-2-8 {
      @include make-lg-column( 2.8 );
    }
    .col-lg-5-2 {
      @include make-lg-column(5.2);
    }
  }

    @media (min-width: $screen-xl-min){
      .col-xl-0-8{
        @include make-xl-column( 0.8 );
      }
      .col-xl-1-2 {
        @include make-xl-column( 1.2 );
      }
      .col-xl-1-5{
        @include make-xl-column( 1.5 );
      }
      .col-xl-2-5{
        @include make-xl-column( 2.5 );
      }
      .col-xl-2-8 {
        @include make-xl-column( 2.8 );
      }
      .col-xl-5-2 {
        @include make-xl-column(5.2);
      }
    }

  padding-right: 0;
}

.container-fluid {
  min-height: 1000px;
  padding-top: 15px;
}

#main-page {
  padding: 0;
}

#content{
  background-color: $content;
  padding-right: 0;
  padding-left: 0;
  border-top: 1px solid #9b9b9b;
}


#panel-content {
  height: 100%;
  background-color: #fcfcfc;
  margin-top: 80px;
}

.footer {
  padding-bottom: 15px;
  padding-left: 20px !important;
  background-color: #f8f8f8;
  padding-right: 15px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


h3 {
  margin-bottom: 20px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}



//#example-movie {
//  display: list-item !important;
//}

#logo {
  padding-top: 10px;

  img {
    height: 30px;
  }
}


#removeAssessAlert, #saveAssessAlert {
  margin: 10px;
}



#collapseExample {
  z-index: 10000;
  margin-right: -2px;
}

#collapseExample .well{
  margin-top: 1px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  //border: 1px solid #acacac !important;
  color: #b3b3b3;
  font-size: 16px;
  min-height: 15px !important;
  padding: 15px !important;
  background-color: #fff !important;
}

button[name='search'] {
  margin: 10px 7px 10px 0;
  //background-color: $panels-head;
  //border: 2px solid #fff;

}

#modalEvidence{
  table {
    table-layout:fixed;
    margin-bottom: 0;
  }

  .title{
    font-size: 16px;
  }

  .table.table-condensed{
    th:nth-child(1){
      width: 10%;
    }
    th:nth-child(2){
      width: 45%;
    }
    th:nth-child(3){
      width: 30%;
    }
    th:nth-child(4){
      width: 15% !important;
    }
  }

  .div-table-content {
    height: 300px;
    overflow-y:auto;

    tr:nth-child(1){
      td{
        border-top:0;
      }
    }

    tr {
      td:nth-child(1){
        width: 10%;
      }
      td:nth-child(2){
        width: 45%;
      }
      td:nth-child(3){
        width: 30%;
      }
      td:nth-child(4){
        width: 15%;
      }
    }
    tr:hover {
      background-color: #ededed;
    }
  }
}


.file {
  visibility: hidden;
  position: absolute;
}

