$icon-font-path: '../fonts/';
//@icon-font-path: "../bower_components/asset/bootstrap/fonts/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
// endbower

@import "mixins";
@import "panels.scss";
@import "right-panels.scss";
@import "sidebar.scss";
@import "slider.scss";



.container-fluid {
  padding-left: 0;
  .panels {
    @include make-row();
    .col-md-1 {
      @include make-md-column( 0.7 );
    }
    .col-sm-1 {
      @include make-sm-column( 0.7 );
    }

    .col-md-2-7 {
      @include make-md-column( 2.7 );
    }

    .col-md-4-3 {
      @include make-md-column(4.3);
    }

    .col-md-4-7 {
      @include make-md-column(4.7);
    }

    .col-md-5-3 {
      @include make-md-column(5.3);
    }

    .col-md-6-3 {
      @include make-md-column(6.3);
    }

    .col-md-3-1 {
      @include make-md-column(3.1);
    }

    .col-md-2-1 {
      @include make-md-column(2.1);
    }

    .col-md-1-1 {
      @include make-md-column( 1 );
    }

    .col-md-11-1 {
      @include make-md-column( 11.3 );
    }

    .col-sm-1-1 {
       @include make-sm-column( 1.3 );
     }

    .col-md-1-2 {
      @include make-md-column( 1.3 );
      .navbar-btn {
        margin-top: 0;
        margin-bottom: 6px;
      }
    }

    .col-xs-1-1 {
      @include make-xs-column( 1.3 );
    }
    .col-md-offset-1-1{
      @include make-md-column-offset( 0.7 );
    }

  }

  padding-right: 0;
}

.container-fluid {
  min-height: 1000px;
  padding-top: 15px;
}

#main-page {
  padding: 0;
}

#content{
  background-color: $content;
  padding-right: 0;
  padding-left: 0;
  border-top: 1px solid #9b9b9b;
}

//.marginPanelContentSmall{
//  padding-top:20px
//}
//
//.marginPanelContentBig{
//  padding-top:72px
//}

#panel-content {
  height: 100%;
  background-color: #fcfcfc;
  margin-top: 80px;
}

.footer {
  padding-bottom: 15px;
  padding-left: 20px !important;
  background-color: #f8f8f8;
  padding-right: 15px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


h3 {
  margin-bottom: 20px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}



//#example-movie {
//  display: list-item !important;
//}

#logo {
  padding-top: 10px;

  img {
    height: 30px;
  }
}


#removeAssessAlert, #saveAssessAlert {
  margin: 10px;
}



#collapseExample {
  z-index: 10000;
  margin-right: -2px;
}

#collapseExample .well{
  margin-top: 1px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  //border: 1px solid #acacac !important;
  color: #b3b3b3;
  font-size: 16px;
  min-height: 15px !important;
  padding: 15px !important;
  background-color: #fff !important;
}

button[name='search'] {
  margin: 10px 7px 10px 0;
  //background-color: $panels-head;
  //border: 2px solid #fff;

}

#modalEvidence{
  table {
    table-layout:fixed;
    margin-bottom: 0;
  }

  .title{
    font-size: 16px;
  }

  .table.table-condensed{
    th:nth-child(1){
      width: 10%;
    }
    th:nth-child(2){
      width: 45%;
    }
    th:nth-child(3){
      width: 30%;
    }
    th:nth-child(4){
      width: 15% !important;
    }
  }

  .div-table-content {
    height: 300px;
    overflow-y:auto;

    tr:nth-child(1){
      td{
        border-top:0;
      }
    }

    tr {
      td:nth-child(1){
        width: 10%;
      }
      td:nth-child(2){
        width: 45%;
      }
      td:nth-child(3){
        width: 30%;
      }
      td:nth-child(4){
        width: 15%;
      }
    }
    tr:hover {
      background-color: #ededed;
    }
  }
}


.file {
  visibility: hidden;
  position: absolute;
}

