@import "mixins";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


.container-fluid {
  padding-left: 0;

  .panels {
    @include make-row();

    @media (max-width: $screen-xs-max) {
      .col-xs-5-2 {
        @include make-xs-column( 5.2 );
        padding-left: 15px;
        padding-right: 10px;
      }
      .col-xs-2-8 {
        @include make-xs-column( 2.8 );
      }
    }

    @media (min-width: $screen-sm-min) and  (max-width: $screen-sm-max) {
      .col-sm-1-2 {
        @include make-sm-column( 1.2 );
      }
      .col-sm-1-4 {
        @include make-sm-column( 1.4 );
      }
      .col-sm-1-6 {
        @include make-sm-column( 1.6 );
      }
      .col-sm-2-4 {
        @include make-sm-column( 2.4 );
      }
      .col-sm-2-6 {
        @include make-sm-column( 2.6 );
      }
      .col-sm-2-8 {
        @include make-sm-column( 2.8 );
      }
      .col-sm-10-4 {
        @include make-sm-column( 10.4 );
      }
    }

    @media (min-width: $screen-md-min) and  (max-width: $screen-md-max) {
      .col-md-1-2 {
        @include make-md-column( 1.2 );
        .navbar-btn {
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
      .col-md-1-6 {
        @include make-md-column( 1.6 );
      }
      .col-md-2-8 {
        @include make-md-column( 2.8 );
      }
      .col-md-2-2 {
        @include make-md-column( 2.2 );
      }
      .col-md-5-2 {
        @include make-md-column(5.2);
      }
    }
  }

  @media (min-width: $screen-lg-min) and  (max-width: $screen-lg-max){
    .col-lg-0-8{
      @include make-lg-column( 0.8 );
    }
    .col-lg-1-2 {
      @include make-lg-column( 1.2 );
    }
    .col-lg-1-4 {
      @include make-lg-column( 1.4 );
    }
    .col-lg-2-6 {
      @include make-lg-column( 2.6 );
    }
    .col-lg-2-8 {
      @include make-lg-column( 2.8 );
    }
    .col-lg-5-2 {
      @include make-lg-column(5.2);
    }
  }

  @media (min-width: $screen-xl-min){
    .col-xl-0-8{
      @include make-xl-column( 0.8 );
    }
    .col-xl-1-2 {
      @include make-xl-column( 1.2 );
    }
    .col-xl-1-5{
      @include make-xl-column( 1.5 );
    }
    .col-xl-2-5{
      @include make-xl-column( 2.5 );
    }
    .col-xl-2-8 {
      @include make-xl-column( 2.8 );
    }
    .col-xl-5-2 {
      @include make-xl-column(5.2);
    }
  }

  padding-right: 0;
}

//
//@media screen and (max-width: 768px) {
//  .box-header{
//    h3{
//      font-size: 18px;
//    }
//
//    h4 {
//      font-size: 16px;
//    }
//    //svg {
//    //  height: $pie-size-md;
//    //  width: $pie-size-md;
//    //}
//    //
//    //.pie {
//    //  width: $pie-size-md;
//    //  height: $pie-size-md;
//    //}
//  }
//}


@media (max-width: 415px){

  #main-panel {
    //padding-right: 15px;
  }

  .box-header {
    height: 120px;
    h3, h4, .numberValue {
      font-size: 14px;
    }
    svg, .pie {
      @include pie-svg($pie-size-md, $pie-size-md);
    }

    .bar-slider {
      @include padding-left-right(15px, 15px);
    }

    .assessment,
    .filter,
    .bar-slider,
    .title-main {
      height: 50%;
    }
    .assessment {
      padding-left: 10px;
    }
    .filter select {
      font-size: 12px;
      @include padding-left-right(2px, 3px);
    }
  }
  .panels-title{
    .panel-heading{
      .number, .title {
        height: 50px;
        background-color: $panels-head;

        h4, a {
          color: #fff;
        }
      }

      .button-expand-three{
        .arrow:nth-child(1){
          margin: 0 -3px 0 0;
        }
        .arrow:nth-child(2){
          margin: 0 6px 0 0;
        }
      }
    }
  }

  .panel-content {
    padding: 15px 10px 0 10px !important;

    .space {
      margin-bottom: 15px;
    }

    h4 {
      font-size: 14px;
    }
    span.numberValue {
      font-size: 14px;
    }

    .visible-xs {
      display: flex !important;
    }

    .box-under-header {
      height: 60px;
    }
    .title {
      background-color: $panels-head;
      height: 40px;
      border-top-right-radius: 3px;
      @include border-top-bottom($panels-head);
      h4, a{
        color: #fff;
      }

    }
    .number {
      height: 40px;
      border-bottom-left-radius: 0;
      background-color: $panels-head;
      color: #fff;
    }
    .assessment-icon {
      border-left: $panels-border;
      border-bottom-left-radius: 3px;

      .col-xs-6:nth-child(2), .col-xs-7{
        padding-left: 5px;
      }
      .col-xs-5 {
        padding-left: 0;
      }
    }

    .button-expand {
      border-top-right-radius: 0;
    }

    .hseq.space:hover{
      div.title {
        background: $panels-head;
      }
    }
    .titleColor {
      div.title {
        background: $panels-head;
      }
    }
    .labelColor {
      background-color: $panels-head !important;

    }

  }
}

@media (min-width: 416px) and (max-width: $screen-xs-max) {
  .container {
    max-width: 730px;
  }
  .space {
    margin-bottom: 15px;
  }

  .box-header{
    height: 120px;
    h3 {
      font-size: 16px;
    }

    h4, .numberValue {
      font-size: 14px;
    }
    svg, .pie {
      @include pie-svg($pie-size-md,$pie-size-md) ;
    }

    .bar-slider {
      @include padding-left-right(5px, 5px);
    }

    .assessment,
    .filter,
    .bar-slider,
    .title-main {
      height: 50%;
    }

    .filter{
      @include padding-left-right(5px, 5px);

      select{
        font-size: 12px;
        @include padding-left-right(3px, 3px);
      }
    }
    .bar-slider {
      @include padding-left-right(15px, 0px);
    }
  }

  .panels-title{
    .panel-heading{
      .number, .title {
        height: 50px;
        background-color: $panels-head;

        h4, a {
          color: #fff;
        }
      }
      .button-expand-three{
        .arrow:nth-child(2){
          margin: 0 6px 0 0;
        }
      }
    }
  }

  .panel-content {
    padding: 15px 10px 0 10px !important;

    .padding-content {
      padding-right: 30px;
    }

    h4 {
      font-size: 14px;
    }
    span.numberValue {
      font-size: 14px;
    }

    .visible-xs {
      display: flex !important;
    }

    .box-under-header {
      height: 60px;
    }
    .title {
      background-color: $panels-head;
      height: 40px;
      border-top-right-radius: 3px;
      @include border-top-bottom($panels-head);
      h4, a{
        color: #fff;
      }
    }
    .number {
      height: 40px;
      border-bottom-left-radius: 0;
      background-color: $panels-head;
      color: #fff;
    }
    .assessment-icon {
      border-left: 1px solid #dedede;
      border-bottom-left-radius: 3px;

      .col-xs-5{
        @include padding-left-right(5px, 20px);
      }
    }

    .button-expand {
      border-top-right-radius: 0;
      .btn.btn-primary.add{
        margin-right: 0;
      }
      button[name='search'] {
        margin: 10px 0 10px 5px;
      }
    }

    .hseq.space:hover{
      div.title {
        background: $panels-head;
      }
    }
    .titleColor {
       div.title {
        background: $panels-head;
        }
    }
    .labelColor {
      background-color: $panels-head !important;
    }



    .well{
      table{
        thead, tbody{
          tr{
            th:nth-child(1) {
              padding-left: 0;
            }
            th:nth-child(5), td:nth-child(5){
              padding-right: 0;
            }
          }

          th:nth-child(1){
            width: 5%;
          }
          th:nth-child(2){
            width: 35%;
          }
          th:nth-child(3){
            width: 25%;
          }
          th:nth-child(4){
            width: 30%;
          }
          th:nth-child(5){
            width: 5%;
          }

        }
        .buttons{
          display: inline-block;
        }
        button:nth-child(1){
          //margin: 5px 0 5px auto;
          margin: 5px 0 5px 0;
        }
        button:nth-child(2){
          margin: auto 0 5px 0px;
          //width: 40px;
        }
      }
    }

  }
}//768px

@media (min-width: $screen-sm-min) and  (max-width: $screen-sm-max) {
  .box-header{
    h3, h4 {
      font-size: 16px;
    }
    svg, .pie {
      @include pie-svg($pie-size-md,$pie-size-md);
    }
  }

  .panels {
    h4 {
      font-size: 14px;
    }
    span.numberValue {
      font-size: 14px;
    }
  }



}//768px -992px


@media (min-width: $screen-md-min) and  (max-width: $screen-md-max) {
  .box-header{
    h3 {
      font-size: 16px;
    }
  }

}//992px - 1200px


@media (min-width: $screen-lg-min) and  (max-width: $screen-lg-max){
  .box-header{
    h3 {
      font-size: 18px;
    }
  }
  .panels-title h4 {
    font-size: 16px;
  }
}//1200px - 1440px


@media (min-width: $screen-xl-min){

}//1440px


//
//@media (max-width: $container-lg){
//  .box-header{
//    h3 {
//      font-size: 18px;
//    }
//  }
//}

