@import "mixins";

@media all and (min-width: 100px){

   h4, h3 {
     font-size: 14px;
     margin-top: 5px;
     margin-bottom: 5px;
   }

   h5 {
     @include font(400, 1);
     font-size: 13px;
   }

   p, label, a, .form-control, table {
     font-size: 13px;
   }

  font-family: sans-serif !important;



//TODO
  #modalEvidence  {
    #textareaNameEvid {
      height: 100% !important;
    }
  }
}



@media all and (min-width: 460px) {
    h4, h3 {
      font-size: 16px;
    }

    h5 {
      @include font(400, 1.4);
      font-size: 14px;
    }

    p, label, a, .form-control, table {
      font-size: 14px;
    }

    .assessment {
      h3 {
        margin: 5px;
      }
    }

  #myProfile, #preferences {
    span {
      font-size: 13px;
    }
  }
}
@media all and (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }

  h3, h4 {
    font-size: 16px;
    @include font(400, 1.4);
    margin: 5px;
  }

  h2 {
    float: left;
    padding: 10px 0;
  }

  h3 {
    line-height: 1.3;
    margin-top: 10px;
  }

  p, h5 {
    line-height: 1;
    margin-top: 10px;
    font-size: 14px;
  }

  #bs-navbar-collapse-2 .nav{
    height: 56px;
    > li {
      height: 100%;
      > a{
        height: 100%;
      }
    }
  }

  nav {
    button[name='search'] {
      right: 125px;
    }
  }

  #filter-panel {
    .panel {
      .form-inline {
        > .row {
          > div:nth-child(2){
            margin-top: 0 !important;
          }
        }
      }
    }
  }

  .panel-header {
    min-height: 85px;

    &__assessment,
    &__filter,
    &__bar-slider,
    &__filter{
      height: 80px;
    }

    &__title {
      min-height: 80px !important;
    }

    &__assessment{
      padding: 5px 15px 0 5px;
    }

    &__pie, svg {
      @include width-height($pie-size-big,$pie-size-big);
      margin-top: 0;
    }

    &__bar-slider {
      padding-left: 40px;
    }
  }

  .panel-title {
    min-height: 85px;

    &__title,
    &__assessment,
    &__assess-icon,
    &__assess-value,
    &__assess-body,
    &__bar-slider,
    &__button-expand {
      height: 75px;
    }
    &__number {
      height: 75px;
    }

    &__title {
      background-color: $panels-content;
      border-radius: 0;
      &--font-color  {
        color: $panels-head;
      }
    }

    &__pie, svg {
      @include width-height($pie-size-md, $pie-size-md);
    }

    &__button-expand {
      border-bottom-right-radius: 0;
    }
  }

  .panel-block{

    &__number,
    &__title {
      height: 70px;
    }

    &__number{
      @include border-radius (3px 0 0 3px);
    }

    &__title {
      background-color: $panels-content;
      @include border-top-bottom($panels-border);
      @include border-radius (0 0 0 0);
      &--font-color  {
        color: $panels-head;
      }
    }
    &__assessment {
      border-left: 0;
      @include border-radius (0 0 0 0);
    }
    &__button-expand {
      border-top-right-radius: 3px;
    }
  }

  .panel-block:hover {
    .panel-block__title {
      background-color: $panels-hover;
    }
  }

  .allPanels {





    .panel-content {
      //margin-right: 5px !important;
      //margin-left: 5px !important;
      //padding: 15px 10px 0 10px !important;

      .padding-content {
        padding-right: 30px;
      }
      .visible-xs {
        display: flex !important;
      }

      .assessment-icon {
        border: {
          left: 0;
          radius: 0;
        }
      }

      .button-expand{
        border-top-right-radius: 3px;
      }

      .space {
        margin-bottom: 15px;
      }

      .box-under-header-sx {
        &.title {
          @include height-background(70px, $panels-content);
          @include border-top-bottom($panels-border);
          @include border-radius (0 0 0 0);
          h4, a {
            color: $panels-head;
          }
        }

        &.number {
          @include border-radius (3px 0 0 3px);
          height: 70px;
          color: #fff;
        }
      }
    }
  }
  .allPanels .panel-content, .right-panel #bs-collapse {
    .hseq.space:hover, .titleColor {
      .title {
        background-color: #ffff99;
      }
    }
  }
}//768px -992px


@media all and (min-width: 992px) {

  h3 {
    font-size: 18px;
  }

  .bar-slider {
    padding-left: 40px;
  }

  button[name=expand]{
    //float: right;
    //margin: 3px 0;
  }

  button[name=openPanelDetails] {
    //float: right;
    //padding: 5px 10px;
  }

  .box-header .filter select {
    font-size: 14px;
  }

  .mainPagePanels {
    .tree {
      li {
        span{
          a{
            width: 46%;
          }
          h4 {
            width: 23%;
          }
        }
      }
    }
  }

  [id^=collapsePanelDetails] {
    [id^=tabsPanels] {
      .well {
        table {
          tbody {
            @include td-size(5%,35%, 25%, 25%, 10%);
          }
        }

        button{
          &:nth-child(1){
            margin: 0 0 5px 5px;
          }
          &:nth-child(2){
            margin: auto 0 5px 0;
          }
        }
      }
    }
  }
  .mainPagePanels {
    &.row {
      margin-right: -15px;
    }
  }
}//992px - 1200px


@media all and (min-width: 1200px){
  h3 {
    font-size: 20px;
    margin-top: 0;
  }

  #filter-panel {
  .panel {
    .form-inline {
      > .row {
        > div:nth-child(2), > div:nth-child(3) {
          margin-top: 0 !important;
          }
        }
      }
    }
  }

  .mainPagePanels {
    .tree {
      li {
        span{
          a{
            width: 47%;
          }
          h4 {
            width: 23%;
          }
        }
      }
    }
  }
}//1200px - 1440px


//@media all and (min-width: $screen-xl-min){
//
//}//1440px


@media screen and ( max-height: 650px ){
  body.login-page {
    overflow-y: scroll;
  }
}
@media all and (max-width: 475px) {
  .right-panel{
    .fixed-panel {
      margin: 0 0 0 -300px;

      &:hover{
        width: 300px;

        #two, #one {
          width: 300px;
        }
      }
    }
    .panel-body {
      width: 300px;
    }
  }
  .panel-right {
    width: 300px;
  }
}

@media all and (max-width: 768px) {
  .right-panel{
    .fixed-panel {
     top: 205px;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .right-panel{
    .fixed-panel {
      top: 185px;
    }
  }
}

@media all and (min-width: 476px) and (max-width: 1200px) {
  .right-panel{
    .fixed-panel {
      margin: 0 0 0 -400px;

      &:hover{
        width: $sidebar-max;

        #two, #one {
          width: $sidebar-max;
        }
      }
    }
    .panel-body {
      width: 400px;
    }
  }
  .panel-right {
    width: 400px;
  }
}

@media all and (max-width: 1200px) {
  #panel-content, .mainPagePanels {
    padding-right: 44px;
  }

  .right-panel{
    .fixed-panel {
      position: fixed;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: 50px;
      overflow: hidden;
      z-index: 1000;
      @include transition();
      right: 0;
      border-right: 1px solid #e7e7e7;

      &:hover{

        #two, #one {
          height: 100%;
        }
        .first-panel{
          margin-bottom: 15px;
          &.margin-panel {
            margin-bottom: 215px;
          }

        }
        .last-panel .panel.wrap {
          margin: 0;
        }
      }
    }

    #two, #one {
      position: fixed;
      //-webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      overflow: hidden;
      z-index: 1000;
      @include transition();
      @include width-height(0, 0);
      right: 0;
      border-right: 1px solid #e7e7e7;
      margin-bottom: 20px;
    }
    .first-panel{
      transition: margin-bottom 0.5s ease;
    }
    .panel-body {
      box-shadow: $right-panels-shadow;
    }
  }
}

@media all and (min-width:300px) and (max-width: 1440px) {

  .sidebar-nav {
    width: $sidebar-md;
  }
  #wrapper {
    padding-left: $sidebar-md;
  }
  #sidebar-wrapper {
    width: $sidebar-md;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 35px;
  }
  #wrapper.toggled {
    #sidebar-wrapper  {
      width: $sidebar-md;
    }
    #page-content-wrapper {
      padding-left: $sidebar-md;
    }
  }
  #wrapper.toggled-2 {
    #sidebar-wrapper:hover {
      //width: 250px;
      width: $sidebar-md;
    }
    #page-content-wrapper {
      margin-left: -315px;
    }
  }
}

@media all and (min-width:1200px){
  .sidebar-nav {
    width: $sidebar-max;
  }
  #wrapper {
    padding-left: $sidebar-max;
  }
  #sidebar-wrapper {
    width: $sidebar-max;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 35px;
  }
  #wrapper.toggled {
    #sidebar-wrapper  {
      //width: 250px;
      width: $sidebar-max;
    }
    #page-content-wrapper {
      padding-left: $sidebar-max;
    }
  }
  #wrapper.toggled-2 {
    #sidebar-wrapper:hover {
      //width: 250px;
      width: $sidebar-max;
    }
    #page-content-wrapper {
      margin-left: -365px;
    }
  }
}//1440px
