@import "mixins";
@import "grid";

@media all and (min-width: 100px){
 #content {font-size: 10px;}

 h4, h3{
   font-size: 1.4em;
   margin-top: 5px;
   margin-bottom: 5px;
  }

  h5{
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1;
  }

  p{
    font-size: 1.3em;
  }

  [id^=collapsePanelDetails]  {
    a {
      font-size: 1.3em;
    }
  }
}

@media all and (min-width: 460px) {
  .allPanels, .box-header, .right-panel, .mainPagePanels {font-size: 10px;}

  h4, h3 {
    font-size: 1.6em;
  }

  h5{
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1;
  }

  p{
    font-size: 1.4em;
  }

  .number {
    h4 {
      font-weight: 500;
    }
  }

  .assessment {
    h3 {
      margin: 5px;
    }
  }
}

@media all and (min-width: $screen-sm-min) {
  .allPanels, .box-header, .right-panel {font-size: 10px;}

  h3, h4 {
    font-size: 1.6em;
    @include font(400,1.4);
    margin: 5px;
  }

  h2 {
    float: left;
    padding: 10px 0;
  }

  h3 {
    line-height: 1.3em;
    margin-top: 10px;
  }

  p{
    line-height: 1;
    margin-top: 10px;
  }

  #bs-navbar-collapse-2 .nav{
    height: 56px;
    > li {
      height: 100%;
      > a{
        height: 100%;
      }
    }
  }

  .box-header{
    height: 85px;

    .assessment,
    .filter,
    .bar-slider,
    .title-main,
    .select{
      height: 100%;
    }

    .assessment {
      svg, .pie {
        @include width-height($pie-size-big,$pie-size-big);
      }
    }

    .bar-slider {
      padding-left: 40px;
    }
  }

  .allPanels {
    .assessment,
    .assessment-icon {
      div:nth-child(2) {
        padding: 5px 15px 0 5px;
      }
    }

    .box-under-header,.box-under-header-title {
      &.assessment,
      &.assessment-icon,
      .assessment,
      .assessment-icon {
        svg, .pie {
          @include width-height ($pie-size-md, $pie-size-md);
        }
        .pie {
          margin-top: 15px;
        }
      }
      &.title {
        @include border-top-bottom($panels-border);
      }

      &.title, .title {
        @include height-background(70px, $panels-content);
        border-radius: 0;

        h4 {
          color: $panels-head;
        }
      }

      &.number {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &.number, .number {
        @include height-background(70px, $panels-head);
        color: #fff;
      }
    }

    .panel-content {
      margin-right: 5px !important;
      margin-left: 5px !important;
      padding: 15px 10px 0 10px !important;


      .padding-content {
        padding-right: 30px;
      }
      .visible-xs {
        display: flex !important;
      }

      .assessment-icon {
        border: {
          left: 0;
          radius: 0;
        }
      }

      .button-expand {
        border-top-right-radius: 3px;
      }

      .space {
        margin-bottom: 15px;
      }

      .box-under-header-sx {
        &.title {
          @include height-background(70px, $panels-content);
          @include border-top-bottom($panels-border);
          @include border-radius (0 0 0 0);
          h4, a {
            color: $panels-head;
          }
        }

        &.number {
          @include border-radius (3px 0 0 3px);
          @include height-background(70px,  $panels-head);
          color: #fff;
        }
      }
    }
  }

  .panels {
    button[name=expand]{
      float: right;
      margin: 3px 0;
    }

    button[name=openPanelDetails] {
      float: right;
      padding: 5px 10px;
    }
  }
  .allPanels .panel-content, .right-panel #bs-collapse {
    .hseq.space:hover, .titleColor {
      .title {
        background-color: #f3f3f3;
      }
    }
  }
}//768px -992px


@media all and (min-width: $screen-md-min) {
  h3 {
    font-size: 1.8em;
  }

  .bar-slider {
    padding-left: 40px;
  }

  button[name=expand]{
    float: right;
    margin: 3px 0;
  }

  button[name=openPanelDetails] {
    float: right;
    padding: 5px 10px;
  }

  .box-header .filter select {
    font-size: 1.4em;
  }

  .mainPagePanels {
    .tree {
      li {
        span{
          a{
            width: 46%;
          }
          h4 {
            width: 23%;
          }
        }
      }
    }
  }
}//992px - 1200px


@media all and (min-width: $screen-lg-min){
  h3 {
    font-size: 2em;
    margin-top: 0px
  }

  .mainPagePanels {
    .tree {
      li {
        span{
          a{
            width: 47%;
          }
          h4 {
            width: 23%;
          }
        }
      }
    }
  }


}//1200px - 1440px


@media all and (min-width: $screen-xl-min){

}//1440px


@media screen and ( max-height: 650px ){
  body.login-page {
    overflow-y: scroll;
  }
}
@media all and (max-width: 475px) {
  .right-panel{
    .fixed-panel {
      margin: 0 0 0 -300px;

      &:hover{
        width: 300px;

        #two, #one {
          width: 300px;
        }
      }
    }
    .panel-body {
      width: 300px;
    }
  }
  .panel-right {
    width: 300px;
  }
}


@media all and (min-width: 476px) and (max-width: $screen-md-max) {
  .right-panel{
    .fixed-panel {
      margin: 0 0 0 -400px;

      &:hover{
        width: $sidebar-max;

        #two, #one {
          width: $sidebar-max;
        }
      }
    }
    .panel-body {
      width: 400px;
    }
  }
  .panel-right {
    width: 400px;
  }
}

@media all and (max-width: $screen-md-max) {
  #panels {
    padding-right: 50px;
  }

  .right-panel{
    .fixed-panel {
      position: fixed;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: 50px;
      overflow: hidden;
      z-index: 1000;
      @include transition();
      right: 0;
      border-right: 1px solid #e7e7e7;

      &:hover{

        #two, #one {
          height: 100%;
        }
        .first-panel{
          margin-bottom: 15px;
          &.margin-panel {
            margin-bottom: 215px;
          }

        }
        .last-panel .panel.wrap {
          margin: 0;
        }
      }
    }

    #two, #one {
      position: fixed;
      //-webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      overflow: hidden;
      z-index: 1000;
      @include transition();
      @include width-height(0, 0);
      right: 0;
      border-right: 1px solid #e7e7e7;
      margin-bottom: 20px;
    }
    .first-panel{
      transition: margin-bottom 0.5s ease;
    }
    .panel-body {
      box-shadow: $right-panels-shadow;
    }
  }
}

