@import "mixins";

//Panels Media

@media all and (min-width: 460px) {
    h4, h3 {
      font-size: 16px;
    }

    h5 {
      @include font(400, 1.4);
      font-size: 14px;
    }

    p, label, a, .form-control, table {
      font-size: 14px;
    }


  #myProfile, #preferences {
    span {
      font-size: 13px;
    }
  }
}
@media all and (min-width: 768px) {
  .nav-list {
    height: 56px;
    &__li {
      height: 100%;
    }
    &--right {
      margin-right: 0;
    }
    & .nav-list__link {
      height: 100%;
      color: $main-color-font;

      &--top {
        color: #fff;
      }
    }
  }

  .btn-search {
    right: 125px;
  }

  .btn-up {
    margin: 5px 0 5px auto;
  }

  h3, h4 {
    font-size: 16px;
    @include font(400, 1.4);
    margin: 5px;
  }

  h2 {
    float: left;
    padding: 10px 0;
  }

  h3 {
    line-height: 1.3;
    margin-top: 5px;
  }

  p, h5 {
    line-height: 1;
    margin-top: 10px;
    font-size: 14px;
  }

  .clicked-blue-title {
    background-color: $panels-hover !important;
    .panel-block-title__font-color {
      color: #3387c8;
    }
  }

  .panel-header {
    min-height: 85px;
    display: flex;
    flex-direction: row;

    &-assessment,
    &-filter,
    &-bar-slider {
      height: 80px;
    }

    &-title {
      min-height: 80px !important;
    }

    &-assessment {
      padding: 5px 15px 0 5px;

      &__pie, svg {
        @include width-height($pie-size-big, $pie-size-big);
        margin-top: 0;
      }
    }

    &-bar-slider {
      padding-left: 40px;
    }
  }

  .triangle, .no-triangle {

    .panel-title {
      &-title,
      &-assessment,
      &-assessment-icon,
      &-assessment-value,
      &-assessment-body,
      &-bar-slider,
      &-buttons {
        min-height: 75px;
      }
      &-number {
        min-height: 75px;
      }

      &-title {
        background-color: $panels-content;
        border-radius: 0;
        &__font-color {
          color: $panels-head;
        }
      }

      &-assessment {
        &-icon {
          &__pie, svg {
            @include width-height($pie-size-md, $pie-size-md);
          }
        }

        &-value {
          padding-top: 5px;
        }
      }

      &-buttons {
        @include border-right(0, 3px);
      }

      &:hover {
        .panel-title-title {
          background-color: $panels-hover;
        }
      }
    }

    .panel-block {

      &-number {
        @include border-radius (3px 0 0 3px);
      }

      &-title {
        background-color: $panels-content;
        @include border-top-bottom($panels-border);
        @include border-radius (0 0 0 0);
        &__font-color {
          color: $panels-head;
        }
      }
      &-assessment {
        border-left: 0;
        @include border-top-bottom($panels-border);
        @include border-radius (0 0 0 0);
      }

      &-assessment-value {
        padding-top: 5px;
        border: none;
      }

      &-assessment-icon {
        border: none;
      }

      &-triangle {
        @include border-top-bottom($panels-border);
      }

      &-bar-slider {
        border-top: $panels-border;
      }

      &-buttons {
        border-top-right-radius: 3px;
        border-top: $panels-border;
      }

      &-number--not-collapsed {
        @include border-radius (3px 0px 0px 0px);
      }

      &:hover {
        .panel-block-title {
          background-color: $panels-hover;
        }
      }
    }
  }
}//768px -992px


@media all and (min-width: 992px) {

  h3 {
    font-size: 18px;
  }

  .btn-open {
    margin: 0 0 5px 5px;
  }

  .panel-header {
    &-bar-slider {
      @include padding-left-right(15px, 15px);
    }

    &-filter {
      align-items: center;
      @include padding-left-right(15px, 15px);
    }
  }


//TODO
  .mainPagePanels {
    &.row {
      margin-right: -15px;
    }
  }
  .mainPagePanels {
    .tree {
      li {
        span{
          a{
            width: 46%;
          }
          h4 {
            width: 23%;
          }
        }
      }
    }
  }
  .evidences-table {
    &__tbody {
      @include td-size(5%, 35%, 25%, 25%, 10%);
    }
  }

}//992px - 1200px


@media all and (min-width: 1200px){
  h3 {
    font-size: 20px;
  }

  .search {
    &-form {
      &-buttons, &-checkboxes {
        margin-top: 0;
      }
    }
  }
//TODO
  .mainPagePanels {
    .tree {
      li {
        span{
          a{
            width: 47%;
          }
          h4 {
            width: 23%;
          }
        }
      }
    }
  }
  .panels-list {
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
  }
}//1200px - 1440px


//@media all and (min-width: $screen-xl-min){
//
//}//1440px

@media screen and (max-height: 650px) {
  body.login-page {
    overflow-y: scroll;
  }
}

//Right Panel Media

@media all and (max-width: 768px) {
  .right-panel--fixed-panel {
    top: 205px;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .right-panel--fixed-panel {
    top: 185px;
  }
}

@media all and (max-width: 475px) {
  .right-panel-body {
    width: 300px;
  }

  .right-panel-block{
    width: 300px;
  }
  .right-panel--fixed-panel {
    margin: 0 0 0 -300px;

    &:hover{
      width: 300px;

      .right-panel-two, .right-panel-one {
        width: 300px;
      }
    }
  }
}

@media all and (min-width: 476px) and (max-width: 1200px) {
  .right-panel-body {
    width: 400px;
  }
  .right-panel-block{
    width: 400px;
  }
  .right-panel--fixed-panel {
    margin: 0 0 0 -400px;

    &:hover{
      width: $sidebar-max;

      .right-panel-two, .right-panel-one {
        width: $sidebar-max;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  #panel-content, .mainPagePanels {
    padding-right: 44px;
  }

  .right-panel--fixed-panel {
    position: fixed;
    width: 50px;
    overflow: hidden;
    z-index: 1000;
    @include transition();
    right: 0;
    border-right: 1px solid #e7e7e7;

    &:hover{
      .right-panel-two, .right-panel-one {
        height: 100%;
      }
      .right-panel-first--margin {
          margin-bottom: 215px;
        }
      }
    .right-panel-second__panel {
        margin: 0;
      }
    }

  .right-panel-two, .right-panel-one {
      position: fixed;
      transition: all 0.5s ease;
      overflow: hidden;
      z-index: 1000;
      @include transition();
      @include width-height(0, 0);
      right: 0;
      border-right: 1px solid #e7e7e7;
      margin-bottom: 200px;
    }
  .right-panel-first--margin {
      margin-bottom: 15px;
      transition: margin-bottom 0.5s ease;
    }
    .right-panel-body {
      box-shadow: $right-panels-shadow;
    }
  .right-panel-first--margin-added {
    margin-bottom: 0 !important;
  }
}

//Sidebar Media

@media all and (min-width:768px) {
  .wrapper {
    padding-left: 35px;

    &--toggled-mobile {
      padding-left: 0;

      .wrapper-sidebar {
        width: $sidebar-max;
      }
      .wrapper-page-content {
        position: relative;
        margin-right: 0;
      }
    }

    &--toggled-desk{

      .wrapper-sidebar {
        width: 35px;
      }
      .wrapper-sidebar:hover {
        width: $sidebar-max;
      }
      .wrapper-page-content {
        position: relative;
        margin-right: 0;
        //margin-left: -365px;
        //transition: all 0.5s ease;
        width: auto;
      }
    }

    &-sidebar {
      width: $sidebar-max;
    }

    &-page-content {
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    &-sidebar-nav {
      width: $sidebar-max;

      &__span {
        width: 350px*  0.80;
      }

      &--padding {
        padding-left: 3px;
      }
    }
  }
}

@media all and (min-width: 1400px) {
  .wrapper {
    padding-left: $sidebar-max;

    &-sidebar {
      width: $sidebar-max;
    }

    &--toggled-mobile {
      .wrapper-sidebar {
        width: $sidebar-max;
      }
      .wrapper-page-content {
        position: relative;
        margin-right: 0;
      }
    }
    &--toggled-desk{
      .wrapper-sidebar {
        width: 35px;
      }
      .wrapper-sidebar:hover {
        width: $sidebar-max;
      }
      .wrapper-page-content {
        position: relative;
        margin-right: 0;
        margin-left: -365px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
      }
    }

    &-sidebar-nav {
      width: $sidebar-max;
    }
  }
}

