@import "mixins";

//Modal window Add evidence
#modalEvidence{
  .modal-table {
    margin-bottom: 0;
    @include tr-size(10%, 45%, 30%, 15%, 0);
  }

  .modal-table-head {
    margin-bottom: 0;
  }

  .modal-table-content {
    height: 200px;
    overflow-y:auto;

    .modal-table-body__tr {
      @include td-size(10%, 45%,0, 30%, 15%);
      &:hover{
        background-color: #ededed;
        cursor: pointer;
      }

      &--no-border{
        td {
          border-top:0;
        }
      }
    }
  }

  .clicked-tr {
    background-color: #ededed;
  }

  .file {
    visibility: hidden;
    position: absolute;
  }
}

//Modal window My Profile and Preferences
#myProfile, #preferences {

  .modal-button-close__arrow {
    font-size: 20px;
  }

  .modal-body{
    padding-bottom: 0;
    .form-horizontal .control-label {
      text-align: left;
    }
    .form-group {
      margin-bottom: 8px;
    }
    input {
      margin-right: 15px;
    }
  }
}


