@import "mixins";

.active-input {
  background-color: $buttonsAdd !important;
}

.cursor{
  cursor: pointer;
}
.labelColor {
  @include  border-top-bottom($label);
  background-color: $label;
  h4 {
    color: white;
  }
}
.titleColor {
  .title{
    background-color: $label;
  }
}

p {
  margin-top: 10px;
}

svg {
  background-color: #313547;
  @include border-radius (50%);
  transform: rotate( -90deg );
}

.pie {
  display: inline-block;
  margin-right: 10px;
  transform: rotate(-90deg );
}

circle {
  fill: #aeaeae;
  stroke-width: 32;
}

.circle {
  fill: #e2282b !important;
  stroke: #45d666 !important;
}

a, a:hover, a:focus {
  text-decoration: none !important;
}

.btn {
  background-color: $panels-head;
  border-color: $panels-head;
  color: #fff;
}
.btn-open {
  padding: 5px 8px;
  float: right;
  margin: 5px 0 5px 0;
}

.btn-edit {
  padding: 5px 10px;
  float: right;
  margin: auto 0 5px 0;
}

.btn-add {
  border-color: $buttonsAdd;
  background-color: $buttonsAdd;
  margin: 0 3px;
  padding: 4px 10px;
}

.btn-expand {
  padding: 4px 9px;
  float: right;
}

.btn-up, .btn-arrow {
  padding: 5px 12px
}

.btn-up {
  margin: 4px 0 3px auto;
  display: block !important;
}

.btn-arrow {
  float: right;
  margin-left: 3px;
}

.btn-arrow--disabled {
  background-color: rgb(175, 175, 175);
  border-color: rgb(152, 152, 152);
}

.btn-expand-panel {
  float: right;
  margin: 3px;
  padding: 5px 13px;
}

.btn {
  &:hover,
  &-add:hover,
  &-arrow:hover,
  &-edit:hover,
  &-expand:hover,
  &-expand-panel:hover,
  &-open:hover,
  &:focus,
  &-add:focus,
  &-arrow:focus,
  &-edit:focus,
  &-expand:focus,
  &-expand-panel:focus,
  &-open:focus {
    color: #fff;
  }
}

.panel-header {
  @include back-color(#fff, $color-black, hidden);
  @include border-radius (2px);
  box-shadow: $panels-shadow;
  min-height: 120px;

  &__title,
  &__assessment,
  &__filter,
  &__bar-slider,
  &__filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__assessment,
  &__filter,
  &__bar-slider,
  &__filter{
    height: 60px;
  }

  &__title {
    min-height: 60px !important;
  }

  &__assessment{
    padding-left: 10px;
  }

  &__pie, svg {
    @include width-height($pie-size-md, $pie-size-md);
    margin-top: 0;
  }

  &__bar-slider {
    @include padding-left-right(15px, 5px);
  }

  &__filter {
    align-items: center;
    @include padding-left-right(5px, 5px);
  }

  &__form-control {
    @include padding-left-right(2px, 3px);
    #fastAsses {
      margin-top: 5px;
    }
  }
}

.allPanels{
  @include border-radius (3px);
  box-shadow: $panels-shadow !important;
  border: 0 !important;
  margin-bottom: 16px;
}

.allPanels__panel-content {
  padding: 15px 15px 0 15px;
}

.allPanels__panel-heading {
  padding: 0 15px 0 15px;
  margin-left: 0;
  margin-right: 0;
}

.panel-title {
  &__assess-icon,
  &__assess-value,
  &__assess-body,
  &__bar-slider,
  &__button-expand {
    height: 70px;
    background-color: $panels-content;
  }

  &__number,
  &__title,
  &__assessment,
  &__filter,
  &__bar-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__number {
    @include height-background($xs-panel-height, $panels-head);
    @include border-radius (3px 0 0 0);
    align-items: center;
    background: $panels-head;
    color: #fff;
  }

  &__title {
    @include height-background($xs-panel-height, $panels-head);
    @include border-radius (0 3px 0 0);
    &--font-color  {
      color: #fff;
    }
  }

  &__assessment {
    @include border-radius (0 0 0 3px);
    background-color: $panels-content;
  }

  &__pie {
    margin-top: 15px;
  }

  &__pie, svg {
    @include width-height($pie-size-xs, $pie-size-xs);
  }

  &__assess-icon {
    padding-left: 10px;
  }

  &__assess-value {
    padding-left: 10px;
  }

  &__button-expand {
    @include border-right($panels-border, 3px);
    padding-left: 0;
  }

  &__buttons-title {
    padding-left: 0;
    padding-right: 2px;
  }
}

.panel-title:hover {
  .panel-title__assess-icon,
  .panel-title__assess-value,
  .panel-title__assess-body,
  .panel-title__filter,
  .panel-title__bar-slider,
  .panel-title__button-expand{
    background-color: $panels-hover;
  }
}


.panel-block{
  margin: 0 0 15px 0;


  &__assess-icon,
  &__assess-value,
  &__assess-body,
  &__bar-slider,
  &__button-expand {
    height: 70px;
    background-color: $panels-content;
    border-bottom:$panels-border;
    @include border-top-bottom($panels-border);
  }

  &__number,
  &__title,
  &__assessment,
  &__filter,
  &__bar-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__number {
    @include height-background($xs-panel-height, $panels-head);
    @include border-radius (3px 0 0 0);
    align-items: center;
    background: $panels-head;
    color: #fff;
  }

  &__title {
    @include height-background($xs-panel-height, $panels-head);
    @include border-radius (0 3px 0 0);
    &--font-color  {
      color: #fff;
    }
  }

  &__assessment {
    border-left: $panels-border;
    @include border-radius (0 0 0 3px);
  }

  &__pie {
    margin-top: 15px;
  }

  &__pie, svg {
    @include width-height($pie-size-xs, $pie-size-xs);
  }

  &__assess-icon {
    padding-left: 10px;
  }

  &__assess-value {
    padding-left: 5px;
  }

  &__assess-body {
    padding-left: 10px;
  }

  &__button-expand {
    //@include border-right($panels-border, 3px);
    border-bottom-right-radius: 3px;
    border-right: $panels-border;
    padding-left: 0;
  }

  &__button-expand--xs {
    padding: 17px 15px 17px 0;
  }

  &__number--not-collapsed {
    @include border-radius (3px 0px 0px 0);
  }

  &__button-expand--not-collapsed {
    @include border-radius (0px 3px 0px 0);
  }

  .collapse, .collapsing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
      //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &__evidences-details {
    padding: 15px 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid $panels-border-color;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-top: 0;
    @include border-radius (0px 0px 3px 3px);
  }
  li.active a {
    background-color: $label !important;
  }
  .nav-pills > li > a {
    border-radius: 3px;
  }

}

.panel-block:hover {
  .panel-block__assess-icon,
  .panel-block__assess-value,
  .panel-block__assess-body,
  .panel-block__filter,
  .panel-block__bar-slider,
  .panel-block__button-expand{
    background-color: $panels-hover;
  }
}

.evidences-tab {

}

.evidences-content {

}

.well {
  margin-top: 0;
  border: 0;
  margin-bottom: 0;
  width: 100%;
  font-size: 1.3em;
  padding: 5px 0;
  background-color: #fff;
  @include border-radius (0px 0px 3px 3px);
  box-shadow: none;
}

.evidences-table {
    margin-bottom: 0;

  &__thead {
    @include tr-size(5%, 35%, 25%, 25%, 10%);
    color: $menu-color-icon;
  }

  &__thead-th {
    display: table-cell;
    border-bottom: 0;
    border-top: 0;
    font-weight: normal;
    vertical-align: middle;
  }

  &__tbody {
    @include td-size(5%, 35%, 25%, 30%, 5%);
  }

  &__tbody-th {
    display: table-cell;
    color: $menu-color-icon;
  }

  &__tbody-td {
    display: table-cell
  }

  &__tbody-td--buttons {
    padding-right: 0;
  }
}

.evidences-content-assess {
  &__added-comment, &__editable-text {
    border: 1px solid rgb(185, 185, 185);
    min-height: 50px;
    padding: 5px;
    margin-bottom: 5px;
  }
  &__added-comment {
    word-wrap: break-word;
  }
  &__edit-comment{
    width: 100%;
    overflow: visible;
  }
}


//[id^=collapsePanelDetails] {
//
//  [id^=tabsPanels] {
//    p {
//      margin-top: 10px;
//    }
//    .text:hover {
//      //border: 1px solid #c9c9c9;
//    }
//  }
//}






