@import "mixins";

// After clicked to panel
.clicked-blue {
  @include border-top-bottom($label);
  background-color: $label !important;
}

.clicked-blue-title {
  @include border-top-bottom($label);
  background-color: $label !important;
}

.clicked-yellow {
  background-color: $panels-hover !important;
}

.collapse, .collapsing {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

//Textarea in right panel and panel details

.added-comment, .editable-text {
  border: 1px solid rgb(185, 185, 185);
  min-height: 50px;
  margin-bottom: 5px;
  padding: 2px;
  font-size: 1.4em;
}

.added-comment {
  word-wrap: break-word;
}

.edit-comment {
  width: 100%;
  overflow: visible;
}

// Main panel
.panel-header {
  @include back-color(#fff, $color-black, hidden);
  @include border-radius (2px);
  box-shadow: $panels-shadow;
  min-height: 120px;
  margin-left: 15px;
  margin-right: 15px;
  //min-height: 100vh;

  &-title,
  &-assessment,
  &-filter,
  &-bar-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-assessment,
  &-filter,
  &-bar-slider {
    height: 60px;
  }

  &-title {
    min-height: 60px !important;
  }

  &-assessment {
    padding-left: 10px;

    &__pie, svg {
      @include width-height($pie-size-md, $pie-size-md);
      margin-top: 0;
    }
  }

  &-bar-slider {
    @include padding-left-right(15px, 5px);
  }

  &-filter {
    align-items: center;
    @include padding-left-right(5px, 5px);
  }

  &-form-control {
    @include padding-left-right(2px, 3px);
    #fastAsses {
      margin-top: 5px;
    }
  }
}

//Panels
.panels {
  margin-left: 0;
  margin-right: 0;
  padding-right: 65px;
}

.panel-list {
  @include border-radius (3px);
  box-shadow: $panels-shadow !important;
  border: 0 !important;
  margin-bottom: 16px;
  background-color: #fff;

  &-panel-body {
    padding: 15px;
  }

  &-panel-heading {
    padding: 0 15px 0 15px;
    margin-left: 0;
    margin-right: 0;
    color: #333333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}

.assessment-raiting,
.assessment-dampster-shafer,
.assessment-dampster-shafer-v2 {

  .panel-title {
    flex-wrap: wrap;
    display: flex;

    &-bar-slider,
    &-buttons {
      min-height: 70px;
      background-color: $panels-content;
    }

    &-number,
    &-title,
    &-assessment,
    &-bar-slider,
    &-triangle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-number {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (3px 0 0 0);
      align-items: center;
      background: $panels-head;
      color: #fff;
    }

    &-title {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (0 3px 0 0);
      &__font-color {
        color: #fff;
      }
    }

    &-assessment {
      @include border-radius (0 0 0 3px);
      background-color: $panels-content;

      &-icon,
      &-value,
      &-body {
        min-height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &-icon {
        &__pie, svg {
          @include width-height($pie-size-xs, $pie-size-xs);
        }
      }
      &-value {
        padding-left: 10px;
      }
    }

    &-bar-slider {
      &__triangle {
        width: 70px;
        margin: 10px;
      }
    }

    &-triangle {
      background-color: $panels-content;
      &__img {
        width: 70px;
        margin: 5px 10px;
      }
    }

    &-buttons {
      @include border-right($panels-border, 3px);
      padding-left: 0;
      //padding-right: 0;

      &-body {
        padding-left: 0;
        padding-right: 2px;
      }
    }
    &:hover {
      .panel-title-assessment,
      .panel-title-bar-slider,
      .panel-title-triangle,
      .panel-title-buttons {
        background-color: $panels-hover;
      }
    }
  }

  .panel-block {
    margin: 0 0 15px 0;
    cursor: pointer;
    flex-wrap: wrap;
    display: flex;

    &-bar-slider,
    &-buttons,
    &-assessment {
      min-height: 70px;
      background-color: $panels-content;
      border-bottom: $panels-border;
    }

    &-number,
    &-title,
    &-assessment,
    &-bar-slider,
    &-triangle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-number {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (3px 0 0 0);
      align-items: center;
      color: #fff;
    }

    &-title {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (0 3px 0 0);
      &__font-color {
        color: #fff;
      }
    }

    &-assessment {
      border-left: $panels-border;
      background-color: $panels-content;
      @include border-radius (0 0 0 3px);
      padding-left: 5px;
      padding-right: 5px;

      &-icon,
      &-value {
        min-height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-icon {
        //padding-left: 10px;
        &__pie {
          //margin-top: 15px;
        }
        &__pie, svg {
          @include width-height($pie-size-xs, $pie-size-xs);
        }
      }

      &-value {
        padding-left: 5px;
        &__number, &__percent {
          margin-bottom: 8px;
          margin-top: 8px;
        }
      }
    }

    .triangle-buttons {
      margin: 0;
      width: 65px;
      //height: 70px;

      td {
        padding: 0;
        border: 0;
        line-height: 0;

        .glyphicon {
          line-height: 0.75;
          color: $panels-head;
          font-size: 30px;
          //background-color: white;

          &-triangle {
            &-top, &-bottom {
              font-size: 30px;
              //height:20px;
            }
            &-left, &-right {
              font-size: 30px;
              width: 22px;
            }

            &-right {
              margin-left: -8px;
            }
          }
        }

      }

      td:first-child {
        width: 20px;
      }

    }

    &-buttons {
      border-bottom-right-radius: 3px;
      border-right: $panels-border;
      padding-left: 0;
    }

    &-buttons--xs {
      padding: 17px 15px 17px 0;
    }

    &-number--not-collapsed {
      @include border-radius (3px 0px 0px 0);
    }

    &-assessment--not-collapsed {
      @include border-radius (0px 0px 0px 0);
    }

    &-buttons--not-collapsed {
      @include border-radius (0px 0px 0px 0);
    }

    .panel-details {
      padding: 15px;
      margin: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid $panels-border-color;
      border-radius: 3px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      border-top: 0;
      @include border-radius (0px 0px 3px 3px);

      &-tabs {
        &__link {
          border-radius: 3px;
        }
      }

      .active .panel-details-tabs {
        &__link {
          background-color: $label !important;
        }
      }
    }

    &:hover {
      .panel-block-assessment,
      .panel-block-bar-slider,
      .panel-block-buttons,
      .panel-block-triangle {
        background-color: $panels-hover;
      }
    }
  }

  .panel-block:last-child {
    margin-bottom: 0;
  }

  //Details panel - evidences
  .evidences-panel {
    margin-top: 0;
    border: 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 1.3em;
    padding: 5px 0;
    background-color: #fff;
    @include border-radius (0px 0px 3px 3px);
    box-shadow: none;
  }

  .evidences-table {
    margin-bottom: 0;

    &__thead {
      @include tr-size(5%, 35%, 25%, 25%, 10%);
      color: $menu-color-icon;
    }

    &__thead-th {
      display: table-cell;
      border-bottom: 0;
      border-top: 0;
      font-weight: normal;
      vertical-align: middle;
    }

    &__tbody {
      @include td-size(5%, 35%, 25%, 30%, 5%);
    }

    &__tbody-th {
      display: table-cell;
      color: $menu-color-icon;
    }

    &__tbody-td {
      display: table-cell;
    }

    &__tbody-td--buttons {
      padding-right: 0;
    }
  }
}

.button-arrow {
  position: relative;
  padding: 80px;
  height: 100px;
  width: 100px;
}



