@import "mixins";

/***** Panel search *****/
#search-panel {
  min-width: 360px;
}

.search {
  margin-bottom: 0;
  border: {
    radius: 0;
    left: 0;
    right: 0;
  }

  .checkbox {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }

  &-form {

    .btn-panel-search__text {
      font-size: 13px;
    }

    &-input {
      padding: 0 5px;
    }

    &-dropdown {
      width: 1% !important;
      &-menu {
        min-width: 100px;
      }
    }

    &-checkboxes {
      padding: 10px 5px 10px 5px;
      .checkboxes-group {
        padding: 0;
        width: 100%;
        margin-bottom: 0;

        &-row {
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-left: 0;
        }

        &-label {
          padding-left: 5px;
          padding-right: 5px;
        }

        &__text {
          margin-left: 5px;
        }
      }
    }
    &-buttons {
      text-align: right;
      padding: 10px 5px 10px 5px;

      &__result {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 13px;
      }
    }
  }
}
