@import "mixins";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";



.panel {
  box-shadow: $panels-shadow;
  border-radius: 3px;
  border: 0;
}

.allPanels {
  margin-top: 20px;
  margin-bottom: 16px;
}

.padding-content {
  padding: 14px 0 0 15px;
}

.space {
  margin-bottom: 20px;
}

span.numberValue {
  font-size: 16px;
}

.number,
.title,
.assessment,
.filter,
.bar-header,
.bar,
.title-main,
.assessment-icon  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items:center;
  height: 100%;
}

.button-expand{
  display: flex;
  align-items: center;
  height: 100%;
  //align-self: center;
  //justify-content: center;
  //align-content: center;
}

svg {
  background-color: #313547;
  border-radius: 50%;
  transform: rotate( -90deg );
}

.pie {
  display: inline-block;
  margin-right: 10px;
  transform: rotate(-90deg );
}

circle {
  fill: #aeaeae;
  //stroke: #45d666;
  stroke-width: 32;
}

.circle {
  fill: #e2282b !important;
  stroke: #45d666 !important;
}

.box-header {
  @include back-color(#fff, $color-black, hidden);
  //-webkit-border-radius: 2px 2px 0 0;
  //-moz-border-radius: 2px 2px 0 0;
  //box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: $panels-shadow;
  height: 8rem;
  border-radius: 2px;

  h4 {
    @include font(400,1.4);
    margin: 5px;
  }

  h2 {
    float: left;
    padding: 10px 0;
  }
  svg {
    @include pie-svg ($pie-size-big, $pie-size-big);
  }

  .pie {
    @extend svg;
    margin-top: 0;
  }

  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff;
  }

  .btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }

  .box-icon {
    background: #1e8fc6;
    float: right;
  }
  .filter {
    align-items: center;
    .form-control {
      width: 100%;
    }
  }
  #fastAsses {
    margin-top: 5px;
  }
}

.panels-title {
  .panel-heading {
    padding: 0 15px !important;
  }

    > .row {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  h4 {
    @include font(400,1.4);
  }

  .box-under-header {
    @include back-color($panels-content, black, hidden);
    //-webkit-border-radius: 2px 2px 0 0;
    //-moz-border-radius: 2px 2px 0 0;
    border-radius: 3px 3px 0 0;
    height: 5em;

    svg {
      @include pie-svg ($pie-size-md, $pie-size-md);
    }

    .pie {
      @extend svg;
      margin-top: 10px;
    }

    .number {
      align-items: center;
    }

    .assessment {
      padding-left: 12px;
    }
    .button-expand-three{
      height: 5em;

      button.up{
        background: $panels-head;
        margin: 3px 5px 3px auto;
        display: block;
      }

      button.arrow{
        background: $panels-head;
        float: right;
      }
      .arrow:nth-child(1){
        margin: 0 5px 0 0;
      }
      .arrow:nth-child(2){
        margin: 0 5px 0 6px;
      }

    }
  }
}

.panel-content {
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding-bottom: 0 !important;
  padding-top: 20px !important;

  .box-under-header {
    @include back-color($panels-content, $color-black, hidden);
    //-webkit-border-radius: 2px 2px 0 0;
    //-moz-border-radius: 2px 2px 0 0;
    height: 5em;
  }

  button{
    background: $panels-head;
    border: $panels-head;
  }

  svg {
    @include pie-svg ($pie-size-md, $pie-size-md);
  }

  .pie {
    @extend svg;
    margin-top: 10px;
  }

  .box-under-header-sx {
    @include back-color($panels-content, $color-black, hidden);
    //-webkit-border-radius: 2px 2px 0 0;
    //-moz-border-radius: 2px 2px 0 0;
    height: 4.2em;

    h5 {
      @include font(400,1.3);
    }

    h6 {
      @include font(400,0.8);
    }

    svg  {
      @include pie-svg ($pie-size-sx, $pie-size-sx);
    }

    .pie {
      @extend svg;
      align-items:center;
    }

    button{
      background: $panels-head;
    }
  }

  .title, .assessment-icon, .filter, .button-expand {
    @include border-top-bottom($panels-border);
  }

  .number {
    @include border-top-bottom($panels-head-border);
    @include border-left(3px);
    align-items:center;
    background: $panels-head;
    color: #fff;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .number-not-collapsed {
    border-bottom-left-radius: 0;
  }

  .bar {
    @include border-top-bottom($panels-border);
  }

  .button-expand {
    @include border-right($panels-border, 3px);

    button.expand{
      margin-left: auto;
    }

    .expand-main-page{
      margin: 0 auto;
    }
  }

  .button-expand-not-collapsed {
    border-bottom-right-radius: 0;
  }

  .collapse, .collapsing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .well{
    margin-top: 0;
    border-top: 0;
    margin-bottom: 0 !important;
    width: 100%;
    //color: #b3b3b3;
    font-size: 14px;
    min-height: 15px !important;
    padding: 5px 15px !important;
    background-color: #fff !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    //color: $panels-head;

    table{
      margin-bottom: 0;
      thead{
        color: #aeaeae;

        tr {
          th{
            border-bottom: 0;
            font-weight: normal;
            vertical-align: middle;
          }
        }

        th:nth-child(1){
          width: 5%;
        }
        th:nth-child(2){
          width: 35%;
        }
        th:nth-child(3){
          width: 25%;
        }
        th:nth-child(4){
          width: 25%;
        }
        th:nth-child(5){
          width: 10%;
        }
      }
      tbody{
        tr {
          th{
            color: #aeaeae;
          }
        }
      }
    }
    .buttons{
      display: flex;
    }
    button:nth-child(1){
        margin: 5px 0 5px auto;
      }
    button:nth-child(2){
      margin: 5px 0 5px 5px;
    }
  }
}

  .bar-header {
    border: 1px solid #e7e7e7;
  }

  .panel-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }



.labelColor {
  background-color: $label !important;
  border-top: 1px solid $label !important;
  border-bottom: 1px solid $label !important;
  color:white;
}

  @keyframes fillup {
    to {
      stroke-dasharray: 158 158;
    }
  }

  @media screen and (max-width: 768px) {
    .box-header{
      h3{
        font-size: 18px;
      }

      h4 {
        font-size: 16px;
      }
      //svg {
      //  height: $pie-size-md;
      //  width: $pie-size-md;
      //}
      //
      //.pie {
      //  width: $pie-size-md;
      //  height: $pie-size-md;
      //}
    }
  }
@media (max-width: 1400px){
.box-header{
  h3 {
    font-size: 18px;
  }
}
}

@media (max-width: $container-lg){
  .box-header{
    h3 {
      font-size: 18px;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .box-header{
    h3 {
      font-size: 18px;
    }
  }

  .panels {
    h4 {
    font-size: 14px;
    }
    span.numberValue {
      font-size: 14px;
    }
  }
}


@media (max-width: $screen-xs-max) {
    .panels {
    h4 {
      font-size: 14px;
    }
      span.numberValue {
        font-size: 14px;
      }

      .visible-xs {
        display: flex !important;
      }
  }
}
