@import "mixins";

.assessment-dampster-shafer {

  .range-slider {
    height: 35px;
  }
  .btn-up, .btn-expand-panel {
    margin: 0;
  }

  .btn-arrow:last-child {
    margin-left: 0;
  }

  .btn-add {
    margin-left: 3px;
    margin-right: 0;
  }

  .panel-title,
  .panel-block {
    &-title {
      border-radius: 0;
    }

    &-assessment-icon {
      padding: 0 10px 0 0;
      background-color: $panels-head;
      border: 0;
      border-radius: 0 3px 0 0;
      min-height: 40px;
    }

    &-assessment-text {
      @include border-radius (0 0 0 3px);
      @include padding-left-right(5px, 5px);
      border-bottom: 0;

      &__text {
        font-size: 12px;
        margin: 5px 0;
      }

    }
    &-bar-slider {
      border: none;
      padding-left: 10px;
      padding-right: 0;
    }

    &-triangle {
      @include padding-left-right(5px, 5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $panels-content;
      &__img {
        width: 50px;
        margin: 0 auto;
      }
    }

    &-buttons {
      display: flex;
      min-height: 20px;
      flex-direction: row-reverse;
      border: 0;
      padding-right: 0;

      &-body {
        float: right;
        margin: 3px 3px 3px 0;
        padding: 0;
      }
    }
    &:hover {
      .panel-title-assessment-icon,
      .panel-block-assessment-icon {
        background-color: $panels-head;
      }
      .panel-title-assessment-text,
      .panel-block-assessment-text {
        background-color: $panels-hover;
      }
    }

  }

  .panel-block {
    &-assessment-text {
      border-left: $panels-border;
      border-radius: 0;
    }

    &-buttons {
      @include border-top-bottom-left($panels-border);
      border-radius: 0 0 3px 3px;
    }

    &-triangle {
      border-right: $panels-border;
    }
  }
}

@media all and (min-width: 500px) {

  .assessment-dampster-shafer {

    .panel-title,
    .panel-block {
      &-assessment-text {
        padding-left: 15px;
      }
    }
  }
}

@media all and (min-width: 768px) {

  .assessment-dampster-shafer {

    .btn-up, .btn-expand-panel {
      margin: 0 0 0 auto;
    }

    .panel-title,
    .panel-block {
      &-title {
        padding-right: 5px;
      }

      &-assessment-icon {
        background-color: $panels-content;
      }

      &-assessment-text {
        padding-left: 5px;
      }

      &-buttons {
        flex-direction: column-reverse;
        &-body:last-child {
          margin-bottom: 0;
        }

      }

      &:hover {
        .panel-title-assessment-icon,
        .panel-block-assessment-icon {
          background-color: $panels-hover;
        }
      }
    }

    .panel-title {
      &-buttons {
        &-body:first-child {
          margin-bottom: 5px;
        }
      }
    }

    .panel-block {

      &-assessment-icon {
        @include border-top-bottom($panels-border);
      }

      &-assessment-text {
        @include border-top-bottom($panels-border);
        border-left: 0;
        border-radius: 0;
      }

      &-bar-slider {
        @include border-top-bottom($panels-border);
      }

      &-buttons {
        @include border-top-bottom($panels-border);
        border-left: 0;
        border-top-right-radius: 3px;
      }

      &-triangle {
        @include border-top-bottom($panels-border);
        @include padding-left-right(15px, 15px);
        border-right: 0;
      }
    }

  }
}

@media all and (min-width: 992px) {

  .assessment-dampster-shafer {
    .panel-title,
    .panel-block {
      &-assessment-text {
        padding-left: 10px;
        &__text {
          font-size: 14px;
        }
      }

      &-triangle {
        &__img {
          width: 55px;
        }
      }
    }
  }
}

@media all and (min-width: 1460px) {

  .assessment-dampster-shafer {
    .panel-title,
    .panel-block {
      &-triangle {
        &__img {
          width: 80px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.assessment-spice {

}
