@import "mixins";



// Main panel
.panel-header {
  @include back-color(#fff, $color-black, hidden);
  @include border-radius (2px);
  box-shadow: $panels-shadow;
  min-height: 120px;
  margin-left: 15px;
  margin-right: 15px;
  //min-height: 100vh;

  &__title,
  &__assessment,
  &__filter,
  &__bar-slider,
  &__filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__assessment,
  &__filter,
  &__bar-slider,
  &__filter{
    height: 60px;
  }

  &__title {
    min-height: 60px !important;
  }

  &__assessment{
    padding-left: 10px;
  }

  &__pie, svg {
    @include width-height($pie-size-md, $pie-size-md);
    margin-top: 0;
  }

  &__bar-slider {
    @include padding-left-right(15px, 5px);
  }

  &__filter {
    align-items: center;
    @include padding-left-right(5px, 5px);
  }

  &__form-control {
    @include padding-left-right(2px, 3px);
    #fastAsses {
      margin-top: 5px;
    }
  }
}

//Panels
.panels-list {
  margin-left: 0;
  margin-right: 0;
  padding-right: 65px;
}

.allPanels{
  @include border-radius (3px);
  box-shadow: $panels-shadow !important;
  border: 0 !important;
  margin-bottom: 16px;

  &--clicked-blue {
    @include border-top-bottom($label);
    background-color: $label !important;
  }

  &--clicked-blue-title {
    @include border-top-bottom($label);
    background-color: $label !important;
  }

  &--clicked-yellow {
    background-color: $panels-hover !important;
  }
}

.allPanels-panel-content {
  padding: 15px 15px 0 15px;
}

.allPanels-panel-heading {
  padding: 0 15px 0 15px;
  margin-left: 0;
  margin-right: 0;
}

.triangle, .no-triangle {

  .panel-title {
    flex-wrap: wrap;
    display: flex;

    &__bar-slider,
    &__button-expand {
      min-height: 70px;
      background-color: $panels-content;
    }

    &__assess-icon,
    &__assess-value,
    &__assess-body {
      min-height: 70px;
    }

    &-number,
    &-title,
    &-assessment,
    &__filter,
    &__bar-slider {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-number {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (3px 0 0 0);
      align-items: center;
      background: $panels-head;
      color: #fff;
    }

    &-title {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (0 3px 0 0);
      &__font-color {
        color: #fff;
      }
    }

    &-assessment {
      @include border-radius (0 0 0 3px);
      background-color: $panels-content;
    }

    &__pie {
      margin-top: 15px;
    }

    &__pie, svg {
      @include width-height($pie-size-xs, $pie-size-xs);
    }

    &__assess-icon {
      padding-left: 10px;
    }

    &__assess-value {
      padding-left: 10px;
    }

    &__bar-slider {
      &-triangle {
        //height: 50px;
        width: 70px;
        margin: 10px;
      }
    }

    &__triangle {
      background-color: $panels-content;
      &-img {
        width: 70px;
        margin: 5px 10px;
      }
    }

    &__button-expand {
      @include border-right($panels-border, 3px);
      padding-left: 0;
    }

    &__buttons-title {
      padding-left: 0;
      padding-right: 2px;
    }
  }

  .panel-title:hover {
    .panel-title-assessment,
    .panel-title__filter,
    .panel-title__bar-slider,
    .panel-title__triangle,
    .panel-title__button-expand {
      background-color: $panels-hover;
    }
  }

  .panel-block {
    margin: 0 0 15px 0;
    cursor: pointer;
    flex-wrap: wrap;
    display: flex;

    &__bar-slider,
    &__button-expand,
    &-assessment {
      min-height: 70px;
      background-color: $panels-content;
      border-bottom: $panels-border;
    }

    &__assess-icon,
    &__assess-value {
      min-height: 70px;
    }

    &-number,
    &-title,
    &-assessment,
    &__filter,
    &__bar-slider {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-number {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (3px 0 0 0);
      align-items: center;
      color: #fff;
    }

    &-title {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (0 3px 0 0);
      &__font-color {
        color: #fff;
      }
    }

    &-assessment {
      border-left: $panels-border;
      background-color: $panels-content;
      @include border-radius (0 0 0 3px);
    }

    &__pie {
      margin-top: 15px;
    }

    &__pie, svg {
      @include width-height($pie-size-xs, $pie-size-xs);
    }

    &__assess-icon {
      padding-left: 10px;
    }

    &__assess-value {
      padding-left: 5px;

      .assess-value {
        &__number, &__percent {
          margin-bottom: 8px;
          margin-top: 8px;
        }
      }

    }

    &__bar-slider {
      &-triangle {
        //height: 50px;
        width: 70px;
        margin: 10px;
      }

    }
    &__triangle {
      background-color: $panels-content;
      &-img {
        width: 70px;
        margin: 5px 10px;
      }
    }

    &__button-expand {
      border-bottom-right-radius: 3px;
      border-right: $panels-border;
      padding-left: 0;
    }

    &__button-expand--xs {
      padding: 17px 15px 17px 0;
    }

    &__number--not-collapsed {
      @include border-radius (3px 0px 0px 0);
    }

    &__assessment--not-collapsed {
      @include border-radius (0px 0px 0px 0);
    }

    &__button-expand--not-collapsed {
      @include border-radius (0px 0px 0px 0);
    }

    .collapse, .collapsing {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    &__evidences-details {
      padding: 15px 0;
      margin: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid $panels-border-color;
      border-radius: 3px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      border-top: 0;
      @include border-radius (0px 0px 3px 3px);
    }
    li.active a {
      background-color: $label !important;
    }
    .nav-pills > li > a {
      border-radius: 3px;
    }

    &:hover {
      .panel-block-assessment,
      .panel-block__filter,
      .panel-block__bar-slider,
      .panel-block__button-expand,
      .panel-block__triangle {
        background-color: $panels-hover;
      }
    }
  }

  //Details panel - evidences
  .well {
    margin-top: 0;
    border: 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 1.3em;
    padding: 5px 0;
    background-color: #fff;
    @include border-radius (0px 0px 3px 3px);
    box-shadow: none;
  }

  .evidences-table {
    margin-bottom: 0;

    &__thead {
      @include tr-size(5%, 35%, 25%, 25%, 10%);
      color: $menu-color-icon;
    }

    &__thead-th {
      display: table-cell;
      border-bottom: 0;
      border-top: 0;
      font-weight: normal;
      vertical-align: middle;
    }

    &__tbody {
      @include td-size(5%, 35%, 25%, 30%, 5%);
    }

    &__tbody-th {
      display: table-cell;
      color: $menu-color-icon;
    }

    &__tbody-td {
      display: table-cell;
    }

    &__tbody-td--buttons {
      padding-right: 0;
    }
  }

  .evidences-content-assess {
    &__added-comment, &__editable-text {
      border: 1px solid rgb(185, 185, 185);
      min-height: 50px;
      padding: 5px;
      margin-bottom: 5px;
    }
    &__added-comment {
      word-wrap: break-word;
    }
    &__edit-comment {
      width: 100%;
      overflow: visible;
    }
  }

}

