@import "mixins";

.padding-content {
  padding: 14px 0 0 15px;
}

.cursor{
  cursor: pointer;
}

.number,
.title,
.assessment,
.filter,
.bar-header,
.bar-slider,
.title-main,
.select{
  display: flex;
  flex-direction: column;
  justify-content: center;
  //height: 100%;
}

svg {
  background-color: #313547;
  @include border-radius (50%);
  transform: rotate( -90deg );
}

.pie {
  display: inline-block;
  margin-right: 10px;
  transform: rotate(-90deg );
}

circle {
  fill: #aeaeae;
  stroke-width: 32;
}

.circle {
  fill: #e2282b !important;
  stroke: #45d666 !important;
}
button.btn{
  background-color: $panels-head;
  border-color: $panels-head;

  &.btn-primary {
    &.open {
      padding: 5px 8px;
    }
    &.edit {
      padding: 5px 10px;
    }
    &.add {
      border-color: #86bfea;
      background-color: #86bfea;
      margin-left: 3px;
      padding: 4px 10px;
    }
    &.expand {
      padding: 4px 9px;
      float: right;
    }
  }
  &.up, &.arrow {
    padding: 5px 12px
  }
  &.up {
    margin: 4px 0 3px auto;
    display: block;
  }
  &.arrow {
    float: right;
    &:disabled {
      background-color: rgb(175, 175, 175);
      border-color: rgb(152, 152, 152);
    }
    &:nth-child(2) {
      margin: 0 3px 0 0;
    }
  }

  &[name=expand] {
    float: right;
    margin: 3px 0;
    padding: 5px 13px;
  }
}

.box-header {
  @include back-color(#fff, $color-black, hidden);
  @include border-radius (2px);
  box-shadow: $panels-shadow;
  height: 120px;

  .assessment,
  .filter,
  .bar-slider,
  .title-main,
  .select{
    height: 50%;
  }

  .assessment {
    padding-left: 10px;
    svg {
      @include width-height($pie-size-md, $pie-size-md);
    }
    .pie {
      @extend svg;
      margin-top: 0;
    }
  }

  .bar-slider {
    @include padding-left-right(15px, 5px);
  }

  .filter {
    align-items: center;
    @include padding-left-right(5px, 5px);
    .form-control {
      width: 100%;
    }
    select {
      font-size: 1.2em;
      @include padding-left-right(2px, 3px);
      #fastAsses {
        margin-top: 5px;
      }
    }
  }
  .btn-default {
    @include color-back-border(#333, #fff, #fff);
    &:hover{
      @include color-back-border(#333, #d4d4d4, #8c8c8c);
    }
  }
}

.allPanels {
  @include border-radius (3px);
  box-shadow: $panels-shadow !important;
  border: 0 !important;
  margin-top: 20px;
  margin-bottom: 16px;
  a:hover, a:focus {
    text-decoration: none;
  }
  > .row {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .panel-heading{
    padding: 0 15px 0 15px;
  }
  .assessment,
  .assessment-icon,
  .bar-slider,
  .bar-header,
  .button-expand,
  .button-expand-three,
  .filter {
    background-color: $panels-content;
  }

  .title {
    @include border-radius (0 3px 0 0);
  }

  .number {
     @include border-radius (3px 0 0 0);
     align-items: center;
     background: $panels-head;
     color: #fff;

   }

  .title, .number {
    @include height-background($xs-panel-height, $panels-head);
    h4, a {
      color: #fff;
    }
  }

  .assessment,
  .assessment-icon {
    div:nth-child(2) {
        padding: 10px 15px 0 5px;
    }
  }


  .box-under-header, .box-under-header-title {
    &.assessment,
    &.assessment-icon,
    &.assessment-icon .row > div,
    &.bar-slider,
    &.bar-header,
    &.button-expand,
    .assessment,
    .assessment .row > div,
    .assessment-icon,
    .bar-slider,
    .bar-header,
    .button-expand,
    .button-expand-three,
    .filter{
      height: 70px;
    }

    &.assessment,
    &.assessment-icon,
    .assessment,
    .assessment-icon {
      svg {
        @include width-height ($pie-size-xs, $pie-size-xs);
      }
      .pie {
        @extend svg;
        margin-top: 15px;
      }
    }

    &.bar-header {
      @include border-top-bottom($panels-border);
    }

    .button-expand-three {
      .row > div {
        padding-left: 0;
        padding-right: 5px;
      }
    }
  }

  .panel-content {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 10px 10px 0 10px !important;

    .assessment-icon {
      border-left: $panels-border;
      @include border-radius (0 0 0 3px);

      .col-xs-6, .col-xs-5, .col-xs-7 {
        padding-left: 10px;
      }
    }

    .assessment-icon,
    .filter,
    .button-expand,
    .bar-slider {
      @include border-top-bottom($panels-border);
    }

    .number-not-collapsed {
      @include border-radius (3px 0px 0px 0);
    }

    .button-expand {
      @include border-right($panels-border, 3px);
      padding-left: 0 !important;

      .btn.btn-primary.btn-sm {
        margin-left: auto;
      }
      @include border-radius (0 0 3px 0);
      .row > div {
        padding-right: 5px;
      }
    }

    .button-expand-not-collapsed {
      @include border-radius (0px 3px 0px 0);
    }

    .collapse, .collapsing {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .space {
      margin-bottom: 10px;
    }

    .box-under-header-sx {
      &.assessment-icon,
      &.assessment-icon .row > div,
      &.bar-slider,
      &.bar-header,
      &.button-expand {
        height: 70px;
      }

      &.assessment-icon {
        .pie.pull-left {
          margin-top: 15px;
          svg {
            @include width-height ($pie-size-xs, $pie-size-xs);
          }
          .pie {
            @extend svg;
            //align-items: center;
          }
        }
      }

      &.children {
        padding: 17px 15px 17px 0;
      }

      .active-input {
        background-color: #86bfea !important;
      }
    }
  }
}

.allPanels .panel-content, .right-panel #bs-collapse {

  .panel-heading.labelColor, .labelColor {
    @include  border-top-bottom($label);
    background-color: $label;
    h4 {
      color: white;
    }
  }
  .titleColor {
    .title{
      background-color: $label;
    }
  }

  .hseq.space:hover,
  .titleColor {
  .assessment-icon,
  .assessment,
  .bar-header,
  .bar-slider,
  .button-expand,
  .button-expand-three,
  .evidences {
      background-color: #f3f3f3;
    }
  }
}

[id^=collapsePanelDetails] {

  [id^=tabsPanels]{
    padding: 15px 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-top: 0;
    @include border-radius (0px 0px 3px 3px);

    p {
      margin-top: 10px;
    }

    .well{
      margin-top: 0;
      border: 0;
      margin-bottom: 0;
      width: 100%;
      font-size: 14px;
      padding: 5px 0;
      background-color: #fff;
      @include border-radius (0px 0px 3px 3px);
      box-shadow: none;

      table{
        margin-bottom: 0;
        thead{
          @include tr-size(5%,35%, 25%, 35%, 10%);
          color: #aeaeae;

          .btn.btn-primary.add{
            background-color: #86bfea;
          }

          tr {
            th{
              border-bottom: 0;
              border-top: 0;
              font-weight: normal;
              vertical-align: middle;
            }
          }
        }
        tbody{
          tr {
            th{
              color: #aeaeae;
            }
          }
        }
      }
      .buttons{
        //display: flex;
        display: inline-block;
      }

      button{
        &:nth-child(1){
          margin: 5px 0 5px 0;
        }
        &:nth-child(2){
          margin: auto 0 5px 0;
        }
      }
      //button:nth-child(1){
      //  margin: 5px 0 5px auto;
      //}
      //button:nth-child(2){
      //  margin: 5px 0 5px 5px;
      //}
    }

    .addedCom, .editable_text {
      border: 1px solid rgb(185, 185, 185);
      min-height: 50px;
      padding: 5px;
      margin-bottom: 5px;
    }

    textarea {
      width: 100%;
      overflow: visible;
    }

    .text:hover {
      border: 1px solid #c9c9c9;
    }

    .addedComment {
      word-wrap: break-word;
    }

    #removeAssess, #saveAssess, #removeAssessAlert, #saveAssessAlert {
      margin: 10px;
    }

    li.active a {
      background-color: $label !important;
    }

    .nav-pills > li > a {
      border-radius: 3px;
    }
  }
}





