@import "mixins";

/***** After clicked to panel *****/

.clicked-blue {
  @include border-top-bottom($label);
  background-color: $label !important;
}

.clicked-blue-title {
  @include border-top-bottom($label);
  background-color: $label !important;
}

.clicked-yellow {
  background-color: $panels-hover !important;
}

.collapse, .collapsing {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/***** Textarea in the right panel and panel details *****/

.added-comment, .editable-text {
  border: 1px solid rgb(185, 185, 185);
  font-size: 1.4em;
  margin-bottom: 5px;
  min-height: 50px;
  padding: 2px;
}

.added-comment {
  word-wrap: break-word;
}

.edit-comment {
  overflow: visible;
  width: 100%;
}

/***** Main panel *****/

.panel-header {
  @include back-color(#fff, $color-black, hidden);
  @include border-radius (2px);
  @include margin-left-right(15px, 15px);
  box-shadow: $panels-shadow;
  min-height: 120px;

  &-title,
  &-assessment-icon,
  &-assessment-text,
  &-filter,
  &-bar-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-assessment-icon,
  &-assessment-text,
  &-filter,
  &-bar-slider {
    height: 60px;
  }

  &-title {
    min-height: 60px !important;
  }

  &-assessment-icon {
    padding-left: 10px;

    &__pie, svg {
      @include width-height($pie-size-md, $pie-size-md);
      margin-top: 0;
    }
  }

  &-bar-slider {
    @include padding-left-right(15px, 5px);
  }

  &-filter {
    align-items: center;
    @include padding-left-right(5px, 5px);
  }

  &-form-control {
    @include padding-left-right(2px, 3px);
    #fastAsses {
      margin-top: 5px;
    }
  }
}

/***** Panels *****/

.panels {
  @include margin-left-right(0, 0);
  padding-right: 65px;
}

.panel-list {
  @include border-radius (3px);
  background-color: #fff;
  box-shadow: $panels-shadow !important;
  border: 0 !important;
  margin-bottom: 16px;


  &-panel-body {
    padding: 15px;
  }

  &-panel-heading {
    @include margin-left-right(0, 0);
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #333333;
    padding: 0 15px 0 15px;
  }
}

.assessment-rating,
.assessment-dampster-shafer,
.assessment-spice {

  .panel-title {
    display: flex;
    flex-wrap: wrap;

    &-bar-slider,
    &-assessment-icon,
    &-assessment-text,
    &-buttons {
      background-color: $panels-content;
      min-height: 70px;
    }

    &-number,
    &-title,
    &-assessment-icon,
    &-assessment-text,
    &-bar-slider {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-number {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (3px 0 0 0);
      align-items: center;
      background: $panels-head;
      color: #fff;
    }

    &-title {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (0 3px 0 0);
      &__font-color {
        color: #fff;
      }
    }

    &-assessment-icon,
    &-assessment-text {
      @include padding-left-right(5px, 5px);

      &__pie, svg {
        @include width-height($pie-size-xs, $pie-size-xs);
      }

      &__number {
        @include padding-left-right(5px, 5px);
        margin-bottom: 5px;
        margin-top: 5px;

      }
    }

    &-bar-slider {
      @include padding-left-right(5px, 5px);
    }


    &-buttons {
      padding-left: 0;

      &-body {
        @include padding-left-right(0, 2px);
      }
    }

    &:hover {
      .panel-title-assessment-icon,
      .panel-title-assessment-text,
      .panel-title-bar-slider,
      .panel-title-triangle,
      .panel-title-buttons {
        background-color: $panels-hover;
      }
    }
  }

  .panel-block {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;

    &-bar-slider,
    &-buttons,
    &-assessment-icon,
    &-assessment-text {
      background-color: $panels-content;
      border-bottom: $panels-border;
      min-height: 70px;

    }

    &-number,
    &-title,
    &-assessment-icon,
    &-assessment-text,
    &-bar-slider,
    &-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-number {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (3px 0 0 0);
      align-items: center;
      color: #fff;
    }

    &-title {
      @include height-background($xs-panel-height, $panels-head);
      @include border-radius (0 3px 0 0);
      &__font-color {
        color: #fff;
      }
    }

    &-assessment-icon {
      @include border-radius (0 0 0 3px);
      @include padding-left-right(5px, 5px);
      border-left: $panels-border;

        &__pie, svg {
          @include width-height($pie-size-xs, $pie-size-xs);
        }
    }

    &-assessment-text {
      @include padding-left-right(5px, 5px);

      &__number {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }

    &-bar-slider {
      padding-right: 5px;
      padding-left: 10px;
    }

    &-buttons {
      border-bottom-right-radius: 3px;
      border-right: $panels-border;
      padding-left: 0;
    }

    &-buttons--xs {
      padding-right: 5px;

      .btn-add {
        margin: 5px 0 5px 10px;
      }

      .btn-expand {
        margin-left: 10px;
        margin-bottom: 5px;
      }

    }


    &-number--not-collapsed {
      @include border-radius (3px 0px 0px 0);
    }

    &-assessment--not-collapsed {
      @include border-radius (0px 0px 0px 0);
    }

    &-buttons--not-collapsed {
      @include border-radius (0px 0px 0px 0);
    }

    .panel-details {
      @include border-radius (0px 0px 3px 3px);
      background-color: #fff;
      border: 1px solid $panels-border-color;
      border-top: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      margin: 0;
      padding: 15px;
      width: 100%;

      &-tabs {
        &__link {
          border-radius: 3px;
        }
      }

      .active .panel-details-tabs {
        &__link {
          background-color: $label !important;
        }
      }
    }

    &:hover {
      .panel-block-assessment-icon,
      .panel-block-assessment-text,
      .panel-block-bar-slider,
      .panel-block-buttons,
      .panel-block-triangle {
        background-color: $panels-hover;
      }
    }
  }

  .panel-block:last-child {
    margin-bottom: 0;
  }

  /***** Details panel - evidences *****/

  .evidences-panel {
    @include border-radius (0px 0px 3px 3px);
    background-color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0;
    width: 100%;
  }

  .evidences-table {
    margin-bottom: 0;

    &__thead {
      @include tr-size(5%, 35%, 25%, 25%, 10%);
      color: $menu-color-icon;
    }

    &__thead-th {
      border-bottom: 0;
      border-top: 0;
      display: table-cell;
      font-weight: normal;
      vertical-align: middle;
    }

    &__tbody {
      @include td-size(5%, 35%, 25%, 30%, 5%);
    }

    &__tbody-th {
      color: $menu-color-icon;
      display: table-cell;
    }

    &__tbody-td {
      display: table-cell;
    }

    &__tbody-td--buttons {
      padding-right: 0;
    }
  }
}

