@import "mixins";
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.panel {
  //box-shadow: $panels-shadow;
  box-shadow: $panels-shadow !important;
  @include border-radius (3px);
  border: 0 !important;
}

.allPanels {
  margin-top: 20px;
  margin-bottom: 16px;
   .title h4{
     color: $panels-head;
   }
}

.padding-content {
  padding: 14px 0 0 15px;
}

.space {
  margin-bottom: 20px;
}

span.numberValue {
  font-size: 16px;
}

button{
  background-color: $panels-head;
  border-color: $panels-head;
}

.cursor{
  cursor: pointer;
}

.number,
.title,
.assessment,
.filter,
.bar-header,
.bar-slider,
.title-main,
.assessment-icon  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

svg {
  background-color: #313547;
  @include border-radius (50%);
  transform: rotate( -90deg );
}

.pie {
  display: inline-block;
  margin-right: 10px;
  transform: rotate(-90deg );
}

circle {
  fill: #aeaeae;
  //stroke: #45d666;
  stroke-width: 32;
}

.circle {
  fill: #e2282b !important;
  stroke: #45d666 !important;
}

.btn.btn-primary {
  &.open {
    padding: 5px 8px;
  }
  &.edit {
    padding: 5px 10px;
  }
  &.add {
    background-color: #86bfea;
    margin-left: 5px;
    padding: 5px 10px;
  }
  &.expand {
    padding: 5px 9px;
    float: right;
  }
}

.box-header {
  @include back-color(#fff, $color-black, hidden);
  box-shadow: $panels-shadow;
  height: 85px;
  @include border-radius (2px);

  h4 {
    @include font(400,1.4);
    margin: 5px;
  }

  h2 {
    float: left;
    padding: 10px 0;
  }

  h3 {
    line-height: 1.3;
  }
  svg {
    @include width-height ($pie-size-big, $pie-size-big);
  }

  .pie {
    @extend svg;
    margin-top: 0;
  }

  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    &:hover{
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c;
    }
  }
  .box-icon {
    background: #1e8fc6;
    float: right;
  }
  .filter {
    align-items: center;
    .form-control {
      width: 100%;
    }
  }
  #fastAsses {
    margin-top: 5px;
  }
}

.panels-title {
  .panel-heading {
    padding: 0 15px !important;
  }

    > .row {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  h4 {
    @include font(400,1.4);
    color: $panels-head;
  }

  .box-under-header {
    @include back-color($panels-content, black, hidden);
    @include border-radius (3px 3px 0 0);

    > div{
      height: 70px;
    }

    svg {
      @include width-height ($pie-size-md, $pie-size-md);
    }

    .pie {
      @extend svg;
      margin-top: 10px;
    }

    .number {
      align-items: center;
    }

    .assessment {
      padding-left: 12px;
    }

    .button-expand-three{
      height: 70px;

      .row > div {
        padding-left: 0;
      }

      button {
        &.up, &.arrow {
          background: $panels-head;
          border-color: $panels-head;
          padding: 5px 12px
        }
        &.up {
          margin: 4px 0 3px auto;
          display: block;
        }
        &.arrow {
          float: right;
          &:disabled{
            background-color: rgb(175, 175, 175);
            border-color: rgb(152, 152, 152);
          }
          &:nth-child(2){
            margin: 0 4px 0 6px;
          }
        }
      }
    }
  }
}

.panel-content {
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding-bottom: 0 !important;
  padding-top: 20px !important;

  .box-under-header {
    @include back-color($panels-content, $color-black, hidden);
    height: 70px;

    button[name=expand]{
      float: right;
      margin: 3px 0;
      padding: 5px 13px;
    }
  }

  button{
    background: $panels-head;
    border: $panels-head;
  }

  svg {
    @include width-height ($pie-size-md, $pie-size-md);
  }

  .pie {
    @extend svg;
    margin-top: 10px;
  }

  .children {
    padding: 15px 0;
  }

    .box-under-header-sx {
    @include back-color($panels-content, $color-black, hidden);
    height: 65px;

      &.children {
        padding: 17px 15px 17px 0;
      }

    h6 {
      @include font(400,0.8);
    }

    .pie.pull-left {
      margin-top: 15px;
    }

    svg  {
      @include width-height ($pie-size-sx, $pie-size-sx);
    }

    .pie {
      @extend svg;
      align-items:center;
    }

    button{
      background: $panels-head;
    }
      button[name=expand]{
        float: right;
        margin: 2px 0;
        padding: 5px 13px;
      }
  }

  .number .title{
    h5 {
      @include font(400,1.3);
    }
  }

  .title, .assessment-icon, .filter, .button-expand {
    @include border-top-bottom($panels-border);
  }

  .number {
    @include border-top-bottom($panels-head-border);
    @include border-left(3px);
    align-items:center;
    background: $panels-head;
    color: #fff;
  }

  .number-not-collapsed {
    @include border-radius (3px 0px 0px 0);
  }

  .bar-slider {
    @include border-top-bottom($panels-border);
  }

  .button-expand {
    @include border-right($panels-border, 3px);
    padding-left: 0 !important;

    .btn.btn-primary.btn-sm{
      margin-left: auto;
    }
  }

  .button-expand-not-collapsed {
    @include border-radius (0px 3px 0px 0);
  }

  .collapse, .collapsing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.bar-header {
  @include border-top-bottom($panels-border);
}

.panel-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.active-input {
  background-color: #86bfea !important;
}

.panel-content, .panel-heading{
  .labelColor {
    @include  border-top-bottom($label);
    background-color: $label;
    h4 {
      color: white;
    }
  }
}

.titleColor {
  > div:not(:first-child):not(:last-child)  {
    background-color: #f3f3f3;
  }
}

.hseq.space:hover{
 >  div:not(:first-child):not(:last-child) {
    background-color: #f3f3f3;
  }
}

@keyframes fillup {
  to {
    stroke-dasharray: 158 158;
  }
}

#removeAssessAlert, #saveAssessAlert {
  margin: 10px;
}

button[name='search'] {
  margin: 10px 7px 10px 0;
}

[id^=collapsePanelDetails] {

  [id^=tabsPanels]{
    padding: 15px 0;
    margin: 0;
    width: 100%;
    //min-height: 15px !important;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-top: 0;
    //font-size: 14px;
    @include border-radius (0px 0px 3px 3px);

    p {
      margin-top: 10px;
    }

    .well{
      margin-top: 0;
      border: 0;
      margin-bottom: 0;
      width: 100%;
      font-size: 14px;
      //min-height: 15px !important;
      padding: 5px 0;
      background-color: #fff;
      @include border-radius (0px 0px 3px 3px);
      box-shadow: none;

      table{
        margin-bottom: 0;
        thead{
          @include tr-size(5%,35%, 25%, 35%, 10%);
          color: #aeaeae;

          .btn.btn-primary.add{
            background-color: #86bfea;
          }

          tr {
            th{
              border-bottom: 0;
              border-top: 0;
              font-weight: normal;
              vertical-align: middle;
            }
          }
        }
        tbody{
          tr {
            th{
              color: #aeaeae;
            }
          }
        }
      }
      .buttons{
        display: flex;
      }

      button:nth-child(1){
        margin: 5px 0 5px auto;
      }
      button:nth-child(2){
        margin: 5px 0 5px 5px;
      }
    }

    .addedCom, .editable_text {
      border: 1px solid rgb(185, 185, 185);
      min-height: 50px;
      padding: 5px;
      margin-bottom: 5px;
    }

      textarea {
        width: 100%;
        overflow: visible;
      }

    .text:hover {
      border: 1px solid #c9c9c9;
    }

    .addedComment {
      word-wrap: break-word;
    }

    #removeAssess, #saveAssess, #removeAssessAlert, #saveAssessAlert {
      margin: 10px;
    }

    li.active a {
      background-color: $label !important;
    }

    .nav-pills > li > a {
      border-radius: 3px;
    }
  }
}



