@import "mixins";

.project-list-panel{
  select {
    margin-bottom: 5px;
  }
}

.mainPagePanels {

    > div:nth-child(1) {
      > div:nth-child(1) {
        padding-right: 0;
      }
    }

  .display {
    display: none;
  }

  .folders {
    padding-left: 0;

    .table {
      @include tr-td-size(50%, 20%, 30%)
    }

    .panel {
      box-shadow: $right-panels-shadow;
      border: none;
    }

    .panel-primary .panel-heading {
      background-color: $panels-head;
      padding: 0;
      border-color: transparent;
      table {
        margin-bottom: 0;
        thead tr th {
          border: 0;
        }
      }
    }
  }

  .tree {
    .panel-heading + .list-group .list-group-item:first-child {
      border-top-width: 1px;
    }
    ul, li {
      padding: 0;
    }

    a {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .list-group{
      margin-bottom: 10px;
    }
    .list-group-item {
      padding: 0;
    }

    li {
      span {
        display: inline-block;
        width: 100%;
        min-height: 40px;
        text-decoration:none;
        padding-top: 8px;
        padding-bottom: 8px;

        a {
          color: black;
          width: 44%;
          display: inline-block;
          font-size: 1.6em;
          &:hover, &:focus {
            text-decoration:none;
          }
        }

        h4 {
          display: inline-block;
          width: 24%;
        }
      }
    }

    li.parent_li>span {
      cursor:pointer
    }

    .fa {
      font-size: 16px;
      padding-right: 5px;
      color: #3387c8;
    }
  }
  span:hover {
    background:#f5f5f5;
    color:#000
  }
}

