@import "mixins";

#project-list {
  .row.project-list-panel{
    margin: 0;
  }
}


.mainPagePanels {
  margin-top: 20px;
  padding-top: 14px;

    > div:nth-child(1) {
      padding-right: 0;
      > div:nth-child(1) {
        padding-right: 0;
      }
    }

    > div:nth-child(2) {
      //padding-left: 0;
    }

  .folders {
    //.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
    //.list-group { margin-bottom:0; }

    .table {
      @include tr-td-size(50%, 20%, 30%)
    }

    .panel-primary .panel-heading {
      padding: 0;
      table {
        margin-bottom: 0;
        thead tr th {
          border: 0;
        }
      }
    }
  }

    .tree {

      .panel-heading + .list-group .list-group-item:first-child {
        border-top-width: 1px;
      }

      ul, li {
        padding: 0;
      }

      .list-group{
        margin-bottom: 10px;
        font-size: 14px;
      }
      .list-group-item {
        padding: 0;
        > span.pad {
          //padding-left: 20px;
        }
      }

      li {
        span {
          display: inline-block;
          width: 100%;
          min-height: 50px;
          text-decoration:none;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }

      li.parent_li>span {
        cursor:pointer
      }
    }
    .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
      //background:#eee;
      //border:1px solid #94a0b4;
      //color:#000
    }

}

