@import "mixins";

/***** Right panel *****/

#removeAssess, #saveAssess, #removeAssessAlert, #saveAssessAlert {
  margin: 10px;
}

.fa.fa-pie-chart, .fa.fa-file-text-o{
  padding: 10px;
  font-size: 28px;
}

.right-panel {
  right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;

  &-second {
    margin: 15px 0 15px 0;
  }

  &-first-panel,
  &-second-panel {
    @include border-radius(4px);
    box-shadow: $right-panels-shadow;
    background: none;
    border-bottom: none;
    border: {
      width: 0 0 1px 0;
      color: #fff;
    }
  }

  &-heading {
    @include vendor-prefixes(border-radius, 3px 3px 0px 0px);
    transition: border-radius 0.3s linear 0.2s;
    background-color: $panels-head;
    border: none;
    color: #fff;
    padding: 0;

    &-row {
      margin-right: 0;
      margin-left: 0;
      display: flex;
      align-items: center;
    }

    &-icon {
      margin-left: 0;
      margin-right: 10px;
      padding-left: 0;
    }

    &-title {
      padding-left: 0;

      &__title {
        @include vendor-prefixes(border-radius, 3px 3px 0px 0px);
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        align-items: center;
        width: 100%;
      }
      &__link {
        display: block;
        color: #fff;
        //padding: 15px;
        position: relative;
        font-size: 16px;
        font-weight: 400;

        &:focus,
        &:hover,
        &:active {
          outline: 0;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  &-body {
    @include vendor-prefixes(border-radius, 0px 0px 4px 4px);
    background: #fff;
    min-height: 200px !important;

    &-label {
      padding: 0 15px;
      margin-left: 0;
    }

    &--comment {
      word-wrap: break-word;
    }

    &__title--description {
      p span, b {
        font-size: 14px;
        font-family: sans-serif !important;
      }
    }
  }
}
