@import "mixins";
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


.right-panel {
  right: 0;
  //padding: 0 15px 0 0 !important;

  .panel-margin {
    padding-right: 0;
  }

  #bs-collapse {

    .container {
      max-width: 970px;
    }

    .last-panel, .first-panel {
      padding: 0 0;
    }

    a:focus,
    a:hover,
    a:active {
      outline: 0;
      text-decoration: none;
    }

    .panel {
      border: {
        width: 0 0 1px 0;
        style: solid;
        color: #fff;
      }
      background: none;
    }

    .panel-title {
      @include vendor-prefixes(border-radius, 3px 3px 0px 0px);
      margin-top: 0;
      margin-bottom: 0;
    }
    .panel:last-child {
      border-bottom: none;
    }

    .panel-group > .panel:first-child .panel-heading {
      @include vendor-prefixes(border-radius, 4px 4px 0px 0px);
    }

    .panel-group .panel {
      @include vendor-prefixes(border-radius, 0);
    }

    .panel-group .panel + .panel {
      margin-top: 0;
    }

    .panel-heading {
      background-color: $panels-head;
      @include vendor-prefixes(border-radius, 3px 3px 0px 0px);
      border: none;
      color: #fff;
      padding: 0;

      .row {
        margin-right: 0;
        margin-left: 0;
        display: flex;
        align-items:center;

        div:last-child{
          display: inline-block;
          align-items:center;

        }
      }
      //
      [class^=col-md-]{
        padding-right: 0;
        padding-left: 0;
      }

    }

    .panel-title {
      //display:flex;
      //justify-content:center;
      a {
        display: block;
        color: #fff;
        //padding: 15px;
        position: relative;
        font-size: 16px;
        font-weight: 400;
      }
    }




    .panel-body {
      background: #fff;
      min-height: 200px !important;

      div[class*='col-'] {
        padding: 0 15px;
      }
      .description p span, b {
        font-size: 14px;
        font-family: sans-serif !important;
      }
    }

    .panel:last-child .panel-body {
      @include vendor-prefixes(border-radius, 0px 0px 4px 4px);
    }

    .panel:last-child .panel-heading {
      transition: border-radius 0.3s linear 0.2s;
    }

    .panel:last-child .panel-heading.active {
      border-radius: 0;
    }
  }

  .wrap {
    box-shadow: $right-panels-shadow;
    @include border-radius(4px);
  }

  .last-panel .panel {
    margin: 15px 0 15px 0;
  }

  .hide {
    display: none;
  }

  .addedComment {
    word-wrap: break-word;
  }

  #removeAssess, #saveAssess, #removeAssessAlert, #saveAssessAlert {
    margin: 10px;
  }

  button{
    background-color: $panels-head;
    border-color: $panels-head;
  }
}

.fa.fa-pie-chart, .fa.fa-file-text-o{
  padding: 10px;
  font-size: 28px;

}

