@import "mixins";
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


.right-panel {
  right: 0;
  height: 100%;
  padding: 14px 15px 0 0 !important;

  .panel-margin {
    padding-right: 0;
  }

  #bs-collapse .panel-default > .panel-heading {
    background-color: #1e73be;
    color: #fff;
    border-color: #1e5da9;
  }

  #bs-collapse.panel-group {
    //margin-bottom: 70px;
  }

  #bs-collapse {

    .container {
      max-width: 970px;
    }

    .last-panel, .first-panel {
      padding: 0 0;
    }

    a:focus,
    a:hover,
    a:active {
      outline: 0;
      text-decoration: none;
    }

    .panel {
      border: {
        width: 0 0 1px 0;
        style: solid;
        color: #fff;
      }
      background: none;
    }

    .panel-title {
      @include vendor-prefixes(border-radius, 3px 3px 0px 0px);
    }
    .panel:last-child {
      border-bottom: none;
    }

    .panel-group > .panel:first-child .panel-heading {
      @include vendor-prefixes(border-radius, 4px 4px 0px 0px);
    }

    .panel-group .panel {
      @include vendor-prefixes(border-radius, 0);
    }

    .panel-group .panel + .panel {
      margin-top: 0;
    }

    .last-panel .panel {
      //margin-top: 20px;
    }

    .panel-heading {
      background-color: $panels-head;
      @include vendor-prefixes(border-radius, 3px 3px 0px 0px);
      border: none;
      color: #fff;
      padding: 0;
      //
      .row {
        margin-right: 0;
        margin-left: 0;
      }
      //
      [class^=col-md-]{
        padding-right: 0;
        padding-left: 0;
      }

    }

    .panel-title a {
      display: block;
      color: #fff;
      padding: 15px;
      position: relative;
      font-size: 16px;
      font-weight: 400;
    }

    .panel-body {
      background: #fff;
      min-height: 200px !important;

      div[class*='col-'] {
        padding: 0 15px;
      }
    }

    .panel:last-child .panel-body {
      @include vendor-prefixes(border-radius, 0px 0px 4px 4px);
    }

    .panel:last-child .panel-heading {
      transition: border-radius 0.3s linear 0.2s;
    }

    .panel:last-child .panel-heading.active {
      border-radius: 0;
      //transition: border-radius linear 0s;
    }
  }

  .wrap {
    box-shadow: $right-panels-shadow;
    @include border-radius(4px);
  }

  .first-panel .panel {
    margin: 20px 0 0 0;
  }

  .last-panel .panel {
    margin: 15px 0 15px 0;
  }

  .hide {
    display: none;
  }

  .text {
    .editable_text {
      height: 100%;
      padding: 5px;
    }

    textarea {
      width: 100%;
      overflow: visible;
    }

    &:hover{
      border: 1px solid #c9c9c9;
    }
  }


  .addedComment {
    word-wrap: break-word;
  }

  #removeAssess, #saveAssess, #removeAssessAlert, #saveAssessAlert {
    margin: 10px;
  }

  .addedCom, .editable_text {
    border: 1px solid rgb(185, 185, 185);
    min-height: 50px;
    padding: 2px;
    margin-bottom: 5px;
  }

  button{
    background-color: $panels-head;
    border-color: $panels-head;
  }
}

.fa.fa-pie-chart, .fa.fa-file-text-o{
  padding: 10px;
  font-size: 28px;

}


