//http://startbootstrap.com/template-overviews/simple-sidebar/
//http://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-and-right-aligned-items

@import "mixins";

.wrapper-sidebar {
  background-color: #a0a0a0;
  scrollbar-face-color: $sidebar-scroll-bar;
  scrollbar-arrow-color: #34495E;
  scrollbar-track-color: #34495E;
  scrollbar-shadow-color: rgb(0, 0, 0);
  scrollbar-highlight-color: rgb(0, 0, 0);
  scrollbar-3dlight-color: #34495E;
  scrollbar-darkshadow-Color: #34495E;
}

/***** Logo *****/

#logo {
  padding-top: 10px;

  img {
    height: 30px;
  }
}

/***** Navigation *****/
nav {
  background: $panels-head !important;
  border: 0;
}

.nav-list {
  & > .open > .nav-list__link,
  & > .open > .nav-list__link:focus {
    color: $main-color-font;
  }

  &--right {
    margin-right: -2px;
  }
  & .nav-list__link {
    color: #fff;
    &:hover, :focus {
      color: $main-color-font;
    }
  }
  &__caret {
    margin-left: 5px !important;
    &--folder-list {
      margin-bottom: 10px;
    }
  }

  &-icon {
    &__link {
      color: #fff;
      height: 56px;
    }
  }
}

#bs-navbar-collapse-1 {
  float: left;
}

/***** Sidebar *****/

.wrapper {
  @include transition;
  @include width-height(100%, 100%);
  background-color: #fcfcfc;
  overflow: hidden;
  padding-left: 0;

  &--toggled-mobile {
    padding-left: 360px;

    .wrapper-sidebar {
      width: 360px;
    }
    .wrapper-page-content {
      margin-right: 0;
      position: relative;
    }
  }

  &-sidebar {
    @include transition();
    @include width-height(0, 100%);
    @include  back-color($sidebar-color, rgba(255,255,255,.7), hidden );
    left: 400px;
    margin: 57px 0 57px -400px;
    overflow-y: scroll;
    position: fixed;
    z-index: 1000;

    &::-webkit-scrollbar-track {
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      @include background-border($sidebar-color,20px, $sidebar-color);
    }
    &::-webkit-scrollbar {
      @include background-border($sidebar-color, 1px, $sidebar-color);
      left: 400px;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      @include background-border($sidebar-color,2px, $sidebar-color);
      border-radius: 10px;
      transition: background-color .2s linear;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: $sidebar-scroll-bar !important;
      border-radius: 10px;
      opacity: 0.5;
    }
  }

  &-page-content {
    margin-top: 55px;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
  }

  .content{
    background-color: $content;
    border-top: 1px solid $content-border;
    margin-bottom: 30px;
    min-width: 360px;
    min-height: 91vh;
    padding: 15px 15px 0;

    &-panels {
      padding-top: 15px;
      padding-bottom: 30px;
    }

  }

  /* Sidebar Styles */

  &-sidebar-nav {
    list-style: none;
    margin-top: 2px;
    margin-bottom: 100px;
    padding: 0;
    position: absolute;
    top: 0;
    width: $sidebar-md;

    &__ul {
      font-size: 14px;
      font-weight: 500;
      margin-left: 0;
      padding-left: 13px;
    }

    &__li {
      list-style-type:none;
      margin:0;
      padding: 10px 5px 0 0;
    }

    &__span {
      display: inline-block;
      padding: 3px 0 !important;
      width: 350px*  0.65;
    }

    &__link {
      color: rgba(255,255,255,.7) !important;


      &:hover {
        background: rgba(255, 255, 255, 0.2);
        outline: 0;
        text-decoration: none;
      }

      &:active,  &:focus {
        text-decoration: none;
      }
    }

    &__icon{
      border-radius: 5px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      display:inline-block;
      float: left;
      padding:3px 8px;
      text-decoration:none;
    }

    &__title {
      padding: 3px 0 !important;
    }

    li.parent_li > span, a {
      cursor:pointer
    }
  }

  .clicked-sidebar {
    background: rgba(255,255,255,0.4);
  }
}
