//http://startbootstrap.com/template-overviews/simple-sidebar/
//http://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-and-right-aligned-items

/* Toggle Styles */
@import "mixins";

.wrapper-sidebar {
  //color:black;
  background-color: #a0a0a0;
  scrollbar-face-color: $sidebar-scroll-bar;
  scrollbar-arrow-color: #34495E;
  scrollbar-track-color: #34495E;
  scrollbar-shadow-color: rgb(0, 0, 0);
  scrollbar-highlight-color: rgb(0, 0, 0);
  scrollbar-3dlight-color: #34495E;
  scrollbar-darkshadow-Color: #34495E;
}

#logo {
  padding-top: 10px;

  img {
    height: 30px;
  }
}

#menu {
  &-toggle,
  &-toggle-2{
    @include width-height(40px, 40px);
    @include padding-left-right (13px, 13px);
    color: #fff;
    font-size: 18px;

    &:focus,
    &:hover{
      @include background-border($menu-color-hover,1px,$menu-color-hover);
    }
    &:focus {
      span {
        color: $menu-color-icon;
      }
    }
  }
  &-toggle {
    float: none;
  }
}

#main-menu{
  @include background-border(transparent,1px,#fff);
  @include padding-left-right (8px, 8px);
  @include width-height(40px, 40px);
  .icon-bar {
    background-color: #fff;
  }
  &:hover, &:focus{
    @include background-border($menu-color-hover,1px,$menu-color-hover);
  }
  &:focus {
    .icon-bar {
      background-color: $menu-color-icon;
    }
  }
}

.btn-search {
  padding: 7px 14px 5px 10px;
  position: absolute;
  top:0;
  right: 60px;
  margin: 8px 7px 10px 0;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 18px;
  &:focus {
    @include background-border($menu-color-hover,1px,$menu-color-hover);
    outline: none;
    span {
      color: $menu-color-icon;
    }
  }
  &:hover {
    @include background-border($menu-color-hover,1px,$menu-color-hover);
    outline: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus{
    &:focus {
      @include background-border($menu-color-hover,1px,$menu-color-hover);
      outline: none;
    }
  }
}

nav {
  border: 0;
  background: $panels-head !important;
}

.nav-list {
  & > .open > .nav-list__link,
  & > .open > .nav-list__link:focus {
    color: $main-color-font;
  }

  &--right {
    margin-right: -2px;
  }
  & .nav-list__link {
    color: #fff;
    &:hover, :focus {
      color: $main-color-font;
    }
  }
  &__caret {
    margin-left: 5px !important;
    &--folder-list {
      margin-bottom: 10px;
    }
  }

  &-icon {
    &__link {
      color: #fff;
      height: 56px;
    }
  }
}

#bs-navbar-collapse-1 {
  float: left;
}

.wrapper {
  @include transition;
  @include width-height(100%, 100%);
  padding-left: 0;
  overflow: hidden;
  background-color: #fcfcfc;

  &--toggled-mobile {
    padding-left: 360px;

    .wrapper-sidebar {
      width: 360px;
    }
    .wrapper-page-content {
      position: relative;
      margin-right: 0;
    }
  }

  &-sidebar {
    @include transition();
    @include width-height(0, 100%);
    @include  back-color($sidebar-color, rgba(255,255,255,.7), hidden );
    margin: 57px 0 57px -400px;
    z-index: 1000;
    position: fixed;
//    position: absolute;
//    margin-left: -400px;
    left: 400px;
    overflow-y: scroll;
    border-right: 1px solid #e7e7e7;

    &::-webkit-scrollbar-track {
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      @include background-border($sidebar-color,20px, $sidebar-color);
    }
    &::-webkit-scrollbar {
      @include background-border($sidebar-color, 1px, $sidebar-color);
      width: 10px;
      left: 400px;
    }
    &::-webkit-scrollbar-thumb {
      @include background-border($sidebar-color,2px, $sidebar-color);
      border-radius: 10px;
      transition: background-color .2s linear;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: $sidebar-scroll-bar !important;
      border-radius: 10px;
      opacity: 0.5;
    }
  }

  &-page-content {
    margin-top: 55px;
    //position: relative;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
  }

  .content{
    min-width: 360px;
    background-color: $content;
    padding: 15px 15px 0;
    border-top: 1px solid $content-border;
    min-height: 91vh;
    margin-bottom: 30px;

    &-panels {
      padding-top: 30px;
      padding-bottom: 30px;
    }

  }

  /* Sidebar Styles */

  &-sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-md;
    padding: 0;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 100px;

    &__ul {
      margin-left: 0;
      font-size: 14px;
      font-weight: 500;
      padding-left: 13px;
    }

    &__li {
      list-style-type:none;
      margin:0;
      padding: 10px 5px 0 0;
      //position:relative;

    }
    &__span {
      width: 350px*  0.65;
      padding: 3px 0 !important;
      display: inline-block;
    }

    &__link {
      color: rgba(255,255,255,.7) !important;


      &:hover {
        text-decoration: none;
        outline: 0;
        background: rgba(255,255,255,0.2);
      }

      &:active,  &:focus {
        text-decoration: none;
      }
    }

    &__icon{
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      display:inline-block;
      padding:3px 8px;
      text-decoration:none;
      float: left;
    }

    &__title {
      padding: 3px 0 !important;
    }

    li.parent_li > span, a {
      cursor:pointer
    }
  }

  .clicked-sidebar {
    background: rgba(255,255,255,0.4);
  }
}
