@import "mixins";


/***** Pie *****/
svg {
  @include border-radius (50%);
  background-color: #313547;
  transform: rotate(-90deg);
}

.pie {
  display: inline-block;
  margin-right: 10px;
  transform: rotate(-90deg);
}

circle {
  fill: #aeaeae;
  stroke-width: 32;
}

.circle {
  fill: #e2282b !important;
  stroke: #45d666 !important;
}

/***** Slider *****/

.active-input {
  background-color: $buttonsAdd !important;
}

.range-slider {
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  margin-left: 5px;
  margin-right: -15px;
  position: relative;
  width: 110%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  > {
    input {
      cursor: pointer;
      margin-top: 0;
      opacity: 0;
      position: relative;
      width: 100%;
      z-index: 5;
      -webkit-appearance: none;
      &::-webkit-slider-thumb {
        height: 30px;
        position: relative;
        width: 50px;
        z-index: 100;
        -webkit-border-radius: 10px;
        -webkit-appearance: none;
      }
    }
    span.slider-container {
      box-sizing: border-box;
      display: inline-block;
      position: absolute;
      left: -8px;
      right: 46px;
      top: 0px;
      z-index: 3;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;

      > span {
        &.bar {
          //background-color: #000;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed3107+0,fcf52d+50,6bcc04+100 */
          background: #ed3107; /* Old browsers */
          background: -moz-linear-gradient(left, #ed3107 0%, #fcf52d 50%, #2cc10a 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #ed3107 0%, #fcf52d 50%, #2cc10a 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #ed3107 0%, #fcf52d 50%, #2cc10a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed3107', endColorstr='#2cc10a', GradientType=1); /* IE6-9 */
          border-radius: 10px;
          display: inline-block;
          height: 11px;
          position: absolute;
          z-index: 1;
          top: 12px;
          left: 10px;
          right: -28px;
          overflow: hidden;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;

          > span.pasek1 {
            //background: #02c38a;
            display: inline-block;
            float: left;
            height: 11px;
            width: 0%;
          }
          > span.pasek {
            background: #afafaf;
            display: inline-block;
            float: left;
            height: 11px;
            width: 0%;

          }
          > span.parting {
            background: #dbdbdb;
            display: inline-block;
            float: left;
            position: absolute;
            left: 20%;
            height: 11px;
            width: 1px;
          }

          > span.parting:nth-child(2) {
            left: 40%;
          }

          > span.parting:nth-child(3) {
            left: 60%;
          }

          > span.parting:nth-child(4) {
            left: 80%;
          }

        }
        &.bar-btn {
          display: inline-block;
          position: absolute;
          padding-top: 8px;
          font-weight: bold;
          text-align: center;
          left: 10px;
          border-radius: 3px;
          -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          &:after {
            content: "";
            border: 2px solid #fff;
            //  //background-color: #02c38a;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            left: 8px;
            top: 7px;
            z-index: 3;
            -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          }
          > span {
            &:before {
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              border-width: 25px;
              border-style: solid;
              border-color: #333 transparent transparent;
              position: absolute;
              //top: 60px;
              left: -2px;
              background-color: #00AA00;
            }
            &:after {
              content: "%";
            }
          }
        }
      }
    }
  }
}

/***** Slider - assessment-spice *****/

.assessment-spice {
  .range-slider {
    > {
      span.slider-container {
        > span {
          &.bar {
            background: transparent;

            > span.parting {
              position: absolute;
              left: 25%;
              background: #dbdbdb;
              display: inline-block;
              float: left;
              height: 11px;
              width: 1px;
            }

            > span.parting:nth-child(2) {
              left: 50%;
            }

            > span.parting:nth-child(3) {
              left: 75%;
            }
          }

          &.bar-spice {
            background: #fc0000;
            display: inline-block;
            position: absolute;
            z-index: 1;
            top: 12px;
            left: 10px;
            right: -28px;
            height: 11px;
            border-radius: 10px 0 0 10px;
            width: calc((100% - 10px + 28px) / 4);
          }

          &.bar-spice:nth-child(2) {
            background: #f1b315;
            left: calc(((100% - 10px + 28px) / 4) + 10px);
            border-radius: 0;
          }

          &.bar-spice:nth-child(3) {
            background: #ffff33;
            left: calc((((100% - 10px + 28px) / 4) * 2) + 10px);
            border-radius: 0;
          }

          &.bar-spice:nth-child(4) {
            background: #23d100;
            left: calc((((100% - 10px + 28px) / 4) * 3) + 10px);
            border-radius: 0 10px 10px 0;
          }

        }
      }
    }
  }
}
