// Brand and toggle get grouped for better mobile display
.navbar-header.fixed-brand.navbar-folders
  button#menu-toggle.navbar-toggle.collapsed(type='button', data-toggle='collapse'  )
    span.glyphicon.glyphicon-forward(aria-hidden='true')
  a#logo.navbar-brand(href='#')
    img(alt='Brand', src='images/argevide_logo.png')
  button#main-menu.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse-2', aria-expanded='false')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
// navbar-header
#bs-navbar-collapse-1.collapse.navbar-collapse
  ul.nav.navbar-nav
    li.active
      button#menu-toggle-2.navbar-toggle.collapse.in.btn-toggle-2(data-toggle='collapse')
        span.glyphicon.glyphicon-forward(aria-hidden='true')
  // navbar-header
#bs-navbar-collapse-2.collapse.navbar-collapse
  ul.nav.navbar-nav.nav-list
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Projekt
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Administracja
        li
          a.nav-list__link(href='#') Otwórz w widoku podstawowym
        li
          a.nav-list__link(href='#') Otwórz w widoku pełnym
    li.nav-list-icon
      a.nav-list-icon__link(href='#' title="Odśwież")
        span.glyphicon.glyphicon-refresh.fa-2x(aria-hidden='true')
    li.nav-list-icon.simple-list
      a.nav-list-icon__link(href='#' title="Widok listy folderów i projektów")
        span.icon-view.fa-2x(aria-hidden='true')
    li.nav-list-icon.projects-list
      a.nav-list-icon__link(href='#' title="Widok listy wszystkich projektów")
        span.glyphicon.glyphicon-list.fa-2x(aria-hidden='true')
    li.nav-list-icon.tree-list
      a.nav-list-icon__link(href='#' title="Widok drzewa folderów i projektów")
        span.icon-tree.fa-2x(aria-hidden='true')
    li.dropdown
      a.dropdown-toggle.nav-list-icon__link(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false' title="Pomoc")
        i.fa.fa-question-circle.fa-2x(aria-hidden='true')
        span.caret.nav-list__caret.nav-list__caret--folder-list
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Podręcznik
        li
          a.nav-list__link(href='#') Kontakt
        li.divider(role='separator')
        li
          a.nav-list__link(href='#') Strona Argevide
        li
          a.nav-list__link(href='#') O NOR-STA
  ul.nav.navbar-nav.navbar-right.nav-list
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Jan Kowalski
        span.caret.nav-list__caret
      ul.dropdown-menu
        li#profile
          a.nav-list__link(href='#myProfile' data-target="#myProfile" data-toggle="modal") Profil
        li
          a.nav-list__link(href='') Preferencje
        li.divider(role='separator')
        li
          a.nav-list__link(href='') Przejdź do pełnego widoku
        li
          a.nav-list__link(href='') Przejdź do administracji
        li.divider(role='separator')
        li
          a.nav-list__link(href='login-site.html') Wyloguj


