// Brand and toggle get grouped for better mobile display
.navbar-header
  button#menu-toggle.navbar-toggle.collapsed(type='button', data-toggle='collapse')
    span.glyphicon.glyphicon-forward(aria-hidden='true')
  a#logo.navbar-brand(href='#')
    img(alt='Brand', src='images/argevide_logo.png')
  button#main-menu.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse-2', aria-expanded='false')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
// navbar-header
#bs-navbar-collapse-1.collapse.navbar-collapse
  ul.nav.navbar-nav
    li.active
      button#menu-toggle-2.navbar-toggle.collapse.in(data-toggle='collapse')
        span.glyphicon.glyphicon-forward(aria-hidden='true')
  // navbar-header
#bs-navbar-collapse-2.collapse.navbar-collapse
  ul.nav.navbar-nav.nav-list
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Projekt
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Właściwości
        li
          a.nav-list__link(href='#') Pełny widok projektu
        li.divider(role='separator')
        li
          a.nav-list__link(href='#') Administracja
        li.divider(role='separator')
        li.close-project
          a.nav-list__link(href='#') Zamknij
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Widok
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Odśwież
        li
          a.nav-list__link(href='#') Szukaj
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Raporty
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Raport XML/HTML
        li
          a.nav-list__link(href='#') Arkusz ocen
        li.divider(role='separator')
        li
          a.nav-list__link(href='#') Metryki projektu
        li
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Pomoc
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Podręcznik
        li
          a.nav-list__link(href='#') Kontakt
        li.divider(role='separator')
        li
          a.nav-list__link(href='#') Strona Argevide
        li
          a.nav-list__link(href='#') O NOR-STA
  ul.nav.navbar-nav.navbar-right.nav-list.nav-list--right
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Jan Kowalski
        span.caret.nav-list__caret
      ul.dropdown-menu
        li#profile
          a.nav-list__link(href='#myProfile' data-target="#myProfile" data-toggle="modal") Profil
        li
          a.nav-list__link(href='#preferences' data-target="#preferences" data-toggle="modal") Preferencje
        li.divider(role='separator')
        li
          a.nav-list__link(href='') Przejdź do pełnego widoku
        li
          a.nav-list__link(href='') Przejdź do administracji
        li.divider(role='separator')
        li
          a.nav-list__link(href='login-site.html') Wyloguj
  //button.btn.btn-primary.pull-right(type='button', data-toggle='collapse', data-target='#collapseSearch', aria-expanded='false', aria-controls='collapseSearch', name='search')
  //  span.glyphicon.glyphicon-search(aria-hidden='true')
button.btn.btn-primary.pull-right.btn-search(type='button', data-toggle='collapse', data-target='#search-panel',name='search')
  span.glyphicon.glyphicon-search(aria-hidden='true')


