// Brand and toggle get grouped for better mobile display
.navbar-header
  button#menu-toggle.navbar-toggle.collapsed(type='button', data-toggle='collapse')
    span.glyphicon.glyphicon-forward(aria-hidden='true')
  a#logo.navbar-brand(href='#')
    img(alt='Brand', src='images/argevide_logo.png')
  button#main-menu.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse-2', aria-expanded='false')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
// navbar-header
#bs-navbar-collapse-1.collapse.navbar-collapse
  ul.nav.navbar-nav
    li.active
      button#menu-toggle-2.navbar-toggle.collapse.in(data-toggle='collapse')
        span.glyphicon.glyphicon-forward(aria-hidden='true')
  // navbar-header
#bs-navbar-collapse-2.collapse.navbar-collapse
  ul.nav.navbar-nav.nav-list
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Projects
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Properties
        li
          a.nav-list__link(href='#') Full view
        li.divider(role='separator')
        li
          a.nav-list__link(href='#') Administration
        li.divider(role='separator')
        li.close-project
          a.nav-list__link(href='#') Close
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') View
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Refresh
        li
          a.nav-list__link(href='#') Search
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Reports
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') XML/HTML Report
        li
          a.nav-list__link(href='#') Assessment Spreadsheet
        li.divider(role='separator')
        li
          a.nav-list__link(href='#') Project Metrics
        li
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Help
        span.caret.nav-list__caret
      ul.dropdown-menu
        li
          a.nav-list__link(href='#') Users's Manual
        li
          a.nav-list__link(href='#') Contact
        li.divider(role='separator')
        li
          a.nav-list__link(href='#') Argevide Website
        li
          a.nav-list__link(href='#') About
  ul.nav.navbar-nav.navbar-right.nav-list.nav-list--right
    li.dropdown.nav-list__li
      a.dropdown-toggle.nav-list__link.nav-list__link--top(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') User
        span.caret.nav-list__caret
      ul.dropdown-menu
        li#profile
          a.nav-list__link(href='#myProfile' data-target="#myProfile" data-toggle="modal") Profile
        li
          a.nav-list__link(href='#preferences' data-target="#preferences" data-toggle="modal") Preferences
        li.divider(role='separator')
        li
          a.nav-list__link(href='') Go to full view
        li
          a.nav-list__link(href='') Go to Administration
        li.divider(role='separator')
        li
          a.nav-list__link(href='login-site.html') Log out
button.btn.btn-primary.pull-right.btn-search(type='button', data-toggle='collapse', data-target='#search-panel',name='search')
  span.glyphicon.glyphicon-search(aria-hidden='true')


