nav.navbar.navbar-default.no-margin.navbar-fixed-top
  // Brand and toggle get grouped for better mobile display

  .navbar-header.fixed-brand
    button#menu-toggle.navbar-toggle.collapsed(type='button', data-toggle='collapse'  )
      span.glyphicon.glyphicon-th-large(aria-hidden='true')
    a#logo.navbar-brand(href='#')
      img(alt='Brand', src='images/argevide_logo.png')
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2', aria-expanded='false')
  // navbar-header
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li.active
        button#menu-toggle-2.navbar-toggle.collapse.in(data-toggle='collapse')
          span.glyphicon.glyphicon-forward(aria-hidden='true')
    // navbar-header
  #bs-example-navbar-collapse-2.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a#menu-projects.claim-hseqA(href='', title='Projekty') Projects
      li
        a(href='#') View
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Reports
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Print Screen
          li
            a(href='#') Change List
          li.divider(role='separator')
          li
            a(href='#') XML/HTML Report
          li
            a(href='#') Assessment Spreadsheet
          li.divider(role='separator')
          li
            a(href='#') Project Metrics
          li
            a(href='#') Reference List
          li
            a(href='#') Evidence List
          li
            a(href='#') Assurance Case
          //li
          //  a(href='#') Separated link
          li.divider(role='separator')
          li
            a(href='#') Assessment List
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') John Smith
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Profile
          li.divider(role='separator')
          li
            a(href='#') Log out
    button.btn.btn-primary.pull-right(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample', name='search')
      span.glyphicon.glyphicon-search(aria-hidden='true')




// /.navbar-collapse
// /.container-fluid

