#search-panel.collapse
  .panel.panel-default.search
    .panel-body
      form.form-inline(role='form')
        .row.search-form
          .search-form-input
            .input-group
              .input-group-btn.search-form-dropdown
                button.btn.dropdown-toggle.btn-panel-search(type='button', data-toggle='dropdown')
                  span#search_concept.btn-panel-search__text tekst
                  span.caret.btn-panel-search__caret
                ul.dropdown-menu.search-form-dropdown-menu(role='menu')
                  li
                    a(href='#tagi') tagi
                  li
                    a(href='#tagi') text
              input#search_param(type='hidden', name='search_param', value='all')
              input#searchfor.form-control(type='text', name='x', placeholder='Szukaj...')
              span.input-group-btn
                button.btn.btn-default.btn-panel-search(type='button')
                  i.fa.fa-angle-double-right
          .search-form-checkboxes
            .form-group.checkboxes-group
              .checkboxes-group-row
                .checkboxes-group-label
                  p.checkboxes-group-label__text Pokaż elementy
                .checkboxes-group-all
                  .checkbox
                    label
                      input(type='checkbox' checked)
                      |  wszystkie
                .checkboxes-group-no-assess
                  .checkbox
                    label
                      input(type='checkbox')
                      |  nieocenione
                .checkboxes-group-assess
                  .checkbox
                    label
                      input(type='checkbox')
                      |  ocenione
          .search-form-buttons
            button.btn.btn-default.btn-panel-search(type='button')
              i.fa.fa-angle-double-left
            span.search-form-buttons__result 1/9
            button.btn.btn-default.btn-panel-search(type='button')
              i.fa.fa-angle-double-right
