extends jade/layouts/_default

block content
    //if lt IE 10
      p.browserupgrade
         You are using an
        strong outdated
          browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
          to improve your experience.
    #main-page.container-fluid
      include jade/includes/nav-top
      #wrapper.toggled-2
        #sidebar-wrapper.tree
          include jade/includes/sidebar
        #page-content-wrapper
          //#collapseSearch.collapse
          //  input.search(type="text" value="Wpisz szukaną frazę..." )
          #filter-panel.collapse.filter-panel
            include jade/includes/search
          #content.container-fluid.xyz.marginPanelContentBig
            //include jade/main-panel
            #panel-content.row
              include jade/pages/A-panel-content
              include jade/right-panels
    //block footer
    //  p Argevide
      //include jade/includes/footer
    //include jade/includes/scripts


