.col-md-9.col-sm-12.pull-left.padding-content
  .panel.panel-default.panels-title
    .panel-heading
      .row.panel-hseq4-1-1.panels.box-under-header
        .col-md-1-1.pull-left.number
          h4 4.1.1
        .col-md-4-7.col-sm-5.pull-left.title
          h4
            a.title-hseq4-1-1 Procedura określa wymagania związane z produktem/usługą
        .col-md-3.assessment
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider411') 60%
            .col-md-4
              h6 Wynik
              h6 Oceniono
            .col-md-4
              h6.text-left.numberValue411 0/44
              h6.text-left.numberValue-per411 0%
        .col-md-2.bar
          span.numberValue411.numberValue 0/44
          input.slider(value='0', min='0', max='44', step='1', name='rangeslider411', data-children='4111,4112,4113,4114', type='range', disabled, data-parent='41' )
        .col-md-1-2.button-expand-three
          button.claim-hseq4-1.btn.btn-primary.btn-sm.custom-btn.up(type='button') Do góry
          button.claim-hseq4-1-2.btn.btn-primary.btn-sm.custom-btn.arrow(type='button' disabled)
            i.fa.fa-angle-double-left(aria-hidden='true')
          button.claim-hseq4-1-2.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
            i.fa.fa-angle-double-right(aria-hidden='true')
    .panel-body.panel-content.panels
      .col-md-12.filter-group
        .row.panel-hseq4-1-1-1.hseq.space(data-hseq="Q")
          .col-md-1-1.box-under-header-sx.pull-left.number
            h5 4.1.1.1
          .col-md-4.box-under-header-sx.pull-left.title
            a.title-hseq4-1-1-1(href='#')
              h5 Wymagania ustalone przez klienta
          .col-md-1.box-under-header-sx.filter
            h4 Q
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider4111') 0
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue4111 0/8
                h6.text-left.numberValue-per4111 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue4111.numberValue 0/8
            input.slider(value='0', min='0', max='8', step='1', name='rangeslider4111', data-parent='411', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            //button.claim-hseq4-1-1-1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-1-1-2.hseq.space(data-hseq="Q")
          .col-md-1-1.box-under-header-sx.pull-left.number
            h5 4.1.1.2
          .col-md-4.box-under-header-sx.pull-left.title
            a.title-hseq4-1-1-2(href='#')
              h5 Wymagania nieustalone przez klienta, ale niezbędne do określonego lub zamierzonego zastosowania wyrobu/usługi
          .col-md-1.box-under-header-sx.filter
            h4 Q
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider4112') 40%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue4112 0/5
                h6.text-left.numberValue-per4112 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue4112.numberValue 0/5
            input.slider(value='0', min='0', max='5', step='1', name='rangeslider4112', data-parent='411', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            //button.claim-hseq4-1-1-2.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-1-1-3.hseq.space(data-hseq="")
          .col-md-1-1.box-under-header-sx.pull-left.number
            h5 4.1.1.3
          .col-md-4.box-under-header-sx.pull-left.title
            a.title-hseq4-1-1-3(href='#')
              h5 Wymagania przepisów prawnychi innych mających zastosowanie do wyrobu/usługi
          .col-md-1.box-under-header-sx.filter
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider4113') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue4113 0/15
                h6.text-left.numberValue-per4113 10%
          .col-md-2.box-under-header-sx.bar
            span.numberValue4113.numberValue 0/15
            input.slider(value='0', min='0', max='15', step='1', name='rangeslider4113', data-parent='411', type='range', disabled)
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-1-1-3.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-1-1-4.hseq.space(data-hseq="")
          .col-md-1-1.box-under-header-sx.pull-left.number
            h5 4.1.1.4
          .col-md-4.box-under-header-sx.pull-left.title
            a.title-hseq4-1-1-4(href='#')
              h5 Wszystkie inne wymagania uznane przez organizację za niezbędne
          .col-md-1.box-under-header-sx.filter
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider4114') 0%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue4114 0/16
                h6.text-left.numberValue-per4114 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue4114.numberValue 0/16
            input.slider(value='0', min='0', max='16', step='1', name='rangeslider4114', data-parent='411', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-1-1-4.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
include right-panels





