.col-md-9.col-sm-12.pull-left.padding-content
  .panel.panel-default.panels-title
    .panel-heading
      .row.panel-hseq4.panels.box-under-header
        .col-md-1.pull-left.number
          h4 4
        .col-md-5.col-sm-5.pull-left.title
          h4.title-hseq4 Wdrożenie i Funkcjonowanie HSEQ
        .col-md-3.assessment
          .row
            .col-md-4
              .pie.pull-left(data-name='rangeslider4')
            .col-md-4
              h5 Wynik
              h5 Oceniono
            .col-md-4
              h5.text-left.numberValue4 0/1404
              h5.text-left.numberValue-per4 0%
        .col-md-2.bar
          span.numberValue4.numberValue 0/1404
          input.slider(value='0', min='0', max='1404', step='1', name='rangeslider4', data-children='41,42,43,44,45,46,47,48', type='range', disabled, data-parent='0' )
        .col-md-1-2.button-expand-three
          button.claim-hseq0.btn.btn-primary.btn-sm.custom-btn.up(type='button') Do góry
          button.claim-hseq3.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
            i.fa.fa-angle-double-left(aria-hidden='true')
          button.claim-hseq5.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
            i.fa.fa-angle-double-right(aria-hidden='true')
    .panel-body.panel-content.panels
      .col-md-12.filter-group
        .row.panel-hseq4-1.hseq.space(data-hseq="")
          .col-md-1.col-sm-1.box-under-header-sx.pull-left.number
            h5 4.1
          .col-md-4-3.col-sm-10.box-under-header-sx.pull-left.title
            a.title-hseq4-1(href='#')
              h5 Procesy Związane z Klientem
          .col-md-1.col-sm-1.box-under-header-sx.filter
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider41') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue41 0/179
                h6.text-left.numberValue-per41 0%
          .col-md-2.col-sm-5.box-under-header-sx.bar
            span.numberValue41.numberValue 0/179
            input.slider(value='0', min='0', max='179', step='1', name='rangeslider41', data-parent='4', type='range', disabled)
          .col-md-1-2.col-sm-2.box-under-header-sx.button-expand
            button.claim-hseq4-1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-2.hseq.space(data-hseq="Q")
          .col-md-1.box-under-header-sx.pull-left.number
            h5 4.2
          .col-md-4-3.box-under-header-sx.pull-left.title
            a.title-hseq4-2(href='#')
              h5 Projektowanie i Rozwój
          .col-md-1.box-under-header-sx.filter
            h4 Q
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider42') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue42 0/222
                h6.text-left.numberValue-per42 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue42.numberValue 0/222
            input.slider(value='1', min='0', max='222', step='1', name='rangeslider42', data-parent='4', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-2.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-3.hseq.space(data-hseq="")
          .col-md-1.box-under-header-sx.pull-left.number
            h5 4.3
          .col-md-4-3.box-under-header-sx.pull-left.title
            a.title-hseq4-3(href='#')
              h5 Zarządzane zamówieniami i dostawiami
          .col-md-1.box-under-header-sx.filter
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider43') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue43 0/175
                h6.text-left.numberValue-per43 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue43.numberValue 0/175
            input.slider(value='0', min='0', max='175', step='1', name='rangeslider43', data-parent='4', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-3.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-4.hseq.space(data-hseq="Q")
          .col-md-1.box-under-header-sx.pull-left.number
            h5 4.4
          .col-md-4-3.box-under-header-sx.pull-left.title
            a.title-hseq4-4(href='#')
              h5 Zaopatrzenie produktu/usługi
          .col-md-1.box-under-header-sx.filter
            h4 Q
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider44') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue44 0/214
                h6.text-left.numberValue-per44 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue44.numberValue 0/214
            input.slider(value='0', min='0', max='214', step='1', name='rangeslider44', data-parent='4', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-4.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-5.hseq.space(data-hseq="")
          .col-md-1.box-under-header-sx.pull-left.number
            h5 4.5
          .col-md-4-3.box-under-header-sx.pull-left.title
            a.title-hseq4-5(href='#')
              h5 Sterowanie operacyjne
          .col-md-1.box-under-header-sx.filter
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider45') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue45 0/130
                h6.text-left.numberValue-per45 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue45.numberValue 0/135
            input.slider(value='0', min='0', max='135', step='1', name='rangeslider45', data-parent='4', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-5.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-6.hseq.space(data-hseq="Q")
          .col-md-1.box-under-header-sx.pull-left.number
            h5 4.6
          .col-md-4-3.box-under-header-sx.pull-left.title
            a.title-hseq4-6(href='#')
              h5 Kompetencje, Szkolenia i Świadomość
          .col-md-1.box-under-header-sx.filter
            h4 Q
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider46') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue46 0/189
                h6.text-left.numberValue-per46 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue46.numberValue 0/189
            input.slider(value='0', min='0', max='189', step='1', name='rangeslider46', data-parent='4', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-6.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-7.hseq.space(data-hseq="Q")
          .col-md-1.box-under-header-sx.pull-left.number
            h5 4.7
          .col-md-4-3.box-under-header-sx.pull-left.title
            a.title-hseq4-7(href='#')
              h5 Nadzór nad Dokumentacją i Zarządzanie Zapisami
          .col-md-1.box-under-header-sx.filter
            h4 Q
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider47') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue47 0/180
                h6.text-left.numberValue-per47 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue47.numberValue 0/180
            input.slider(value='0', min='0', max='180', step='1', name='rangeslider47', data-parent='4', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-7.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq4-8.hseq(data-hseq="")
          .col-md-1.box-under-header-sx.pull-left.number
            h5 4.8
          .col-md-4-3.box-under-header-sx.pull-left.title
            a.title-hseq4-8(href='#')
              h5 Komunikacja, Uczestnictwo i Konsultacje
          .col-md-1.box-under-header-sx.filter
          .col-md-3.box-under-header-sx.assessment-icon
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider48') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue48 0/115
                h6.text-left.numberValue-per48 0%
          .col-md-2.box-under-header-sx.bar
            span.numberValue48.numberValue 0/115
            input.slider(value='0', min='0', max='115', step='1', name='rangeslider48', data-parent='4', type='range')
          .col-md-1-2.box-under-header-sx.button-expand
            button.claim-hseq4-8.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń


include right-panels


//.panel.panel-default
  //  .panel-body.panel-content.panels
  //    .col-md-12.col-sm-12.col-sx-12
        //.row.panel-hseqA5.space
        //  .col-md-1.col-sm-1.col-xs-1.box-under-header.pull-left.number
        //    h4 A5
        //  .col-md-5-3.col-sm-4.col-xs-8.box-under-header.pull-left.title
        //    a.title-hseqA5(href='#')
        //      h4 Polityki bezpieczeństwa informacji
        //  .col-xs-3.visible-xs.box-under-header.button-expand
        //    button.claim-hseq1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //  .col-md-3.col-sm-4.col-xs-6.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4.col-xs-4
        //        .pie.pull-left(data-name='A5') 60%
        //      //.col-md-4.col-sm-4.col-xs-4
        //      //  h6 Wynik
        //      //  h6 Oceniono
        //      .col-md-4.col-sm-4.col-xs-4
        //        h6.text-left.numberValueA5 0/40
        //        h6.text-left.numberValue-perA5 0%
        //  .col-md-2.col-sm-2.col-xs-6.box-under-header.bar-header
        //    span.numberValueBigA5.numberValue 0/40
        //    input.slider(value='0', min='0', max='40', step='1', name='A5', type='range', data-parent='A', data-children='A511,A512', disabled)
        //  .col-md-1-1.hidden-xs.box-under-header.button-expand
        //    button.claim-hseqA5.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA6.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A6
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA6(href='#')
        //      h4 Organizacja bezpieczeństwa informacji
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A6') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA6 0/145
        //        h6.text-left.numberValue-perA6 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA6.numberValue 0/145
        //    input.slider(value='0', min='0', max='145', step='1', name='A6', type='range', data-parent='A', data-children='A61,A62',disabled)
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA6.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA7.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A7
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA7(href='#')
        //      h4 Bezpieczeństwo zasobów ludzkich
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A7') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA7 0/85
        //          h6.text-left.numberValue-perA7 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA7.numberValue 0/85
        //    input.slider(value='0', min='0', max='85', step='1', name='A7', type='range', data-parent='A', data-children='A71,A72,A73', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA7.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA8.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A8
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA8(href='#')
        //      h4 Zarządzanie aktywami
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A8') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA8 0/115
        //          h6.text-left.numberValue-perA8 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA8.numberValue 0/115
        //    input.slider(value='0', min='0', max='115', step='1', name='A8', type='range', data-parent='A',data-children='A81,A82,A83', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA8.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA9.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A9
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA9(href='#')
        //      h4 Kontrola dostępu
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A9') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA9 0/200
        //          h6.text-left.numberValue-perA9 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA9.numberValue 0/200
        //    input.slider(value='0', min='0', max='200', step='1', name='A9', type='range',data-parent='A',data-children='A91,A92,A93,A94', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA9.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA10.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A10
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA10(href='#')
        //      h4 Kryptografia
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A10') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA10 0/25
        //        h6.text-left.numberValue-perA10 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA10.numberValue 0/25
        //    input.slider(value='0', min='0', max='25', step='1', name='A10', type='range', data-parent='A',data-children='A1011,A1012', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA10.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA11.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A11
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA11(href='#')
        //      h4 Bezpieczeństwo fizyczne i środowiskowe
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A11') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA11 0/165
        //        h6.text-left.numberValue-perA11 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA11.numberValue 0/165
        //    input.slider(value='0', min='0', max='165', step='1', name='A11', type='range', data-parent='A',data-children='A111,A112', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA11.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA12.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A12
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA12(href='#')
        //      h4 Bezpieczna eksploatacja
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A12') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA12 0/180
        //        h6.text-left.numberValue-perA12 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA12.numberValue 0/180
        //    input.slider(value='0', min='0', max='180', step='1', name='A12', type='range', data-parent='A',data-children='A121,A122,A123,A124,A125,A126,A127', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA12.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA13.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A13
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA13(href='#')
        //      h4 Bezpieczeństwo komunikacji
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A13') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA13 0/100
        //        h6.text-left.numberValue-perA13 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA13.numberValue 0/100
        //    input.slider(value='0', min='0', max='100', step='1', name='A13', type='range', data-parent='A',data-children='A131,A132', disabled)
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA13.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA14.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A14
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA14(href='#')
        //      h4 Pozyskiwanie, rozwój i utrzymanie systemów
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A14') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA14 0/100
        //        h6.text-left.numberValue-perA14 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA14.numberValue 0/100
        //    input.slider(value='0', min='0', max='100', step='1', name='A14', type='range', data-parent='A',data-children='A141,A142', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA14.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA15.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A15
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA15(href='#')
        //      h4 Relacje z dostawcami
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A15') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA15 0/55
        //        h6.text-left.numberValue-perA15 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA15.numberValue 0/55
        //    input.slider(value='0', min='0', max='55', step='1', name='A15', type='range', data-parent='A',data-children='A151,A152', disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA15.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA16.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A16
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA16(href='#')
        //      h4 Zarządzanie incydentami
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A16') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA16 0/70
        //        h6.text-left.numberValue-perA16 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA16.numberValue 0/70
        //    input.slider(value='0', min='0', max='70', step='1', name='A16', type='range', data-parent='A',data-children='A1611,A1612,A1613,A1614,A1615,A1616,A1617',disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA16.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA17.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A17
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA17(href='#')
        //      h4 Ciągłość działania
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A17') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA17 0/40
        //        h6.text-left.numberValue-perA17 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA17.numberValue 0/40
        //    input.slider(value='0', min='0', max='40', step='1', name='A17', type='range', data-parent='A',data-children='A171,A172',disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA17.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        //.row.panel-hseqA18.space
        //  .col-md-1.col-sm-1.box-under-header.pull-left.number
        //    h4 A18
        //  .col-md-5-3.col-sm-4.box-under-header.pull-left.title
        //    a.title-hseqA18(href='#')
        //      h4 Zgodność
        //  .col-md-3.col-sm-3.box-under-header.assessment-icon
        //    .row
        //      .col-md-4.col-sm-4
        //        .pie.pull-left(data-name='A18') 60%
        //      .col-md-4.col-sm-4
        //        h6 Wynik
        //        h6 Oceniono
        //      .col-md-4.col-sm-4
        //        h6.text-left.numberValueA18 0/80
        //        h6.text-left.numberValue-perA18 0%
        //  .col-md-2.col-sm-3.box-under-header.bar-header
        //    span.numberValueA18.numberValue 0/80
        //    input.slider(value='0', min='0', max='80', step='1', name='A18', type='range', data-parent='A',data-children='A181,A182',disabled )
        //  .col-md-1-1.box-under-header.button-expand
        //    button.claim-hseqA18.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń


//.text(data-name='panel1')
              .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
// end of panel

// end of #bs-collapse

//#accordion.panel-group(role='tablist', aria-multiselectable='true')
//  .panel.panel-default
//    #headingOne.panel-heading(role='tab')
//      h4.panel-title
//        a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Szczegóły
//    #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
//      .panel-body
//        .row
//          .col-md-2
//            h5 Nazwa:
//            h5 Etykieta:
//            h5 Tagi:
//          .col-md-10
//            h5.title-claim Wdrożenie i Funkcjonowanie HSEQ
//            h5.label-claim 4
//        .text(data-name='panel1')
//          .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
//  .panel.panel-default
//    #headingTwo.panel-heading(role='tab')
//      h4.panel-title
//        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') Ocena
//    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
//      .panel-body
//        .text(data-name='panel2')
//          .editable_text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.


//include ./includes/scripts
