#main-panel
  .col-md-12.col-sm-12.col-xs-12
    .col-md-12.col-sm-12.col-xs-12
      .row.fixedPos.box-header
        .col-lg-5.col-md-3.col-sm-3.col-xs-2.pull-left.title-main
          h3.title-hseqA Ocena zgodności Systemu Zarządzania Bezpieczeństwem Informacji z wymaganiami ISO 27001:2014
        .col-lg-1.col-md-1.col-sm-1.col-xs-2.assessment.pull-left
          .pie.pull-left(data-name='A') 0%
        //.col-lg-1.col-md-2.col-sm-2.col-sx-1.pull-left.assessment
        //  h4 Wynik
        //  h4 Oceniono
        .col-lg-1.col-md-2.col-sm-2.col-xs-2.pull-left.assessment
          h4.text-left.numberValueA 0/1500
          h4.text-left.numberValue-perA 0%
        .col-lg-2.col-md-2.col-xs-2.bar
          span.numberValueA.numberValue 0/1500
          input.slider(value='0', min='0', max='1500', step='1', name='A', data-children='5,A6,A7,A8,A9,10,11,12,13,14,15,16,17,18', type='range', disabled )
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.pull-left.filter
          select#filterHSEQ.form-control.filter-select(name='filterHSEQ', data-filter-name='hseq')
            option(value='All') All
            option(value='HS') HS
            option(value='E') E
            option(value='Q') Q
