.col-md-3.col-sm-12.pull-right.right-panel
  #bs-collapse.panel-group
    .col-md-12.col-sm-6.last-panel
      .panel.wrap
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='', href='#two')
              | Assessment
        #two.panel-collapse.collapse.in
          .panel-body.addedComment
            .row
              .col-md-9.sliderRightPanel
                //input.slider(value='0', min='0', max='40', step='1', name='A5', type='range', data-parent='A', data-children='A511,A512', disabled)

            .text(data-name='panel1')
            .row
              .col-md-12
                h5.comment Comment
            .editable_text
            .row
              .col-md-12
                button(type="button" id="removeAssess" class="btn btn-primary btn-sm pull-right") Discard
                button(type="button" id="saveAssess" class="btn btn-primary btn-sm pull-right") Apply
    .col-md-12.col-sm-6.first-panel
      .panel.wrap
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='', href='#one')
              | Details
        #one.panel-collapse.collapse.in
          .panel-body
            .row
              .col-md-3
                h5 Name:
              .col-md-9
                h5.title-claim ISO 27001 Assessment
            .row
              .col-md-3
                h5 Label:
              .col-md-9
                h5.label-claim
            .row
              .col-md-3
                h5 Tags:
              .col-md-9
            .row
              .col-md-3
                h5 Description:
              .col-md-9
                h5.description


