
  .col-md-9.col-sm-12.pull-left.padding-content
    .panel.panel-default.panels-title
      .panel-heading
        .row.panel-hseq1.panels.box-under-header
          .col-md-1.pull-left.number
            h4 A5
          .col-md-5.col-sm-5.pull-left.title
            h4.title-hseq1
          .col-md-3.assessment
            .row
              .col-md-4
                .pie.pull-left(data-name='rangeslider5') 60%
              .col-md-4
                h6 Wynik
                h6 Oceniono
              .col-md-4
                h6.text-left.numberValue1 0/135
                h6.text-left.numberValue-per1 0%
          .col-md-2.bar
            span.numberValue1.numberValue 0/135
            input.slider(value='0', min='0', max='135', step='1', name='rangeslider1', data-children='11', type='range', disabled, data-parent='0' )
          .col-md-1-2.button-expand-three
            button.claim-hseq0.btn.btn-primary.btn-sm.custom-btn.up(type='button') Do góry
            button.claim-hseq2.btn.btn-primary.btn-sm.custom-btn.arrow(type='button' disabled)
              i.fa.fa-angle-double-left(aria-hidden='true')
            button.claim-hseq2.btn.btn-primary.btn-sm.custom-btn.arrow(type='button')
              i.fa.fa-angle-double-right(aria-hidden='true')
      .panel-body.panel-content.panels
        .col-md-12.filter-group


