//extends ../jade/layouts/_default.jade

.col-md-9.col-sm-12.col-xs-12.pull-left.padding-content
  .panel.panel-default
    .panel-body.panel-content.panels
      .col-md-12.col-sm-12.col-sx-12
        .row.panel-hseq5.space
          .col-md-1.col-sm-1.col-xs-1.box-under-header.pull-left.number
            h4 A5
          .col-md-5-3.col-sm-4.col-xs-8.box-under-header.pull-left.title
            a.title-hseq5(href='#')
              h4 Polityki bezpieczeństwa informacji
          .col-xs-3.visible-xs.box-under-header.button-expand
            button.claim-hseq1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
          .col-md-3.col-sm-4.col-xs-6.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4.col-xs-4
                .pie.pull-left(data-name='rangeslider5') 60%
              .col-md-4.col-sm-4.col-xs-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4.col-xs-4
                h6.text-left.numberValue5 0/40
                h6.text-left.numberValue-per5 0%
          .col-md-2.col-sm-2.col-xs-6.box-under-header.bar-header
            span.numberValueBig5.numberValue 0/40
            input.slider(value='0', min='0', max='40', step='1', name='rangeslider5', type='range', data-parent='0')
          .col-md-1-1.hidden-xs.box-under-header.button-expand
            button.claim-hseq5.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseqA6.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A6
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseqA6(href='#')
              h4 Organizacja bezpieczeństwa informacji
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangesliderA6') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValueA6 0/145
                h6.text-left.numberValue-perA6 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValueA6.numberValue 0/145
            input.slider(value='0', min='0', max='145', step='1', name='rangesliderA6', type='range', data-parent='A0', data-children='A61,A62')
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseqA6.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseqA7.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A7
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseqA7(href='#')
              h4 Bezpieczeństwo zasobów ludzkich
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangesliderA7') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValueA7 0/85
                  h6.text-left.numberValue-perA7 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValueA7.numberValue 0/85
            input.slider(value='0', min='0', max='85', step='1', name='rangesliderA7', type='range', data-parent='A0', data-children='A71,A72,A73' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseqA7.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseqA8.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A8
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseqA8(href='#')
              h4 Zarządzanie aktywami
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangesliderA8') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValueA8 0/115
                  h6.text-left.numberValue-perA8 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValueA8.numberValue 0/115
            input.slider(value='0', min='0', max='115', step='1', name='rangesliderA8', type='range', data-parent='A0', disabled )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseqA8.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseqA9.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A9
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseqA9(href='#')
              h4 Kontrola dostępu
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangesliderA9') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValueA9 0/200
                  h6.text-left.numberValue-perA9 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValueA9.numberValue 0/200
            input.slider(value='0', min='0', max='200', step='1', name='rangesliderA9', type='range',data-parent='A0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseqA9.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseqA10.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 10A
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseqA10(href='#')
              h4 Kryptografia
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangesliderA10') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValueA10 0/25
                h6.text-left.numberValue-perA10 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValueA10.numberValue 0/25
            input.slider(value='0', min='0', max='25', step='1', name='rangesliderA10', type='range', data-parent='A0', disabled )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseqA10.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseqA11.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A11
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseqA11(href='#')
              h4 Bezpieczeństwo fizyczne i środowiskowe
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangesliderA11') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValueA11 0/165
                h6.text-left.numberValue-perA11 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValueA11.numberValue 0/165
            input.slider(value='0', min='0', max='165', step='1', name='rangesliderA11', type='range', data-parent='A0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseqA11.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq12.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A12
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseq12(href='#')
              h4 Bezpieczna eksploatacja
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider12') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue12 0/180
                h6.text-left.numberValue-per12 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValue12.numberValue 0/180
            input.slider(value='0', min='0', max='180', step='1', name='rangeslider12', type='range', data-parent='0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseq12.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq13.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A13
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseq13(href='#')
              h4 Bezpieczeństwo komunikacji
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider13') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue13 0/100
                h6.text-left.numberValue-per13 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValue13.numberValue 0/100
            input.slider(value='0', min='0', max='100', step='1', name='rangeslider13', type='range', data-parent='0')
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseq13.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq14.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A14
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseq14(href='#')
              h4 Pozyskiwanie, rozwój i utrzymanie systemów
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider14') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue14 0/100
                h6.text-left.numberValue-per14 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValue14.numberValue 0/100
            input.slider(value='0', min='0', max='100', step='1', name='rangeslider14', type='range', data-parent='0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseq14.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq15.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A15
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseq15(href='#')
              h4 Relacje z dostawcami
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider15') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue15 0/55
                h6.text-left.numberValue-per15 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValue15.numberValue 0/55
            input.slider(value='0', min='0', max='55', step='1', name='rangeslider15', type='range', data-parent='0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseq15.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq16.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A16
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseq16(href='#')
              h4 Zarządzanie incydentami
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider16') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue16 0/70
                h6.text-left.numberValue-per16 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValue16.numberValue 0/70
            input.slider(value='0', min='0', max='70', step='1', name='rangeslider16', type='range', data-parent='0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseq16.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq17.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A17
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseq17(href='#')
              h4 Ciągłość działania
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider17') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue17 0/40
                h6.text-left.numberValue-per17 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValue17.numberValue 0/40
            input.slider(value='0', min='0', max='40', step='1', name='rangeslider17', type='range', data-parent='0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseq17.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
        .row.panel-hseq18.space
          .col-md-1.col-sm-1.box-under-header.pull-left.number
            h4 A18
          .col-md-5-3.col-sm-4.box-under-header.pull-left.title
            a.title-hseq18(href='#')
              h4 Zgodność
          .col-md-3.col-sm-3.box-under-header.assessment-icon
            .row
              .col-md-4.col-sm-4
                .pie.pull-left(data-name='rangeslider18') 60%
              .col-md-4.col-sm-4
                h6 Wynik
                h6 Oceniono
              .col-md-4.col-sm-4
                h6.text-left.numberValue18 0/80
                h6.text-left.numberValue-per18 0%
          .col-md-2.col-sm-3.box-under-header.bar-header
            span.numberValue18.numberValue 0/80
            input.slider(value='0', min='0', max='80', step='1', name='rangeslider18', type='range', data-parent='0' )
          .col-md-1-1.box-under-header.button-expand
            button.claim-hseq18.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń

include ../right-panels
//script(type="text/javascript" src='scripts/main.js')
//include ./includes/scripts


