
//.col-xl-9.col-lg-9.col-md-12.col-sm-12.col-xs-12.pull-left.padding-content

#myModal.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Confirmation
          .modal-body Save the changed node?
          .modal-footer
            button(type="button" id="removeAssessAlert" class="btn btn-primary btn-sm pull-right") Cancel
            button(type="button" id="saveAssessAlert" class="btn btn-primary btn-sm pull-right") OK


#modalEvidence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modalEvidenceLabel.modal-title Attach Evidence
      .modal-body
        p.title Select new file
        .form-group
          label(for='textareaNameEvid') Name
          textarea#textareaNameEvid.form-control(rows='1' placeholder='Name')
        .form-group
          input.file(type='file', name='')
          .input-group.col-xs-12
            input.form-control.name-evid(type='text', disabled='', placeholder='Add evidence')
            span.input-group-btn
              button.browse.btn.btn-primary(type='button')
                i.glyphicon.glyphicon-search
                |  Browse
        hr
        p.title Select Uploaded Evidence
        .row
          .col-md-12.col-ms-12.col-xs-12.modal-table
              table.table.modal-table-head
                thead
                  tr
                    th
                    th File name
                    th Upload date
                    th
              .modal-table-content
                table.table.modal-table-body
                  tbody
                    tr.modal-table-body__tr.modal-table-body__tr--no-border
                      td 1
                      td Evidence 1
                      td.hidden
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr.modal-table-body__tr
                      td 2
                      td Evidence 2
                      td.hidden
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
      .modal-footer
        button.save-new-evid.btn.btn-primary.btn-sm(type='submit') Save
        button.btn.btn-primary.btn-sm.pull-right(type="button" id="saveEvidence" data-dismiss="modal") Canel

#myProfile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close.modal-button-close(type='button', data-dismiss='modal', aria-label='Close')
          span.modal-button-close__arrow(aria-hidden='true') ×
        h4#myProfileLabel.modal-title Profile
      .modal-body
        .row
          .col-md-12.col-ms-12.col-xs-12
            form.form-horizontal(role='form')
              fieldset
                .form-group
                  label.col-sm-4.control-label(for='name') Username:
                  .col-sm-8
                    input#name.form-control(type='text', placeholder='Username')
                // Text input
                .form-group
                  label.col-sm-4.control-label(for='login') Real name:
                  .col-sm-8
                    input#login.form-control(type='text', placeholder='Real name')
                // Text input
                .form-group
                  label.col-sm-4.control-label(for='organization') Affiliation:
                  .col-sm-8
                    input#organization.form-control(type='text', placeholder='Affiliation')
                .form-group
                  label.col-sm-4.control-label(for='email') E-mail:
                  .col-sm-8
                    input#email.form-control(type='text', placeholder='E-mail')
                .form-group
                  label.col-sm-4.control-label(for='phone') Phone
                  .col-sm-8
                    input#phone.form-control(type='text', placeholder='Phone')
                .form-group
                  label.col-sm-4.control-label(for='language') Language:
                  .col-sm-8
                    select#language.form-control(name='language')
                      option(value='PL') polski
                      option(value='EN') angielski
                .form-group
                  label.col-sm-4.control-label(for='project') Default project:
                  .col-sm-8
                    select#project.form-control(name='project')
                      option(value='') Project 1
                      option(value='') Project 2
                      option(value='') Project 3
                      option(value='') Project 4
                      option(value='') Project 5
                .form-group
                  label.col-sm-4.control-label(for='role') System role:
                  .col-sm-8
                    input#role.form-control(type='text', placeholder='System role:')
                .form-group
                  label.col-sm-4.control-label(for='home-folder') Home folder:
                  .col-sm-8
                    input#home-folder.form-control(type='text', placeholder='Home folder')
                .form-group
                  label.col-sm-4.control-label Authentication:
                  .col-sm-4
                    input(type='checkbox')
                    span Active Directory
                  .col-sm-4
                    input(type='checkbox')
                    span NOR-STA
                .form-group
                  label.col-sm-4.control-label Change password:
                  .col-sm-8
                    input#change-password(type='checkbox')
                .form-group
                  label.col-sm-4.control-label(for='password') Password:
                  .col-sm-8
                    input#password.form-control(type='text', placeholder='Password')
                .form-group
                  label.col-sm-4.control-label(for='repeat-password') Repeat password:
                  .col-sm-8
                    input#repeat-password.form-control(type='text', placeholder='Repeat password')
                .form-group
                  label.col-sm-4.control-label Password strength:
                  .col-sm-8
                .form-group
                  label.col-sm-4.control-label Details Panel:
                  .col-sm-8
                    button.btn.btn-primary(type='button') Restore Default Settings
                .form-group
                  .col-sm-12.control-label
                    input(type='checkbox')
                    span Show assessment on argument opening
                .form-group
                  .col-sm-12.control-label
                    input(type='checkbox')
                    span Show Last Changes panel on project opening
      .modal-footer
        button.btn.btn-primary(type='submit', data-dismiss='modal') OK
        button.btn.btn-primary(type='submit') Apply
        button.btn.btn-primary(type='submit') Cancel

#preferences.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myPreferencesLabel.modal-title User Preferences
      .modal-body
        .row
          .col-md-12.col-ms-12.col-xs-12
            form.form-horizontal(role='form')
              fieldset
                .form-group
                  label.col-sm-4.control-label(for='name') User
                  .col-sm-8
                    input#user.form-control(type='text', placeholder='User')
                // Text input
                .form-group
                  label.col-sm-4.control-label(for='language') Language:
                  .col-sm-8
                    select#languages.form-control(name='languages')
                      option(value='PL') Polish
                      option(value='EN') English
                .form-group
                  label.col-sm-4.control-label(for='project') Default project:
                  .col-sm-8
                    select#defaultProject.form-control(name='project')
                      option(value='') Project 1
                      option(value='') Project 2
                      option(value='') Project 3
                      option(value='') Project 4
                      option(value='') Project 5
                .form-group
                  .col-sm-12.control-label
                    input(type='checkbox')
                    span Show assessment on project opening
                  .col-sm-12.control-label
                    input(type='checkbox')
                    span Show Last Changes panel on project opening
                .form-group
                  label.col-sm-4.control-label Details Panel:
                  .col-sm-8
                    button.btn.btn-primary(type='button') Restore Default Settings
      .modal-footer
        button.btn.btn-primary(type='submit', data-dismiss='modal') OK
        button.btn.btn-primary(type='submit') Save
        button.btn.btn-primary(type='submit') Cancel

