
.col-md-9.col-sm-12.col-xs-12.pull-left.padding-content
      //button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
      //  | Launch demo modal
      //// Modal
      //select#selectAssessment.form-control
      //  option#normalAssess Normalna ocena
      //  option#fastAssess Szybka ocena
      //  option#noAssessment Brak oceny



#myModal.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Confirmation
          .modal-body Save the changed node?
          .modal-footer
            //button.btn.btn-default(type='button', data-dismiss='modal') Close
            //button.btn.btn-primary(type='button') Save changes
            button(type="button" id="saveAssessAlert" class="btn btn-primary btn-sm") OK
            button(type="button" id="removeAssessAlert" class="btn btn-primary btn-sm pull-right") Canel



#modalEvidence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modalEvidenceLabel.modal-title Attach Evidence
      .modal-body
        p.title Select new file
        .form-group
          label(for='textareaNameEvid') Name
          textarea#textareaNameEvid.form-control(rows='1' placeholder='Name')
        .form-group
          input.file(type='file', name='')
          .input-group.col-xs-12
            input.form-control.name-evid(type='text', disabled='', placeholder='Add evidence')
            span.input-group-btn
              button.browse.btn.btn-primary(type='button')
                i.glyphicon.glyphicon-search
                |  Browse
        button.save-new-evid.btn.btn-primary(type='submit') Save
        hr
        p.title Select Uploaded Evidence
        .row
          .col-md-12
              table.table.table-condensed
                thead
                  tr
                    th
                    th File name
                    th Upload date
                    th
              .div-table-content
                table.table.table-condensed
                  tbody
                    tr
                      td 1
                      td Evidence 1
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 2
                      td Evidence 2
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 3
                      td Evidence 3
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 4
                      td Evidence 4
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 5
                      td Evidence 5
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 6
                      td Evidence 6
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 7
                      td Evidence 7
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 8
                      td Evidence 8
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 9
                      td Evidence 9
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview
                    tr
                      td 10
                      td Evidence 10
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Preview



      .modal-footer
        //button.btn.btn-default(type='button', data-dismiss='modal') Close
        //button.btn.btn-primary(type='button') Save changes
        button(type="button" id="saveEvidence" class="btn btn-primary btn-sm pull-right" data-dismiss="modal") Cancel



include ../right-panels




