#project-list
  .row
    .col-md-12.col-sm-12.col-xs-12
      .col-md-12.col-sm-12.col-xs-12
        .row.project-list-panel.box-header
          .col-lg-8.col-md-8.col-sm-8.col-xs-12.pull-left.title-main
            h3
              | Nazwa folderu / nazwa folderu / Ocena zgodności Systemu Zarządzania Bezpieczeństwem Informacji z wymaganiami ISO 27001:2014
          .col-lg-2.col-md-2.col-sm-2.col-xs-6.pull-left.select
            .row
              .col-xl-12.col-lg-12.col-md-12
                p Status
            .row
              .col-xl-12.col-lg-12.col-md-12
                select.form-control
                  option Nazwa
                  option Symbol
          .col-lg-2.col-md-2.col-sm-2.col-xs-6.pull-left.select
            .row
              .col-xl-12.col-lg-12.col-md-12
                p Sortowanie
            .row
              .col-xl-12.col-lg-12.col-md-12
                select#selectProjects.form-control
                  option#allProjects Wszystkie
                  option#openProjects Otwarte
                  option#closedProjects Zamknięte

.row.mainPagePanels
  .col-md-8
    .col-md-12.folders
      .panel.panel-primary
        .panel-heading
          //h3.panel-title
          table.table
            thead
              tr
                th
                  h4 Folder
                th
                  h4 Project
                th
          //.panel-body
          //ul.list-group
          //  li.list-group-item
          //      | List group item heading
          //h4 ADMINISTRATORS
        table.table.table-hover
          tbody
            tr
              td
                h4 NOR-STA/Szpital
              td
                h4 AKGdańsk
              td
                h4 Akredytacja Szpitala – Gdańsk
            tr
              td
                h4 NOR-STA/Szpital/Demo
              td
                h4 Demo
              td
                h4 Demo ISO 27001
            tr
              td
                h4 Szkolenie/Szpitale
              td
                h4 SZ-AK1
              td
                h4 Wzorce akredytacji
            tr
              td
                h4 Szkolenie/Szpitale
              td
                h4 SZ-AK2
              td
                h4 Efektywna akredytacja
            tr
              td
                h4 Szkolenie/Szpitale/2017
              td
              td


        //ul.list-group
        //  li.list-group-item
        //    h4 ADMINISTRATORS
        //  li.list-group-item
        //    h4 ARCHIWUM
        //  li.list-group-item
        //    h4 ARGEVIDE
        //  li.list-group-item
        //    h4 NOR-STA
        //  li.list-group-item
        //    h4 PODRĘCZNIK
        //  li.list-group-item
        //    h4 TEST


        //.panel-body
        //  h4 ARCHIWUM
        //.panel-body
        //  h4 ARGEVIDE
        //.panel-body
        //  h4 NOR-STA
        //.panel-body
        //  h4 PODRĘCZNIK
        //.panel-body
        //  h4 TEST
      //.panel.panel-primary
          .panel-heading
              h3.panel-title Panel title
  .col-md-4
    .col-md-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title Szczegóły
        .panel-body
          .row
            .col-xl-2.col-lg-3.col-md-3.col-sm-3
              p Folder:
            .col-xl-10.col-lg-9.col-md-9.col-sm-9
              h5 NOR-STA
          .row
            .col-xl-2.col-lg-3.col-md-3.col-sm-3
              h5 Nazwa:
            .col-xl-10.col-lg-9.col-md-9.col-sm-9
              h5 Ocena zgodności Systemu Zarządzania Bezpieczeństwem Informacji z wymaganiami ISO 27001:2014
          .row
            .col-xl-2.col-lg-3.col-md-3.col-sm-3
              h5 Symbol:
            .col-md-9
              h5 ISO
          .row
            .col-xl-2.col-lg-3.col-md-3.col-sm-3
              h5 Autor:
            .col-xl-10.col-lg-9.col-md-9.col-sm-9
              h5 System Administrator
          .row
            .col-xl-2.col-lg-3.col-md-3.col-sm-3
              h5 Utworzono:
            .col-xl-10.col-lg-9.col-md-9.col-sm-9
              h5 2016-02-16
          .row
            .col-xl-2.col-lg-3.col-md-3.col-sm-3
              h5 Opis:
            .col-xl-10.col-lg-9.col-md-9.col-sm-9
              h5 Projekt demonstracyjny dla standardu ISO 27001:2015
        .panel-body
      //.panel.panel-primary
      //  .panel-heading
      //    h3.panel-title Ostatnie zmiany
      //  .panel-body Panel content
      //  .panel-body Panel content
      //  .panel-body Panel content
      //  .panel-body Panel content

