#main-panel.row
  .col-md-12.col-sm-12.col-xs-12
    .col-md-12.col-sm-12.col-xs-12
      .row.project-list-panel.box-header
        .col-lg-8.col-md-8.col-sm-8.col-xs-12.pull-left.title-main
          h3
            | Nazwa folderu / nazwa folderu / Ocena zgodności Systemu Zarządzania Bezpieczeństwem Informacji z wymaganiami ISO 27001:2014
        .col-lg-2.col-md-2.col-sm-2.col-xs-6.pull-left.select
          .row
            .col-xl-12.col-lg-12.col-md-12
              p Status
          .row
            .col-xl-12.col-lg-12.col-md-12
              select.form-control
                option Nazwa
                option Symbol
        .col-lg-2.col-md-2.col-sm-2.col-xs-6.pull-left.select
          .row
            .col-xl-12.col-lg-12.col-md-12
              p Sortowanie
          .row
            .col-xl-12.col-lg-12.col-md-12
              select#selectProjects.form-control
                option#allProjects Wszystkie
                option#openProjects Otwarte
                option#closedProjects Zamknięte

#panel-content.row.mainPagePanels
  .col-lg-8.col-md-12.col-sm-12.col-xs-12.padding-content
    .col-md-12.folders
      .panel.panel-primary.simple
        .panel-heading
          //h3.panel-title
          table.table
            thead
              tr
                th
                  h4 Folder
                th
                  h4 Project
                th
        table.table.table-hover
          tbody
            tr
              td
                h4 NOR-STA/Szpital
              td
                h4 AK Gdańsk
              td
                h4 Akredytacja Szpitala – Gdańsk
            tr
              td
                h4 NOR-STA/Szpital/Demo
              td
                h4 Demo
              td
                h4 Demo ISO 27001
            tr
              td
                h4 Szkolenie/Szpitale
              td
                h4 SZ-AK1
              td
                h4 Wzorce akredytacji
            tr
              td
                h4 Szkolenie/Szpitale
              td
                h4 SZ-AK2
              td
                h4 Efektywna akredytacja
            tr
              td
                h4 Szkolenie/Szpitale/2017
              td
              td
      .panel.panel-primary.folders.tree.display
        .panel-heading
          table.table
            thead
              tr
                th
                  h4 Folder
                th
                  h4 Project
                th

        ul.list-group
          li.list-group-item
            span.parent-padding
              i.fa.fa-folder-o
              a(href='#') NOR-STA
              h4 NOR-STA
              h4 Projekty NOR-STA
            ul
              li.list-group-item
                span
                  i.fa.fa-folder-o
                  a(href='#') Demo
                ul
                  li.list-group-item
                    span
                      i.fa.fa-list(aria-hidden='true')
                      a(href='#') NOR-STA Demonstrator
              li.list-group-item
                span
                  i.fa.fa-folder-o
                  a(href='#') Projekty
                ul
                  li.list-group-item
                    span
                      i.fa.fa-folder-o
                      a(href='#') Szpital
                  li.list-group-item
                    span
                      i.fa.fa-folder-o
                      a(href='#') Szkolenia
                    ul
                      li.list-group-item
                        span
                          i.fa.fa-folder-o
                          a(href='#') Szkolenia 2017
                        ul
                          li.list-group-item
                            span
                              i.fa.fa-list(aria-hidden='true')
                              a(href='#') Szkolenie 1
                          li.list-group-item
                            span
                              i.fa.fa-list(aria-hidden='true')
                              a(href='#') Szkolenie 2
                      li.list-group-item
                        span
                          i.fa.fa-list(aria-hidden='true')
                          a(href='#') Akredytacja
                      li.list-group-item
                        span
                          i.fa.fa-list(aria-hidden='true')
                          a(href='#') Iso 27001
                  li.list-group-item
                    span
                      i.fa.fa-folder-o
                      a(href='#') Trial
          li.list-group-item
            span.parent-padding
              i.fa.fa-folder-o
              a(href='#') Szablony
            ul
              li.list-group-item
                span
                  i.fa.fa-wrench(aria-hidden='true')
                  a(href='#') Szablon ISO 27001
          li.list-group-item
            span.parent-padding
              i.fa.fa-folder-o
              a(href='#') Testy
            ul
              li.list-group-item
                span
                  i.fa.fa-folder-o
                  a(href='#') Testy 1

  .col-lg-4.right-panel
    #bs-collapse.panel-group.fixed-panel
      .panel-right
        .first-panel.margin-panel
          .panel.wrap
            .panel-heading
              .row
                .col-md-2.col-sm-2.col-xs-2
                  i.fa.fa-file-text-o(aria-hidden='true')
                .col-md-10.col-sm-10.col-xs-10
                  h4.panel-title
                    a
                      | Szczegóły
            #one.panel-collapse.collapse.in
              .panel-body
                .row
                  .col-xl-2.col-lg-3.col-md-3.col-sm-3
                    p Folder:
                  .col-xl-10.col-lg-9.col-md-9.col-sm-9
                    h5 NOR-STA
                .row
                  .col-xl-2.col-lg-3.col-md-3.col-sm-3
                    h5 Nazwa:
                  .col-xl-10.col-lg-9.col-md-9.col-sm-9
                    h5 Ocena zgodności Systemu Zarządzania Bezpieczeństwem Informacji z wymaganiami ISO 27001:2014
                .row
                  .col-xl-2.col-lg-3.col-md-3.col-sm-3
                    h5 Symbol:
                  .col-md-9
                    h5 ISO
                .row
                  .col-xl-2.col-lg-3.col-md-3.col-sm-3
                    h5 Autor:
                  .col-xl-10.col-lg-9.col-md-9.col-sm-9
                    h5 System Administrator
                .row
                  .col-xl-2.col-lg-3.col-md-3.col-sm-3
                    h5 Utworzono:
                  .col-xl-10.col-lg-9.col-md-9.col-sm-9
                    h5 2016-02-16
                .row
                  .col-xl-2.col-lg-3.col-md-3.col-sm-3
                    h5 Opis:
                  .col-xl-10.col-lg-9.col-md-9.col-sm-9
                    h5 Projekt demonstracyjny dla standardu ISO 27001:2015
                .row
                  .col-xl-12.col-lg-12.col-md-12.col-sm-12
                    button.btn.btn-primary.btn-sm.pull-right(type='submit') Otwórz projekt
